<?
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// 職員登録画面
//――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
require_once("common.php");

define("MISETTEI", "(未設定)");

//******************************************************************************
// セッション・リクエスト判定
//******************************************************************************
if (!$_SESSION["CID"]) { header("Location: login.html"); die; } // 未ログインなら、ログインページへ
if (!$_SESSION["EMPMST_ROW"]["is_admin"]) { header("Location: ./"); die; } // システム管理者でなければ、インデックスページへ
$cid = $_SESSION["CID"]; // 顧客ID
$revid = (int)$req["revid"];

$revisionRow = c2dbGetTopRow("select * from ".$cid."_hnv_revisions where revid = ".$revid);

$bunrui_ext1 = hh(trim($_SESSION["CLIENT_ROW"]["bunrui_ext1"]));
$bunrui_ext2 = hh(trim($_SESSION["CLIENT_ROW"]["bunrui_ext2"]));


//**************************************************************************************************
// ログイン可能かを確認する
//**************************************************************************************************
if ($req["ajax_action"]=="try_check_login_exist") {
	$empid = $req["empid"];
	$out = "";
	if (strlen($empid)) {
		$empmstRow = c2dbGetTopRow("select * from ".$cid."_hnv_emps where empid = ".c2dbStr($empid));
		if ($loginRow["login_id"]) {
			$out = '<span style="color:#00aa00">「'.hh($empid).'」はログイン可能です</span>';
		} else {
			$out = '<span style="color:#ff0000">「'.hh($empid).'」はログイン登録がありません</span>';
		}
	} else {
	}
	echo 'ok{login_check_msg:"'.str_replace('"', '\"', $out).'"}';
	die;
}





//**************************************************************************************************
//
//**************************************************************************************************
if ($req["ajax_action"]=="try_delete") {
	c2dbExec("delete from ".$cid."_hnv_casts where empid = ".c2dbStr($req["empid"])." and revid = ".$revid);
	echo "ok";
	die;
}





//**************************************************************************************************
// 新規作成か更新
//**************************************************************************************************
if ($req["ajax_action"]=="try_save") {
	$_cur_empid = $req["cur_empid"];
	$_empid = trim($req["empid"]);
	$_is_excluded = ($req["is_excluded"]=="1" ? "1" : "");
	$_is_hyomaster = ($req["is_hyomaster"]=="1" ? "1" : "");

	if (!strlen($_empid)) { echo "職員を指定してください。"; die; }
	$_empnm = c2dbGetOne("select empnm from ".$cid."_hnv_emps where empid = ".c2dbStr($_empid));
	if (!strlen($_empnm)) { echo "指定した職員IDは無効です。職員が登録されていません。(".hh($_empid).")"; die; }

	$kojin_hyo_step = (int)$req["kojin_hyo_step"];
	for ($idx=1; $idx<=6; $idx++) {
		if ($kojin_hyo_step && $idx>$kojin_hyo_step) $req["hyouka".$idx."_empid"] = "";
	}
  if (!preg_match("/^[0-9A-Za-z_\-\+]*$/", $req["toukyu"])) {echo "等級を半角英数字で指定してください"; die; }


	$h1nm = c2dbGetOne("select empnm from ".$cid."_hnv_emps where empid = ".c2dbStr($req["hyouka1_empid"]));
	$h2nm = c2dbGetOne("select empnm from ".$cid."_hnv_emps where empid = ".c2dbStr($req["hyouka2_empid"]));
	$h3nm = c2dbGetOne("select empnm from ".$cid."_hnv_emps where empid = ".c2dbStr($req["hyouka3_empid"]));
	$h4nm = c2dbGetOne("select empnm from ".$cid."_hnv_emps where empid = ".c2dbStr($req["hyouka4_empid"]));
	$h5nm = c2dbGetOne("select empnm from ".$cid."_hnv_emps where empid = ".c2dbStr($req["hyouka5_empid"]));
	$h6nm = c2dbGetOne("select empnm from ".$cid."_hnv_emps where empid = ".c2dbStr($req["hyouka6_empid"]));

	// 新規の場合
	if (!$_cur_empid) {
		$row = c2dbGetTopRow("select * from ".$cid."_hnv_casts where empid = ".c2dbStr($_empid)." and revid = ".$revid);
		if ($row) { echo "指定した職員は既に登録されています。"; die; }
		$sql =
		" insert into ".$cid."_hnv_casts (".
		"     revid, empid, empnm, syokusyu, syozoku, yakusyoku, sisetu, bunrui_ext1, bunrui_ext2, toukyu, hyoid".
		"    ,hyouka1_empid, hyouka2_empid, hyouka3_empid, hyouka4_empid, hyouka5_empid, hyouka6_empid".
		"    ,hyouka1_empnm, hyouka2_empnm, hyouka3_empnm, hyouka4_empnm, hyouka5_empnm, hyouka6_empnm".
		"    ,is_hyomaster, kojin_hyo_step, is_excluded, sort_order".
		" )".
		" values (".
		" ".$revid.
		",".c2dbStr($_empid).
		",".c2dbStr($_empnm).
		",".c2dbStr(ve(trim($req["syokusyu"]))).
		",".c2dbStr(ve(trim($req["syozoku"]))).
		",".c2dbStr(ve(trim($req["yakusyoku"]))).
		",".c2dbStr(ve(trim($req["sisetu"]))).
		",".c2dbStr(ve(trim($req["bunrui_ext1"]))).
		",".c2dbStr(ve(trim($req["bunrui_ext2"]))).
		",".c2dbStr(ve(trim($req["toukyu"]))).
		",".((int)$req["hyoid"]).
		",".c2dbStr($req["hyouka1_empid"]).
		",".c2dbStr($req["hyouka2_empid"]).
		",".c2dbStr($req["hyouka3_empid"]).
		",".c2dbStr($req["hyouka4_empid"]).
		",".c2dbStr($req["hyouka5_empid"]).
		",".c2dbStr($req["hyouka6_empid"]).
		",".c2dbStr($h1nm).
		",".c2dbStr($h2nm).
		",".c2dbStr($h3nm).
		",".c2dbStr($h4nm).
		",".c2dbStr($h5nm).
		",".c2dbStr($h6nm).
		",'".$_is_hyomaster."'".
		",".(int)$req["kojin_hyo_step"].
		",'".$_is_excluded."'".
		",0".
		")";
		c2dbExec($sql);
	}
	else {
		// 更新の場合
		$sql =
		" select * from ".$cid."_hnv_casts where empid = ".c2dbStr($_empid)." and empid <> ".c2dbStr($_cur_empid)." and revid = ".$revid;
		$row = c2dbGetTopRow($sql);
		if ($row) { echo "指定した職員は既に登録されています。"; die; }
    // 評価表の変更を確認
    $_hyoid = ((int)$req["hyoid"] ? (int)$req["hyoid"] : "0");
		$_old_hyoid = (int)c2dbGetOne(" select hyoid from ".$cid."_hnv_casts where empid = ".c2dbStr($_cur_empid)." and revid = ".$revid);
		$sql =
		" update ".$cid."_hnv_casts set".
		" empid = ".c2dbStr($_empid).
		",empnm = ".c2dbStr($_empnm).
		",syokusyu = ".c2dbStr($req["syokusyu"]).
		",syozoku = ".c2dbStr($req["syozoku"]).
		",yakusyoku = ".c2dbStr($req["yakusyoku"]).
		",sisetu = ".c2dbStr($req["sisetu"]).
		",bunrui_ext1 = ".c2dbStr($req["bunrui_ext1"]).
		",bunrui_ext2 = ".c2dbStr($req["bunrui_ext2"]).
		",toukyu = ".c2dbStr($req["toukyu"]).
		",hyoid = ".$_hyoid.
		",hyouka1_empid = ".c2dbStr($req["hyouka1_empid"]).
		",hyouka2_empid = ".c2dbStr($req["hyouka2_empid"]).
		",hyouka3_empid = ".c2dbStr($req["hyouka3_empid"]).
		",hyouka4_empid = ".c2dbStr($req["hyouka4_empid"]).
		",hyouka5_empid = ".c2dbStr($req["hyouka5_empid"]).
		",hyouka6_empid = ".c2dbStr($req["hyouka6_empid"]).
		",hyouka1_empnm = ".c2dbStr($h1nm).
		",hyouka2_empnm = ".c2dbStr($h2nm).
		",hyouka3_empnm = ".c2dbStr($h3nm).
		",hyouka4_empnm = ".c2dbStr($h4nm).
		",hyouka5_empnm = ".c2dbStr($h5nm).
		",hyouka6_empnm = ".c2dbStr($h6nm).
		",is_hyomaster = '".$_is_hyomaster."'".
		",kojin_hyo_step = ".(int)$req["kojin_hyo_step"].
		",is_excluded = '".$_is_excluded."'".
		" where empid = ".c2dbStr($_cur_empid).
		" and revid = ".$revid;
		c2dbExec($sql);
    if ($_hyoid != $_old_hyoid) {
      $fields = array();
  		for ($idx=1; $idx<=50; $idx++) $fields[]= " jiko_".$idx." = null";
      for ($idx=1; $idx<=50; $idx++) $fields[]= " jiko_sinkoku_".$idx." = null";
  		for ($idx=1; $idx<=50; $idx++) $fields[]= " hyo1_".$idx." = null";
  		for ($idx=1; $idx<=50; $idx++) $fields[]= " hyo2_".$idx." = null";
  		for ($idx=1; $idx<=50; $idx++) $fields[]= " hyo3_".$idx." = null";
  		for ($idx=1; $idx<=50; $idx++) $fields[]= " hyo4_".$idx." = null";
  		for ($idx=1; $idx<=50; $idx++) $fields[]= " hyo5_".$idx." = null";
  		for ($idx=1; $idx<=50; $idx++) $fields[]= " hyo6_".$idx." = null";
  		for ($idx=1; $idx<=6; $idx++) $fields[]= " hyo".$idx."_ttl = null";
  		$fields[]= " hyo9_ttl = null";
  		$fields[]= " adjust = null";
      $fields[]= " progress = 0";
  		c2dbExec(" update ".$cid."_hnv_casts set ".implode(",", $fields)." where empid = ".c2dbStr($_cur_empid)." and revid = ".$revid);
    }
	}
	if (!$_SESSION["SUPER_CID"] || $_SESSION["SUPER_CID"]==$cid) {
		if ($_cur_empid==$_SESSION["EMPID"]) {
			$_SESSION["CASTS_ROW"] = c2dbGetTopRow("select * from ".$cid."_hnv_casts where revid = ".$revid." and empid = ".c2dbStr($_empid));
		}
	}
  if ($_cur_empid==$_SESSION["EMPID"]) {
    $_SESSION["IS_LOGIN_HYOMASTER"] = $_is_hyomaster;
  }

	echo "ok";
	die;
}





//**************************************************************************************************
// （ajax）編集パネルのロード
//**************************************************************************************************
if ($req["ajax_action"]=="exec_emp_finder") {
	$active_id = (int)$req["active_id"];
	$sql = array();
	$sql[]= " select he.empid, he.empnm, hc.empid as cast_empid, hc.syokusyu, hc.yakusyoku,";
	$sql[]= " hc.syozoku, hc.sisetu, hc.bunrui_ext1, hc.bunrui_ext2, hc.toukyu from ".$cid."_hnv_emps he";
	$sql[]= " left outer join ".$cid."_hnv_casts hc on ( hc.revid = ".(int)$req["revid"]." and hc.empid = he.empid )";
	$sql[]= " where 1 = 1";

	if (trim($req["empnm"])!="") {
		$sql[]= " and ( he.empid like ".c2dbStr(trim($req["empnm"])."%");
		$ary = explode(" ", str_replace("　", " ", $req["empnm"]));
		$sql2 = array();
		foreach ($ary as $s) {
			if (trim($s)=="") continue;
			$cnt++;
			if (count($sql2)>5) break;
			$sql2[]= "he.empnm like ".c2dbStr("%".$s."%");
		}
		if (count($sql2)) $sql[]= " or (".implode(" or ", $sql2).")";
		$sql[]= ")";
	}
	if ($req["syokusyu"]==MISETTEI) $sql[]= " and (hc.syokusyu is null or hc.syokusyu = '')";
	else if ($req["syokusyu"]!="") $sql[]= " and hc.syokusyu = ".c2dbStr($req["syokusyu"]);
	if ($req["yakusyoku"]==MISETTEI) $sql[]= " and (hc.yakusyoku is null or hc.yakusyoku = '')";
	else if ($req["yakusyoku"]!="") $sql[]= " and hc.yakusyoku = ".c2dbStr($req["yakusyoku"]);
	if ($req["syozoku"]==MISETTEI) $sql[]= " and (hc.syozoku is null or hc.syozoku = '')";
	else if ($req["syozoku"]!="") $sql[]= " and hc.syozoku = ".c2dbStr($req["syozoku"]);
	if ($req["sisetu"]==MISETTEI) $sql[]= " and (hc.sisetu is null or hc.sisetu = '')";
	else if ($req["sisetu"]!="") $sql[]= " and hc.sisetu = ".c2dbStr($req["sisetu"]);
	if ($req["bunrui_ext1"]==MISETTEI) $sql[]= " and (hc.bunrui_ext1 is null or hc.bunrui_ext1 = '')";
	else if ($req["bunrui_ext1"]!="") $sql[]= " and hc.bunrui_ext1 = ".c2dbStr($req["bunrui_ext1"]);
	if ($req["bunrui_ext2"]==MISETTEI) $sql[]= " and (hc.bunrui_ext2 is null or hc.bunrui_ext2 = '')";
	else if ($req["bunrui_ext2"]!="") $sql[]= " and hc.bunrui_ext2 = ".c2dbStr($req["bunrui_ext2"]);
	if ($req["toukyu"]==MISETTEI) $sql[]= " and (hc.toukyu is null or hc.toukyu = '')";
	else if ($req["toukyu"]!="") $sql[]= " and hc.toukyu = ".c2dbStr($req["toukyu"]);
	$sql[]= " order by he.empid limit 51";

	$empRows = c2dbGetRows(implode("\n", $sql));
	if (!count($empRows)) {
		echo '<div style="padding:5px 0">職員は存在しません。</div>';
		die;
	}
	echo '<div'.(count($empRows)>5 ? ' style="height:100px; overflow-y:scroll"' : '').'>';
	echo '<table cellspacing="0" cellpadding="0">';
	echo '<th class="font11" style="padding:2px"><nobr>職員ID</nobr></th>';
	echo '<th class="font11" style="padding:2px"><nobr>職員名</nobr></th>';
	echo '<th class="font11" style="padding:2px"><nobr>職種</nobr></th>';
	echo '<th class="font11" style="padding:2px"><nobr>所属部署</nobr></th>';
	echo '<th class="font11" style="padding:2px"><nobr>役職</nobr></th>';
	echo '<th class="font11" style="padding:2px"><nobr>所属施設</nobr></th>';
	if ($bunrui_ext1) echo '<th class="font11" style="padding:2px"><nobr>'.$bunrui_ext1.'</nobr></th>';
	if ($bunrui_ext2) echo '<th class="font11" style="padding:2px"><nobr>'.$bunrui_ext2.'</nobr></th>';
	echo '<th class="font11" style="padding:2px"><nobr>等級</nobr></th>';
	$cnt = 0;
	foreach ($empRows as $row) {
		$cnt++;
		if ($cnt>50) break;
		if (!$active_id && $row["cast_empid"]) {
			echo '<tr class="gray emp" empid="'.hh($row["empid"]).'" >';
		} else {
			echo '<tr class="emp" empid="'.hh($row["empid"]).'" >';
		}
		echo '<td class="left"><nobr>'.hh($row["empid"]).'</nobr></td>';
		if (!$active_id && $row["cast_empid"]) {
			echo '<td class="left"><nobr>'.hh($row["empnm"]).'</nobr></td>';
		} else {
			echo '<td class="left"><nobr><a href="javascript:void(0)" onclick="applyEmp(this.innerHTML, \''.hh($row["empid"]).'\')">'.hh($row["empnm"]).'</a></nobr></td>';
		}
		echo '<td><nobr>'.hh($row["syokusyu"]).'</nobr></td>';
		echo '<td><nobr>'.hh($row["syozoku"]).'</nobr></td>';
		echo '<td><nobr>'.hh($row["yakusyoku"]).'</nobr></td>';
		echo '<td><nobr>'.hh($row["sisetu"]).'</nobr></td>';
		if ($bunrui_ext1) echo '<td><nobr>'.hh($row["bunrui_ext1"]).'</nobr></td>';
		if ($bunrui_ext2) echo '<td><nobr>'.hh($row["bunrui_ext2"]).'</nobr></td>';
		echo '<td><nobr>'.hh($row["toukyu"]).'</nobr></td>';
		if (!$active_id && $row["cast_empid"]) {
			echo '<th><nobr>登録済</nobr></td>';
		} else {
			echo '<th></th>';
		}
		echo '</tr>';
	}
	echo '</table>';
	if ($cnt>50) {
		echo '<div>50件まで表示されます。</div>';
	}
	echo '</div>';
	die;
}



//**************************************************************************************************
// （ajax）編集パネルのロード
//**************************************************************************************************
if ($req["ajax_action"]=="load_editor") {
	$empRow = c2dbGetTopRow("select * from ".$cid."_hnv_casts where revid = ".$revid." and empid = ".c2dbStr($req["empid"]));
?>
<div style="padding:4px">
	<button type="button" onclick="closeEditor()" class="btn100 btn_cancel"<?=BTN_FOCUS_BLUR?>><div>キャンセル</div></button>
	<button type="button" onclick="trySave()" class="btn70 btn_save"<?=BTN_FOCUS_BLUR?>><div>保存</div></button>
	<? if ($empRow["empid"]) { ?>
	<button type="button" onclick="tryDelete('<?=hh($empRow["empid"])?>')" class="btn70 btn_delete" style="margin-left:50px"<?=BTN_FOCUS_BLUR?>><div>削除</div></button>
	<? } ?>
</div>
<div>
	<form id="frm" name="frm">
		<input type="hidden" name="cur_empid" value="<?=hh($empRow["empid"])?>" />
		<div><?=hh($errormsg)?></div>
		<table cellspacing="0" cellpadding="0" class="list_table prop_table">
		<tr>
			<th><nobr>職員(被評価者)</nobr></th>
			<td>
				<input type="hidden" name="empid" id="hdn_empid0" value="<?=hh($empRow["empid"])?>" />
				<table cellspacing="0" cellpadding="0"><tr>
				<td style="padding:0; background:0; border:0">
					<table cellspacing="0" cellpadding="0"><tr>
						<td id="td_empid0" style="width:50px; border:1px solid #ffffff; background:#eeeeee; height:20px"><nobr><?=$empRow["empid"]?></nobr></td>
						<td id="td_empnm0" style="width:250px; border:1px solid #ffffff; background:#eeeeee"><?=$empRow["empnm"]?></td>
					</tr></table>
				</td>
				<td style="padding:0 0 0 10px; background:0; border:0">
					<button type="button" onclick="showEmpFinder('0')" class="btn60 btn_edit" <?=BTN_FOCUS_BLUR?>>
						<div id="btn_finder0">選択</div>
					</button>
				</td>
				</tr></table>

				<div id="emp_finder0" style="display:none">
				</div>
			</td>
		</tr>
		<tr>
			<th>職種</th>
			<td><input type="text" class="text w150" name="syokusyu" maxlength="50" value="<?=hh($empRow["syokusyu"])?>" />
				<span class="instruction">50文字まで／空欄の場合「最終判定」で「未指定」に分類計上されます。</span>
			</td>
		</tr>
		<tr>
			<th>所属部署</th>
			<td><input type="text" class="text w150" name="syozoku" maxlength="50" value="<?=hh($empRow["syozoku"])?>" />
				<span class="instruction">50文字まで／空欄の場合「最終判定」で「未指定」に分類計上されます。</span>
			</td>
		</tr>
		<tr>
			<th>役職</th>
			<td><input type="text" class="text w150" name="yakusyoku" maxlength="50" value="<?=hh($empRow["yakusyoku"])?>" />
				<span class="instruction">50文字まで／空欄の場合「最終判定」で「未指定」に分類計上されます。</span>
			</td>
		</tr>
		<tr>
			<th>所属施設</th>
			<td><input type="text" class="text w150" name="sisetu" maxlength="50" value="<?=hh($empRow["sisetu"])?>" />
				<span class="instruction">50文字まで／空欄の場合「最終判定」で「未指定」に分類計上されます。</span>
			</td>
		</tr>
		<? if ($bunrui_ext1) { ?>
		<tr>
			<th><?=$bunrui_ext1?></th>
			<td><input type="text" class="text w150" name="bunrui_ext1" maxlength="50" value="<?=hh($empRow["bunrui_ext1"])?>" />
				<span class="instruction">50文字まで／空欄の場合「最終判定」で「未指定」に分類計上されます。</span>
			</td>
		</tr>
		<? } ?>
		<? if ($bunrui_ext2) { ?>
		<tr>
			<th><?=$bunrui_ext2?></th>
			<td><input type="text" class="text w150" name="bunrui_ext2" maxlength="50" value="<?=hh($empRow["bunrui_ext2"])?>" />
				<span class="instruction">50文字まで／空欄の場合「最終判定」で「未指定」に分類計上されます。</span>
			</td>
		</tr>
		<? } ?>
		<tr>
			<th>等級</th>
			<td><input type="text" class="text w150 imeoff" name="toukyu" maxlength="10" value="<?=hh($empRow["toukyu"])?>" />
				<span class="instruction">10文字まで／空欄の場合「最終判定」で「未指定」に分類計上されます。</span>
			</td>
		</tr>
		<tr>
			<th>評価表番号</th>
			<td style="height:25px">
				<?
					$hyoheadRows = c2dbGetRows("select * from ".$cid."_hnv_scorehead where revid = ".$revid." order by hyoid");
					if (count($hyoheadRows)) {
				?>
				<select name="hyoid">
					<option value=""></option>
					<?
						foreach ($hyoheadRows as $row) {
							echo '<option value="'.$row["hyoid"].'"'. ($row["hyoid"]==$empRow["hyoid"] ? " selected":"") . '>';
							echo hh($row["hyoid"].": ".$row["hyonm"]).'</option>';
						}
					?>
				</select>
				<span class="red">評価実施後に評価表番号を変更した場合は、再度、評価実施を見直してください。</span>
				<? } else { ?>
					<span class="instruction">評価表はまだ作成されていません。評価表を作成後にこの項目を指定してください。</span>
				<? } ?>
			 </td>
		</tr>
		<tr>
			<th>評価ステップ数</th>
			<td style="height:25px">
				<select name="kojin_hyo_step" onchange="changeKojinHyoStep(this.value)">
					<option value="0">指定なし（<?=$revisionRow["hyo_step"]?>段階評価）</option>
					<?
						for ($idx=1; $idx<=(int)$revisionRow["hyo_step"]-1; $idx++) {
							echo '<option value="'.$idx.'"'. ($idx==(int)$empRow["kojin_hyo_step"] ? " selected":"") . '>';
							echo $idx.'段階評価</option>';
						}
					?>
				</select>
			 </td>
		</tr>
		<tr>
			<th>評価者</th>
			<td>
				<? $max_hyo_step = (int)$empRow["kojin_hyo_step"]; ?>
				<? if (!$max_hyo_step) $max_hyo_step = (int)$revisionRow["hyo_step"]; ?>
				<? for ($idx=1; $idx<=(int)$revisionRow["hyo_step"]; $idx++) { ?>
					<div id="div_hyouka<?=$idx?>" style="<?=($idx<=$max_hyo_step ? "" : 'display:none')?>">
					<input type="hidden" name="hyouka<?=$idx?>_empid" id="hdn_empid<?=$idx?>" value="<?=hh($empRow["hyouka".$idx."_empid"])?>" />
					<table cellspacing="0" cellpadding="0"><tr>
					<td style="padding:0 10px 0 0; background:0; border:0"><?=$idx?>次評価者</td>
					<td style="padding:0; background:0; border:0">
						<table cellspacing="0" cellpadding="0"><tr>
							<td id="td_empid<?=$idx?>" style="width:50px; border:1px solid #ffffff; background:#eeeeee; height:20px"><nobr><?=$empRow["hyouka".$idx."_empid"]?></nobr></td>
							<td id="td_empnm<?=$idx?>" style="width:250px; border:1px solid #ffffff; background:#eeeeee"><?=$empRow["hyouka".$idx."_empnm"]?></td>
						</tr></table>
					</td>
					<td style="padding:0 0 0 10px; background:0; border:0">
						<button type="button" onclick="showEmpFinder('<?=$idx?>')" class="btn60 btn_edit" <?=BTN_FOCUS_BLUR?>>
							<div id="btn_finder<?=$idx?>">選択</div>
						</button>
					</td>
					</tr></table>
					<div id="emp_finder<?=$idx?>" style="display:none"></div>
					</div>
				<? } ?>
				<span class="instruction">職員を指定／指定しない場合、評価されません。
			</td>
		</tr>
		<tr>
			<th>最終判定者</th>
			<td>
				<select name="is_hyomaster">
					<option value=""></option>
					<option value="1"<?=($empRow["is_hyomaster"]?" selected":"")?>>最終判定者である</option>
				</select><br>
				<span class="instruction">評価期間内でひとり以上必要です。<br>指定しない場合、「最終判定」を閲覧/実施できません</span>
			 </td>
		</tr>
		<tr>
			<th>評価対象外</th>
			<td>
				<select name="is_excluded">
					<option value=""></option>
					<option value="1"<?=($empRow["is_excluded"]?" selected":"")?>>評価対象外</option>
				</select><br>
				<span class="instruction">この職員が被評価者でない場合は、「評価対象外」にしてください。</span>
			</td>
		</tr>
		</table>
	</form>
</div>
<div style="display:none" id="emp_finder_stocker">
	<div style="background-color:#caea48; padding:5px" id="emp_finder_content">
		<input type="text" id="sf_empnm" class="text w100" title="職員IDまたは職員名で検索／職員IDは前方一致、職員名は部分一致で検索" />
		<?
			$sql = "select empid, empnm, syozoku, syokusyu, yakusyoku, sisetu, bunrui_ext1, bunrui_ext2, toukyu from ".$cid."_hnv_casts where revid = ".$revid;
			$empsRows = c2dbGetRows($sql);
			$bunpu_toukyu = array();
			$bunpu_syozoku = array();
			$bunpu_syokusyu = array();
			$bunpu_yakusyoku = array();
			$bunpu_sisetu = array();
			$bunpu_bunrui_ext1 = array();
			$bunpu_bunrui_ext2 = array();
			foreach ($empsRows as $_row) {
				$bunpu_toukyu[$_row["toukyu"]] = 1;
				$bunpu_syozoku[$_row["syozoku"]] = 1;
				$bunpu_syokusyu[$_row["syokusyu"]] = 1;
				$bunpu_yakusyoku[$_row["yakusyoku"]] = 1;
				$bunpu_sisetu[$_row["sisetu"]] = 1;
				$bunpu_bunrui_ext1[$_row["bunrui_ext1"]] = 1;
				$bunpu_bunrui_ext2[$_row["bunrui_ext2"]] = 1;
			}
			krsort($bunpu_toukyu);
			ksort($bunpu_syozoku);
			ksort($bunpu_syokusyu);
			ksort($bunpu_yakusyoku);
			ksort($bunpu_sisetu);
			ksort($bunpu_bunrui_ext1);
			ksort($bunpu_bunrui_ext2);
		?>
		<select id="sf_syokusyu" onchange="this.style.color=this.options[this.selectedIndex].style.color" style="color:#aaaaaa">
			<option value="" style="color:#aaaaaa">(職種)</option>
			<? foreach ($bunpu_syokusyu as $v=>$dmy) { ?><option style="color:#000000" value="<?=hh($v?$v:MISETTEI)?>"><?=hh($v?$v:MISETTEI)?></option><?}?>
		</select>
		<select id="sf_syozoku" onchange="this.style.color=this.options[this.selectedIndex].style.color" style="color:#aaaaaa">
			<option value="" style="color:#aaaaaa">(所属部署)</option>
			<? foreach ($bunpu_syozoku as $v=>$dmy) { ?><option style="color:#000000" value="<?=hh($v?$v:MISETTEI)?>"><?=hh($v?$v:MISETTEI)?></option><?}?>
		</select>
		<select id="sf_yakusyoku" onchange="this.style.color=this.options[this.selectedIndex].style.color" style="color:#aaaaaa">
			<option value="" style="color:#aaaaaa">(役職)</option>
			<? foreach ($bunpu_yakusyoku as $v=>$dmy) { ?><option style="color:#000000" value="<?=hh($v?$v:MISETTEI)?>"><?=hh($v?$v:MISETTEI)?></option><?}?>
		</select>
		<select id="sf_sisetu" onchange="this.style.color=this.options[this.selectedIndex].style.color" style="color:#aaaaaa">
			<option value="" style="color:#aaaaaa">(所属施設)</option>
			<? foreach ($bunpu_sisetu as $v=>$dmy) { ?><option style="color:#000000" value="<?=hh($v?$v:MISETTEI)?>"><?=hh($v?$v:MISETTEI)?></option><?}?>
		</select>
		<? if ($bunrui_ext1) { ?>
		<select id="sf_bunrui_ext1" onchange="this.style.color=this.options[this.selectedIndex].style.color" style="color:#aaaaaa">
			<option value="" style="color:#aaaaaa">(<?=$bunrui_ext1?>)</option>
			<? foreach ($bunpu_bunrui_ext1 as $v=>$dmy) { ?><option style="color:#000000" value="<?=hh($v?$v:MISETTEI)?>"><?=hh($v?$v:MISETTEI)?></option><?}?>
		</select>
		<? } ?>
		<? if ($bunrui_ext2) { ?>
		<select id="sf_bunrui_ext2" onchange="this.style.color=this.options[this.selectedIndex].style.color" style="color:#aaaaaa">
			<option value="" style="color:#aaaaaa">(<?=$bunrui_ext2?>)</option>
			<? foreach ($bunpu_bunrui_ext2 as $v=>$dmy) { ?><option style="color:#000000" value="<?=hh($v?$v:MISETTEI)?>"><?=hh($v?$v:MISETTEI)?></option><?}?>
		</select>
		<? } ?>
		<select id="sf_toukyu" onchange="this.style.color=this.options[this.selectedIndex].style.color" style="color:#aaaaaa">
			<option value="" style="color:#aaaaaa">(等級)</option>
			<? foreach ($bunpu_toukyu as $v=>$dmy) { ?><option style="color:#000000" value="<?=hh($v?$v:MISETTEI)?>"><?=hh($v?$v:MISETTEI)?></option><?}?>
		</select>
		<button type="button" id="btn_clear" onclick="applyEmp('','')" class="btn60 btn_edit" <?=BTN_FOCUS_BLUR?>><div>クリア</div>
		</button>
		<div id="emp_finder_list" style="padding-top:4px"></div>
	</div>
</div>

<?
	die;
} // end of load_editor





//**************************************************************************************************
// （ajax）初期表示のロード
//**************************************************************************************************
if ($req["ajax_action"]=="load_default") {
	$page_num = 1;
	$last_page_num = 1;
	$hyoheadRows = c2dbGetRows("select * from ".$cid."_hnv_scorehead where revid = ".$revid." order by hyoid");
	$hyonmList = array();
	foreach ($hyoheadRows as $row) $hyonmList[$row["hyoid"]] = $row["hyonm"];

	$sql =
	" select empid, empnm, syozoku, syokusyu, yakusyoku, sisetu, bunrui_ext1, bunrui_ext2, toukyu, hyoid".
	",hyouka1_empnm, hyouka2_empnm, hyouka3_empnm, hyouka4_empnm, hyouka5_empnm, hyouka6_empnm".
	",is_hyomaster, kojin_hyo_step, is_excluded".
	" from ".$cid."_hnv_casts where revid = ".$revid." order by sort_order, lpad(empid,30,'0')";

	$empsRows = c2dbGetRows($sql);

	$bunpu_toukyu = array();
	$bunpu_syozoku = array();
	$bunpu_syokusyu = array();
	$bunpu_yakusyoku = array();
	$bunpu_sisetu = array();
	$bunpu_bunrui_ext1 = array();
	$bunpu_bunrui_ext2 = array();
	foreach ($empsRows as $_row) {
		$bunpu_toukyu[$_row["toukyu"]] = 1;
		$bunpu_syozoku[$_row["syozoku"]] = 1;
		$bunpu_syokusyu[$_row["syokusyu"]] = 1;
		$bunpu_yakusyoku[$_row["yakusyoku"]] = 1;
		$bunpu_sisetu[$_row["sisetu"]] = 1;
		$bunpu_bunrui_ext1[$_row["bunrui_ext1"]] = 1;
		$bunpu_bunrui_ext2[$_row["bunrui_ext2"]] = 1;
	}
	krsort($bunpu_toukyu);
	ksort($bunpu_syozoku);
	ksort($bunpu_syokusyu);
	ksort($bunpu_yakusyoku);
	ksort($bunpu_sisetu);
	ksort($bunpu_bunrui_ext1);
	ksort($bunpu_bunrui_ext2);
?>
	<textarea id="ta_emps_rows" style="display:none"><?=c2ToJson($empsRows)?></textarea>
	<div style="padding:4px">
			<button type="button" onclick="loadEditor('');" class="btn100 btn_new"<?=BTN_FOCUS_BLUR?>><div>新規作成</div></button>
			<button type="button" onclick="location.href='castimp.html?revid=<?=$revid?>'" style="margin-left:50px" class="btn100 btn_locate"<?=BTN_FOCUS_BLUR?>><div>一括登録</div></button>


			<? if (count($empsRows)) { ?>
			<div style="padding:8px 0">
			<div style="background-color:#f5f5f5; padding:10px; border:1px solid #dddddd">
				<form name="frm_search" id="frm_search">
				<table cellspacing="0" cellpadding="0" class="width100"><tr>
				<td>
					<table cellspacing="0" cellpadding="0"><tr>
						<td style="line-height:25px"><nobr>表示範囲</nobr></td>
						<td style="padding-left:16px"><select id="find_syokusyu" name="find_syokusyu" onchange="showAdjustRows()">
							<option value="F_ALL">(職種すべて)</option>
							<? foreach (array_keys($bunpu_syokusyu) as $_v){?><option value="<?=hh($_v)?>"<?=(isset($req["find_syokusyu"]) && $req["find_syokusyu"]===$_v?' selected':'')?>>
								<?=($_v=="" ? "(職種未指定)" : hh($_v))?></option><? } ?>
						</select></td>
						<td style="padding-left:8px"><select id="find_syozoku" name="find_syozoku" onchange="showAdjustRows()">
							<option value="F_ALL">(所属部署すべて)</option>
							<? foreach (array_keys($bunpu_syozoku) as $_v){?><option value="<?=hh($_v)?>"<?=(isset($req["find_syozoku"]) && $req["find_syozoku"]===$_v?' selected':'')?>>
								<?=($_v=="" ? "(所属部署未指定)" : hh($_v))?></option><? } ?>
						</select></td>
						<td style="padding-left:8px"><select id="find_yakusyoku" name="find_yakusyoku" onchange="showAdjustRows()">
							<option value="F_ALL">(役職すべて)</option>
							<? foreach (array_keys($bunpu_yakusyoku) as $_v){?><option value="<?=hh($_v)?>"<?=(isset($req["find_yakusyoku"]) && $req["find_yakusyoku"]===$_v?' selected':'')?>>
								<?=($_v=="" ? "(役職未指定)" : hh($_v))?></option><? } ?>
						</select></td>
						<td style="padding-left:8px"><select id="find_sisetu" name="find_sisetu" onchange="showAdjustRows()">
							<option value="F_ALL">(所属施設すべて)</option>
							<? foreach (array_keys($bunpu_sisetu) as $_v){?><option value="<?=hh($_v)?>"<?=(isset($req["find_sisetu"]) && $req["find_sisetu"]===$_v?' selected':'')?>>
								<?=($_v=="" ? "(所属施設未指定)" : hh($_v))?></option><? } ?>
						</select></td>
						<? if ($bunrui_ext1) { ?>
						<td style="padding-left:8px"><select id="find_bunrui_ext1" name="find_bunrui_ext1" onchange="showAdjustRows()">
							<option value="F_ALL">(<?=$bunrui_ext1?>すべて)</option>
							<? foreach (array_keys($bunpu_bunrui_ext1) as $_v){?><option value="<?=hh($_v)?>"<?=(isset($req["find_bunrui_ext1"]) && $req["find_bunrui_ext1"]===$_v?' selected':'')?>>
								<?=($_v=="" ? "(<?=$bunrui_ext1?>未指定)" : hh($_v))?></option><? } ?>
						</select></td>
						<? } ?>

						<? if ($bunrui_ext2) { ?>
						<td style="padding-left:8px"><select id="find_bunrui_ext2" name="find_bunrui_ext2" onchange="showAdjustRows()">
							<option value="F_ALL">(<?=$bunrui_ext2?>すべて)</option>
							<? foreach (array_keys($bunpu_bunrui_ext2) as $_v){?><option value="<?=hh($_v)?>"<?=(isset($req["find_bunrui_ext2"]) && $req["find_bunrui_ext2"]===$_v?' selected':'')?>>
								<?=($_v=="" ? "(<?=$bunrui_ext2?>未指定)" : hh($_v))?></option><? } ?>
						</select></td>
						<? } ?>

						<td style="padding-left:8px"><select id="find_toukyu" name="find_toukyu" onchange="showAdjustRows()">
							<option value="F_ALL">(等級すべて)</option>
							<? foreach (array_keys($bunpu_toukyu) as $_v){?><option value="<?=hh($_v)?>"<?=(isset($req["find_toukyu"]) && $req["find_toukyu"]===$_v?' selected':'')?>>
								<?=($_v=="" ? "(等級未指定)" : hh($_v))?></option><? } ?>
						</select></td>
					</tr></table>
				</td>

				</tr></table>
				</form>
			</div>
			</div>
			<? } ?>


			<? if (count($empsRows)) { ?>
			<span style="padding-right:20px; font-size:12px">全<span class="font16" style="padding:0 2px"><?=count($empsRows)?></span>人</span>
			<button type="button" onclick="location.href='castimp.html?revid=<?=$revid?>&view_mode=download_csv';" class="btn180 btn_dl"<?=BTN_FOCUS_BLUR?>><div>全職員CSVダウンロード</div></button>
			<? } ?>
	</div>



	<? if (count($empsRows)) { ?>

		<div>
			<table cellspacing="0" cellpadding="0" class="list_table">
				<tr>
					<th class="corner2"><nobr>編集</nobr></th>
					<th><nobr>職員ID</nobr></th>
					<th><nobr>職員名</nobr></th>
					<th><nobr>職種</nobr></th>
					<th><nobr>所属部署</nobr></th>
					<th><nobr>役職</nobr></th>
					<th><nobr>所属施設</nobr></th>
					<? if ($bunrui_ext1) { ?><th><nobr><?=$bunrui_ext1?></nobr></th><? } ?>
					<? if ($bunrui_ext2) { ?><th><nobr><?=$bunrui_ext2?></nobr></th><? } ?>
					<th><nobr>等級</nobr></th>
					<th><nobr>評価表番号</nobr></th>
					<th><nobr>評価ステップ数</nobr></th>
					<? for ($idx=1; $idx<=(int)$revisionRow["hyo_step"]; $idx++) { ?>
					<th><nobr><?=$idx?>次評価者</nobr></th>
					<? } ?>
					<th><nobr>最終判定者</nobr></th>
					<th><nobr>評価対象外</nobr></th>
				</tr>
				<? $rowIdx=0;?>
				<? foreach ($empsRows as $row) { ?>
				<?     $rowIdx++; ?>
					<tr id="trrow<?=$rowIdx?>">
						<td><button type="button" onclick="loadEditor('<?=hh($row["empid"])?>');" class="btn60 btn_edit"<?=BTN_FOCUS_BLUR?>>編集</button></td>
						<td class="left"><?=hh($row["empid"])?></td>
						<td class="left"><?=hh($row["empnm"])?></td>
						<td><?=hh($row["syokusyu"])?></td>
						<td><?=hh($row["syozoku"])?></td>
						<td><?=hh($row["yakusyoku"])?></td>
						<td><?=hh($row["sisetu"])?></td>
						<? if ($bunrui_ext1) { ?><td><?=hh($row["bunrui_ext1"])?></td><? } ?>
						<? if ($bunrui_ext2) { ?><td><?=hh($row["bunrui_ext2"])?></td><? } ?>
						<td><?=hh($row["toukyu"])?></td>
						<? if ($row["hyoid"]) { ?>
							<? if ($hyonmList[$row["hyoid"]]) { ?>
								<td class="left"><?=hh($row["hyoid"].": ".$hyonmList[$row["hyoid"]])?></td>
							<? } else { ?>
								<td class="left error"><?=hh($row["hyoid"])?>: 評価表なし</td>
							<? } ?>
						<? } else { ?>
							<td></td>
						<? } ?>
						<td><?=($row["kojin_hyo_step"] ? $row["kojin_hyo_step"]."段階評価" : "")?></td>
						<?
							for ($idx=1; $idx<=(int)$revisionRow["hyo_step"]; $idx++) {
								$hempnm = $row["hyouka".$idx."_empnm"];
								$is_blank = ((int)$row["kojin_hyo_step"] && (int)$row["kojin_hyo_step"] < $idx ? 1 : 0);
						?>
						<? if ($is_blank) { ?>
							<td class="left gray_hover gray2">―</td>
						<? } else { ?>
							<td class="left"><?=hh($hempnm)?></td>
						<? } ?>
						<? } ?>
						<td><?=($row["is_hyomaster"] ? "●": "")?></td>
						<td><?=($row["is_excluded"] ? "評価対象外": "")?></td>
					</tr>
				<? } ?>
			</table>
		</div>
	<? } ?>
<?
	die;
} // end of load_default






//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
echoStaticHtml();
?>
</head>
<body onload="loadInit()">
<script type="text/javascript">
	var scTop = 0;
	var fStat = {"activeId":"", "syokusyu":"", "yakusyoku":"", "syozoku":"", "sisetu":"", "toukyu":"", "empnm":""};
	var empsRows = {};
	function loadInit() {
		<? if (!$revisionRow) { ?>return;<? } ?>
		$.ajax({url:"casts.html?revid=<?=$revid?>&ajax_action=load_default", data:$(document.frm_search).serialize(), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
			ee("div_list").style.display = "none";
			ee("div_list").innerHTML = msg;
			if (ee("ta_emps_rows")) eval("empsRows = "+ee("ta_emps_rows").innerHTML);
			showAdjustRows();
			ee("div_list").style.display = "";
		}});
	}
	function loadEditor(empid) {
		scTop = getWindowScrollTop(window);
		$.ajax({url:"casts.html?revid=<?=$revid?>&ajax_action=load_editor&empid="+encodeURIComponent(empid), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
			ee("div_list").style.display = "none";
			ee("div_editor").innerHTML = msg;
			window.scrollTo(0, 0);
		}});
	}
	function closeEditor() {
		ee("div_editor").innerHTML = "";
		ee("div_list").style.display = "";
		window.scrollTo(0, scTop);
	}
	function tryDelete(empid) {
		if (!confirm("削除します。よろしいですか？")) return;
		$.ajax({url:"casts.html?revid=<?=$revid?>&ajax_action=try_delete&empid="+encodeURIComponent(empid), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
			loadInit();
			closeEditor();
		}});
	}
	function trySave() {
		if (!confirm("保存します。よろしいですか？")) return;
		$.ajax({url:"casts.html?revid=<?=$revid?>&ajax_action=try_save", data:$(document.frm).serialize(), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
			loadInit();
			closeEditor();
		}});
	}
	function tryDeleteLogin(login_id) {
		if (!confirm("削除します。よろしいですか？")) return;
		$.ajax({url:"users.html?ajax_action=try_delete&login_id="+encodeURIComponent(login_id), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
			loadInit();
			closeEditor();
		}});
	}
	function trySaveLogin() {
		if (!confirm("保存します。よろしいですか？")) return;
		$.ajax({url:"users.html?ajax_action=try_save", data:$(document.frm).serialize(), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
			loadInit();
			closeEditor();
		}});
	}
	function showAdjustRows() {
		var cmbToukyu = ee("find_toukyu");
		var cmbSyokusyu = ee("find_syokusyu");
		var cmbSyozoku = ee("find_syozoku");
		var cmbYakusyoku = ee("find_yakusyoku");
		var cmbSisetu = ee("find_sisetu");
		var cmbBunruiExt1 = ee("find_bunrui_ext1");
		var cmbBunruiExt2 = ee("find_bunrui_ext2");

		var ignores = {};
		if (cmbToukyu && cmbToukyu.selectedIndex==0) ignores["toukyu"] = 1;
		if (cmbSyokusyu && cmbSyokusyu.selectedIndex==0) ignores["syokusyu"] = 1;
		if (cmbSyozoku && cmbSyozoku.selectedIndex==0) ignores["syozoku"] = 1;
		if (cmbYakusyoku && cmbYakusyoku.selectedIndex==0) ignores["yakusyoku"] = 1;
		if (cmbSisetu && cmbSisetu.selectedIndex==0) ignores["sisetu"] = 1;
		if (!cmbBunruiExt1 || cmbBunruiExt1 && cmbBunruiExt1.selectedIndex==0) ignores["bunrui_ext1"] = 1;
		if (!cmbBunruiExt1 || cmbBunruiExt2 && cmbBunruiExt2.selectedIndex==0) ignores["bunrui_ext2"] = 1;

		var sToukyu = (cmbToukyu ? cmbToukyu[cmbToukyu.selectedIndex].value : "");
		var sSyokusyu = (cmbSyokusyu ? cmbSyokusyu[cmbSyokusyu.selectedIndex].value : "");
		var sSyozoku = (cmbSyozoku ? cmbSyozoku[cmbSyozoku.selectedIndex].value : "");
		var sYakusyoku = (cmbYakusyoku ? cmbYakusyoku[cmbYakusyoku.selectedIndex].value : "");
		var sSisetu = (cmbSisetu ? cmbSisetu[cmbSisetu.selectedIndex].value : "");
		var sBunruiExt1 = (cmbBunruiExt1 ? cmbBunruiExt1[cmbBunruiExt1.selectedIndex].value : "");
		var sBunruiExt2 = (cmbBunruiExt2 ? cmbBunruiExt2[cmbBunruiExt2.selectedIndex].value : "");

		var totalCount = empsRows.length;
		for (var rIdx=1; rIdx<=totalCount; rIdx++) {
			var empsRow = empsRows[rIdx-1];
			var hidden = 0;
			if (!ignores["toukyu"] && sToukyu!=empsRow["toukyu"]) hidden = 1;
			else if (!ignores["syokusyu"] && sSyokusyu!=empsRow["syokusyu"]) hidden = 2;
			else if (!ignores["syozoku"] && sSyozoku!=empsRow["syozoku"]) hidden = 3;
			else if (!ignores["yakusyoku"] && sYakusyoku!=empsRow["yakusyoku"]) hidden = 4;
			else if (!ignores["sisetu"] && sSisetu!=empsRow["sisetu"]) hidden = 5;
			else if (!ignores["bunrui_ext1"] && sBunruiExt1!=empsRow["bunrui_ext1"]) hidden = 6;
			else if (!ignores["bunrui_ext2"] && sBunruiExt2!=empsRow["bunrui_ext2"]) hidden = 7;
			hidden = (hidden ? 1 : 0);
			if (hidden!=empsRow["is_hidden"]) {
				empsRows[rIdx-1]["is_hidden"] = hidden;
				ee("trrow"+rIdx).style.display = (hidden ? "none":"");
			}
		}
	}
	function changeKojinHyoStep(sStep) {
		var step = int(sStep);
		for (var idx=1; idx<=<?=(int)$revisionRow["hyo_step"]?>; idx++) {
			ee("div_hyouka"+idx).style.display = (step==0 || step >= idx ? "" : "none");
		}
	}
	function showEmpFinder(containerId) {
		var cont = ee("emp_finder"+containerId);
		if (fStat.activeId !== containerId) {
			ee("btn_finder"+containerId).innerHTML = "閉じる";
			ee("btn_clear").style.display = (containerId==="0" ? "none" : "");
			cont.appendChild(ee("emp_finder_content"));
			cont.style.display = "";
			tryFocus("sf_empnm");
			fStat.activeId = containerId;
			execEmpFinder();
		} else {
			ee("btn_finder"+containerId).innerHTML = "選択";
			fStat.activeId = "";
			cont.style.display = "none";
		}
	}
	function execEmpFinder() {
		if (fStat.activeId==="") return;
		var syokusyu = getComboValue(ee("sf_syokusyu"));
		var syozoku = getComboValue(ee("sf_syozoku"));
		var yakusyoku = getComboValue(ee("sf_yakusyoku"));
		var sisetu = getComboValue(ee("sf_sisetu"));
		var bunrui_ext1 = getComboValue(ee("sf_bunrui_ext1"));
		var bunrui_ext2 = getComboValue(ee("sf_bunrui_ext2"));
		var toukyu = getComboValue(ee("sf_toukyu"));
		var empnm = trim( (ee("sf_empnm")) ? ee("sf_empnm").value : '' );
		if (syokusyu==fStat.syokusyu && syozoku==fStat.syozoku && yakusyoku==fStat.yakusyoku && sisetu==fStat.sisetu && bunrui_ext1==fStat.bunrui_ext1 && bunrui_ext2==fStat.bunrui_ext2 && toukyu==fStat.toukyu && empnm==fStat.empnm) {
			setTimeout("execEmpFinder()", 700);
			return;
		}
		fStat.syokusyu = syokusyu;
		fStat.syozoku = syozoku;
		fStat.yakusyoku = yakusyoku;
		fStat.sisetu = sisetu;
		fStat.bunrui_ext1 = bunrui_ext1;
		fStat.bunrui_ext2 = bunrui_ext2;
		fStat.toukyu = toukyu;
		fStat.empnm = empnm;
		if (!syokusyu && !syozoku && !yakusyoku && !sisetu && !bunrui_ext1 && !bunrui_ext2 && !toukyu && !empnm) {
			ee("emp_finder_list").innerHTML = "";
			setTimeout("execEmpFinder()", 700);
			return;
		}
		var param =
		"&active_id="+fStat.activeId+
		"&syokusyu="+encodeURIComponent(syokusyu)+
		"&syozoku="+encodeURIComponent(syozoku)+
		"&toukyu="+encodeURIComponent(toukyu)+
		"&yakusyoku="+encodeURIComponent(yakusyoku)+
		"&sisetu="+encodeURIComponent(sisetu)+
		"&bunrui_ext1="+encodeURIComponent(bunrui_ext1)+
		"&bunrui_ext2="+encodeURIComponent(bunrui_ext2)+
		"&empnm="+encodeURIComponent(empnm);
		$.ajax({url:"casts.html?revid=<?=$revid?>&ajax_action=exec_emp_finder"+param, success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
			ee("emp_finder_list").innerHTML = msg;
			setTimeout("execEmpFinder()", 700);
		}});
	}
	function applyEmp(empnm, empid) {
		ee("td_empid"+fStat.activeId).innerHTML = empid;
		ee("td_empnm"+fStat.activeId).innerHTML = empnm;
		ee("hdn_empid"+fStat.activeId).value = empid;
		showEmpFinder(fStat.activeId);
	}
</script>
<? echoMenuLinks(1); ?>
<div id="content_all" style="padding-bottom:30px">

	<? if($revisionRow["revid"]){?>
	<table cellspacing="0" cellpadding="0"><tr>
		<td id="revnm_panel_title"><div><nobr>評価期間</nobr></div></td>
		<td id="revnm_panel"><div onclick="location.href='revisions.html';"><?=hh($revisionRow["revnm"])?></div></td>
	</tr></table>
	<? } ?>

	<table cellspacing="0" cellpadding="0"><tr>
  <div id="main_title2" title="＠期間職員" style="width:250px;"><h2 class="main_title">＠期間職員</h2></div>
	</tr></table>

	<div class="instruction">
		この評価期間で評価される職員（被評価者）を登録してください。併せて、評価を行う職員（評価者）を指定してください。<br>
		各職員は、「職員設定」機能で登録済の職員から選択指定します。<br>
	</div>

	<? if (!$revid) { ?>
		<div style="padding:0 16px"><a href="revisions.html">◆画面呼出しが不正です。</a></div>
	<? } ?>
	<? if ($revid && !$revisionRow) { ?>
		<div style="padding:0 16px"><a href="revisions.html">◆無効な呼出しです。期間職員画面から再選択してください。</a></div>
	<? } ?>

	<? if ($revisionRow) { ?>
		<div>
			<div id="div_list"><span style="color:gray; padding-left:20px">しばらくお待ちください．．．</span></div>
			<div id="div_editor"></div>
		</div>
	<? } ?>
</div><!-- // content_all -->

</body>
</html>
