@charset "utf-8";

/* -----------------------------------------------------------------------------
basic strictions for single-tag
----------------------------------------------------------------------------- */
* { font-family:"メイリオ", meiryo, Verdana }
html { height:100%; width:100%; overflow-y:scroll }
body { margin:0; padding:0; height:100%; width:100%; background-color:#ffffff }
body, table, textarea, input, select, pre { font-size:13px; letter-spacing:0 }
form { margin:0; padding:0; }
body, table, textarea { line-height:1.3 }
table { border:0; border-collapse:collapse; }
th, td { padding:0; vertical-align:top; font-weight:normal; border:0; }
img { border:0; margin:0; padding:0; vertical-align:bottom; }
label { cursor:pointer; white-space:nowrap }
textarea, select { margin:0; }
select { padding:1px; }
button { cursor:pointer; white-space:nowrap; height:25px; line-height:13px; padding:2px; overflow:hidden; }
input { line-height:1; padding:2px }
input.text, textarea { padding:3px; line-height:1.3 }
input.text, select, textarea { border: 1px solid #999999; background:url(./img/bk_tbox.png) repeat-x #ffffff; }
input.text_readonly, textarea.text_readonly { background:url(./img/bk_tbox_readonly_ddd.png) repeat-x #dddddd; border: 1px solid #8f92c0; }
input.is_diff { background-image:url(./img/bk_tbox_y.png); }
input.thin { padding-top:1px; padding-bottom:1px }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance:none; margin:0; -moz-appearance: none; }
input[type=number] { -moz-appearance:textfield; }
input::-ms-clear { visibility:hidden; }
input::-ms-reveal { visibility:hidden; }
body.unselectable * { -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select:none; user-select:none; -ms-user-select:none; }
table.nowrap th, table.nowrap td { white-space:nowrap }
table.gray tr td,table.gray tr td:hover {background-color: #EEEEEE;}

nobr * { white-space:nowrap }

/*label.focussing, input.focussing, select.focussing, textarea.focussing { border: 1px solid #ffaa00; } */


/* -----------------------------------------------------------------------------
general classes with important
----------------------------------------------------------------------------- */
.w10  { width:10px !important  } .w20  { width:20px !important  } .w30  { width:30px !important }
.w40  { width:40px !important  } .w50  { width:50px !important  }
.w60  { width:60px !important  } .w70  { width:70px !important  } .w80  { width:80px !important }
.w90  { width:90px !important  } .w100 { width:100px !important }
.w110 { width:110px !important } .w120 { width:120px !important } .w130 { width:130px !important }
.w140 { width:140px !important } .w150 { width:150px !important }
.w160 { width:160px !important } .w170 { width:170px !important } .w180 { width:180px !important }
.w190 { width:190px !important } .w200 { width:200px !important } .w250 { width:250px !important }
.w300 { width:300px !important } .w350 { width:350px !important }
.w400 { width:400px !important } .w450 { width:450px !important }
.w500 { width:500px !important } .w550 { width:550px !important }
.w600 { width:600px !important } .w650 { width:650px !important }
.w700 { width:700px !important } .w750 { width:750px !important }
.w800 { width:800px !important } .w850 { width:850px !important }
.w900 { width:900px !important } .w950 { width:950px !important }
.w1000 { width:1000px !important }
.nowrap { white-space:nowrap }
.imeoff { ime-mode:disabled !important }
.block  { display:block !important }
.left   { text-align:left !important }
.right  { text-align:right !important }
.center { text-align:center !important }
.top    { vertical-align:top !important }
.bottom { vertical-align:bottom !important }
.middle { vertical-align:middle !important }
.relative { position:relative !important }
.absolute { position:absolute !important }
.width100 { width:100% !important }
.float_left  { float:left !important }
.float_right { float:right !important }
.border0 { border:0 !important }
.no_underline { text-decoration:none !important }
.underline { text-decoration:underline !important }
.red { color:#ff0000 !important }
.blue { color:#0000ff !important }
.gray { color:#777777 !important }
.gray2 { color:#bbbbbb !important }
.white { color:#ffffff !important }
.bold { font-weight: bold !important }
.font10   { font-size:10px !important } .font11   { font-size:11px !important } .font12   { font-size:12px !important }
.font13   { font-size:13px !important } .font14   { font-size:14px !important } .font16   { font-size:16px !important }
.font18   { font-size:18px !important } .font20   { font-size:20px !important } .font22   { font-size:22px !important }
.font24   { font-size:24px !important } .font26   { font-size:26px !important } .font30   { font-size:30px !important }
.break_all { word-break:break-all !important }

.warn { color:#aaaaaa }
.is_diff { color:#00aa55 }
.no_diff { color:#aaaaaa }
.error_tr td { background:url(./img/list_pbottom.gif) repeat-x 0 bottom #eeeeee !important }
.error_info, .error_tr td.error_info { background:0 !important; text-align:left !important }
.error_tr, .error_tr .is_diff { color:red }
.h70 { height:70px }












div#fixed_header { background:url(./img/head_bk.gif) repeat-x; height:100px; width:100%; position:absolute }
div#margin_header { height:80px; width:100% }


table.list_table th { padding:3px 6px; background:url(./img/list_th_corner.gif) no-repeat #58a0e9; color:#ffffff; vertical-align:middle; font-size:12px }
table.list_table th.corner2 { background:url(./img/list_th_corner2.gif) no-repeat #3a5baf; }
table.list_table th.corner3 { background:url(./img/list_th_corner3.gif) no-repeat #ff5959; }
table.list_table th.corner4 { background:url(./img/list_th_corner4.gif) no-repeat #a8846c; }
table.list_table th.corner5 { background:url(./img/list_th_corner5.gif) no-repeat #aaaaaa; }
table.list_table td { padding:2px 6px 4px 6px; vertical-align:middle; text-align:center }
table.list_table th, table.list_table td { border:3px solid #ffffff; }
table.list_table td { background:url(./img/list_bottom.gif) 0 bottom repeat-x }

table.hover_row_colored tr:hover td, tr.active_row td { background:url(./img/list_bottom2.gif) 0 bottom repeat-x }

table.list_table_mbo th { padding:3px 6px;  color:#ffffff; vertical-align:middle; font-size:12px;
  background-color: #FAb570;
  -moz-border-radius: 15px 0 0 0;
  -webkit-border-radius: 15px 0 0 0;
  border-radius: 15px 0 0 0;
}
table.list_table_mbo th.corner2 { background-color:#EE6600; }
table.list_table_mbo th.corner3 { background:url(./img/list_th_corner3.gif) no-repeat #f4a460; }
table.list_table_mbo th.corner4 { background:url(./img/list_th_corner4.gif) no-repeat #a8846c; }
table.list_table_mbo th.corner5 { background:url(./img/list_th_corner5.gif) no-repeat #aaaaaa; }
table.list_table_mbo td { padding:2px 6px 4px 6px; vertical-align:middle; text-align:center }
table.list_table_mbo th, table.list_table_mbo td { border:3px solid #ffffff; }
table.list_table_mbo td { background:url(./img/list_bottom.gif) 0 bottom repeat-x }

table.list_table_ttl th { padding:3px 6px;  color:#ffffff; vertical-align:middle; font-size:12px;
  background-color: #70D970;
  -moz-border-radius: 15px 0 0 0;
  -webkit-border-radius: 15px 0 0 0;
  border-radius: 15px 0 0 0;
}
table.list_table_ttl th.corner2 { background-color:#009900; }
table.list_table_ttl th.corner3 { background:url(./img/list_th_corner3.gif) no-repeat #f4a460; }
table.list_table_ttl th.corner4 { background:url(./img/list_th_corner4.gif) no-repeat #a8846c; }
table.list_table_ttl th.corner5 { background:url(./img/list_th_corner5.gif) no-repeat #aaaaaa; }
table.list_table_ttl td { padding:2px 6px 4px 6px; vertical-align:middle; text-align:center }
table.list_table_ttl th, table.list_table_ttl td { border:3px solid #ffffff; }
table.list_table_ttl td { background:url(./img/list_bottom.gif) 0 bottom repeat-x }

td.ignore_hover { background-image:url(./img/list_bottom.gif) !important }
td.ignore_phover { background-image:url(./img/list_pbottom.gif) !important }
td.gray_hover {  background:url(./img/list_pbottom.gif) repeat-x 0 bottom #eeeeee !important }



table.box_table th { padding:3px 6px; background:url(./img/list_th_corner.gif) no-repeat #58a0e9; color:#ffffff; vertical-align:middle }
table.box_table th.corner2 { background:url(./img/list_th_corner2.gif) no-repeat #3a5baf; }
table.box_table th.corner3 { background:url(./img/list_th_corner3.gif) no-repeat #ff5959; }
table.box_table th.corner4 { background:url(./img/list_th_corner4.gif) no-repeat #a8846c; }
table.box_table td { padding:2px 6px 4px 6px; vertical-align:middle; text-align:left }
table.box_table th, table.box_table td { border:3px solid #ffffff; }
table.box_table td { background:url(./img/list_lbottom.gif) 0 bottom repeat-x }




td.listinput { -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; user-select:none }


table.prop_table tr:hover td { background:transparent }
table.prop_table tr:hover table.gray td { background:#EEEEEE }
table.prop_table td { text-align:left; background:transparent }
table.prop_table td.list_td { background:url(./img/list_bottom.gif) 0 bottom repeat-x }



div#content_all { padding:0 10px 150px 10px; position:relative }

td.is_selected { color:#ff00bb }

table.td_clickable td:hover { background:url(./img/list_lbottom2.gif) 0 bottom repeat-x }
table.td_clickable td.no_selected { cursor:pointer; }
table.td_clickable td.is_selected { cursor:pointer; }

tr.row_selected { background-color:#ffffaa }

table.kou_table textarea.koubox { font-size:11px; width:92%; }


table.classic th, table.classic td { border:1px solid #777777; padding:3px }


a, a:visited { color:#0000ff }
a:hover{ color:#ff77aa }


td#td_logout { background:url(./img/head_div.gif) no-repeat 0 2px; vertical-align:top; padding:3px 3px 3px 6px; width:70px }
td#td_logout div { background:url(./img/icon_logout.gif) no-repeat center 6px; text-align:center; width:70px; padding-top:22px; padding-bottom:3px; cursor:pointer; font-size:11px; border:1px solid #3a5baf; color:#eeeeff }
td#td_logout div:hover { border:1px solid #94a8dc }


button { font-size:12px; color:#000000; border:0; height:16px; vertical-align:middle; }
button.btn230 { height:25px; background:url(./img/btn230.gif) no-repeat; width:230px; }
button.btn180 { height:25px; background:url(./img/btn180.gif) no-repeat; width:180px; }
button.btn150 { height:25px; background:url(./img/btn150.gif) no-repeat; width:150px; }
button.btn130 { height:25px; background:url(./img/btn130.gif) no-repeat; width:130px; }
button.btn100 { height:25px; background:url(./img/btn100.gif) no-repeat; width:100px; }
button.btn70  { height:25px; background:url(./img/btn70.gif)  no-repeat; width:70px; }
button.btn60  { height:25px; background:url(./img/btn60.gif)  no-repeat; width:60px; }

button div { padding:4px 0 2px 0; background-repeat:no-repeat; background-position:2px 1px; }

button.btn_cancel div  { padding:4px 0 2px 22px; background-image:url(./img/icon_cancel.gif); }
button.btn_cancel2 div { padding:4px 0 2px 22px; background-image:url(./img/icon_cancel.gif); }
button.btn_new div     { padding:4px 0 2px 22px; background-image:url(./img/icon_new.gif); }
button.btn_delete div  { padding:4px 0 2px 22px; background-image:url(./img/icon_delete.gif); }
button.btn_save div    { padding:4px 0 2px 22px; background-image:url(./img/icon_save.gif); }
button.btn_rev div     { padding:4px 0 2px 22px; background-image:url(./img/icon_rev.gif); }
button.btn_locate div  { padding:4px 0 2px 22px; background-image:url(./img/icon_locate.gif); }
button.btn_dl div      { padding:4px 0 2px 22px; background-image:url(./img/icon_dl.gif); }
button.btn_ul div      { padding:4px 0 2px 22px; background-image:url(./img/icon_ul.gif); }
button.btn_index div   { padding:4px 0 2px 22px; background-image:url(./img/icon_index.gif); background-position:2px -1px; }

button.focussing, button:hover { background-position:0 -25px; color:#992244 }
button.focussing div, button:hover div { background-position:2px -29px }
button.btn100.focussing, button.btn100:hover { background-position:-1px -25px; }

button.btn_index.focussing div, button.btn_index:hover div { background-position:2px -31px }

.btn_disabled button { background-position:0 0 !important; color:#aaaaaa !important; cursor:default !important }
.btn_disabled button div { background-position:2px -61px !important }


a.icon_template { padding-left:25px; background:url(./img/icon_template.gif) no-repeat 0 2px; /*display:block;*/ text-decoration:none }
a.icon_template:hover { background-position:0 -18px; }
a.icon_template span.num { font-size:11px; color:#ffffff; background-color:#3a5baf; padding:0 2px; font-family:Verdana }
a.icon_template:hover span.link { text-decoration:underline; }
a.icon_template:hover span.num { background-color:#ff77aa; }




div#div_logo { position:absolute; background:url(./img/logo.gif) no-repeat 0 3px; width:300px; height:50px; left:1px  }
div#div_cap  { position:absolute; background:url(./img/cap.png) 0px -10px no-repeat; width:100px; height:50px;  }

a#to_kanri, a#to_kanri_on { position:absolute; background:url(./img/menu_kanri.gif) 0 0 no-repeat; left:480px; }
a#to_top, a#to_top_on { position:absolute; background:url(./img/menu_top.gif) 0 0 no-repeat; left:360px; }
a#to_kanri_on, a#to_top_on { position:absolute; background-position:0 -25px; }
a#to_kanri:hover, a#to_top:hover { position:absolute; background-position:0 -50px; }
a.head_btn { display:block; width:120px; height:25px; top:25px; cursor:pointer; line-height:1; font-size:13px; letter-spacing:2px; color:#eeeeee; text-decoration:none }
a.head_btn div { padding:7px 0 0 48px }

a#a_client_link { display:block; background-color:#eeeeee; padding:4px 8px; color:#000000; text-decoration:none; }
a#a_client_link:hover { background-color:#ffffff  }

div#main_title { width:300px; height:38px; background:no-repeat 0 12px;}
div#main_title2 { width:300px; height:33px; background:no-repeat 0 12px;padding:9px 0px 0px 0px;}
h2.main_title {color:#EE46EE; font-family:"メイリオ", meiryo, Verdana,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro';font-weight: normal ; font-size:21px;margin:0;padding:0;}
div.instruction { color:#666666; padding:0 0 20px 20px; font-size:12px }
h5.swap {border:0px solid #FFF;border-bottom:0px solid #EE46EE;margin-bottom:0px;margin-left:10px;margin-right:10px;color:#444 }

table#main_link { height:24px; line-height:20px; width:100%; background-color:#444d62; color:#ffffff }
table#main_link td { width:130px; height:24px; text-align:center; border-right:1px solid #777777; cursor:pointer; vertical-align:middle }
table#main_link td:hover { background-color:#94a7c7 }
table#main_link td.menu_current { background-color:#999999; }
table#main_link td.no_button:hover { cursor:default; background-color:#444d62; }

.instruction { color:#95a8db; font-size:12px }


td#revnm_panel, td#revnm_panel_title { padding-top:10px }
td#revnm_panel_title div { height:23px; line-height:26px; font-size:12px; color:#ffffff; padding:0 6px; letter-spacing:0px; background-color:#ad63aa }
td#revnm_panel div { background:url(./img/revnm_panel.gif) repeat-x; height:23px; line-height:26px; font-size:14px; color:#ffffff; padding:0 16px; letter-spacing:1px; cursor:pointer }
td#revnm_panel div:hover { background-image:url(./img/revnm_panel_on.gif); }

td#revnm_panel2 { padding:5px 5px 0 0 }
td#revnm_panel2 div { background:url(./img/revnm_panel.gif) repeat-x; height:23px; line-height:26px; font-size:14px; color:#ffffff; padding:0 16px; letter-spacing:1px; }
td#revnm_panel2_title { padding:5px 0 0 5px }
td#revnm_panel2_title div { height:23px; line-height:26px; font-size:12px; color:#ffffff; padding:0 6px; background-color:#ad63aa }
td#revnm_panel2 div.gray { background:none; background-color:#CCCCCC;color:#FFFFFF;margin-left: 0;}

div.cate_title { font-size:14px; padding-bottom:4px; color:#58a0e9  }

a.no_login { color:#ff0000 }
a.no_login:hover { color:#ff7777 }


td.listinput { cursor:pointer }
div.listinput_panel1 { position:relative; margin:0 1px }
div.listinput_panel2 { position:relative; width:100%; height:100%; z-index:10000; line-height:1.7; padding-top:10px; display:none }
div.listinput_panel2 a { display:block }
div.listinput_panel2 a:hover { background-color:#ffddee }
div.level_changed { background-color:#ffbbdd; color:#aa0077 }

table.border_list th { border:1px solid #aaaaaa; background-color:#eeeeee; padding:2px 5px }
table.border_list td { border:1px solid #aaaaaa; padding:2px 5px }

.level_selected { background-color:#f8f888 }

#emp_finder_list table { width:100% }
#emp_finder_list table td { width:14%; border:1px solid #aaaaaa; background:#ffffff }
#emp_finder_list table tr.gray td { color:#aaaaaa; }
#emp_finder_list table th { width:14%; border:0; background:transparent; color:#51650A }

div.search_box { padding:5px;display: inline-block;color:#666;}

div.frame {width:100%;overflow:scroll;padding-bottom: 10px;}
