<?
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// これは、適当にコードを書いてダンプするためのファイルです。
// どの画面からもリンクされていません。直でURL指定してください。
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
require_once("common.php");
require_once("migration/migration_3_2.php");

if (!$_SESSION["CID"]) c2SessionErrorAndDie(); // 未ログインなら、ログインページへ
if (!$_SESSION["EMPMST_ROW"]["is_admin"]) c2AuthErrorAndDie(); // システム管理者でなければ、インデックスページへ
if (!$_SESSION["SUPER_CID"]) c2AuthErrorAndDie(); // スーパークライアントでなければ、インデックスページへ
$cid = $_SESSION["CID"]; // 顧客ID

$client_count = c2dbGetOne(' SELECT COUNT(*) FROM hnv_clients; ');


$on_maintenance = false;
$maintenance_message = '';
$systemExist = c2dbGetTopRow("SELECT relname FROM pg_class WHERE relkind = 'r' AND relname = 'hnv_system';  ");
if (count($systemExist) > 0) {
  $systemRow = c2dbGetTopRow("SELECT on_maintenance,maintenance_message FROM hnv_system");
  $on_maintenance = $systemRow["on_maintenance"] ? true : false;
  $maintenance_message = $systemRow["maintenance_message"];
}


if ($req["csv_download_seq"]) {
  $sql = "select csv_rawdata from hnv_upload_csv where upload_seq = ".(int)$req["csv_download_seq"];
  $cont = base64_decode(c2dbGetOne($sql));
  c2OutputCsvHeader("hnv_rawdata_".$req["csv_download_seq"]."_".date("Ymd_His").".csv");
  echo $cont;
  die;
}
if ($req["ajax_action"]=="do_migration_common") {
  $result = do_migration_common();
  echo $result;
  die;
}
if ($req["ajax_action"]=="do_migration") {
  $result = do_migration((int)$req['start'],(int)$req['count']);
  echo $result;
  die;
}
if ($req["ajax_action"]=="change_maintenance") {
  $_on_maintenance = $on_maintenance ? '' : '1';
  $_maintenance_message = $req["maintenance_message"];
  $systemRow = c2dbGetTopRow("SELECT on_maintenance FROM hnv_system");
  if (count($systemRow) > 0) {
    c2dbExec("update hnv_system set on_maintenance = '".$_on_maintenance."' , maintenance_message = '".$_maintenance_message."' ");
  } else {
    c2dbExec("insert into hnv_system ( on_maintenance , maintenance_message ) values ( '".$_on_maintenance."' , '".$_maintenance_message."' ) ");
  }
  echo 'ok';
  die;
}


//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
echoStaticHtml();
?>
</head>
<body>
  <script type="text/javascript">
  function doMigrationCommon() {
    $('#btn_migrate_c').prop("disabled", true);
    $('#btn_migrate_c').html("実行中...");
    var dev_code = ee('dev_code').value;
    if (dev_code === 'nknk2016') {
      $.ajax({url:"dev.html?ajax_action=do_migration_common", success:function(msg) {
        $('#btn_migrate_c').prop("disabled", false);
        $('#btn_migrate_c').html("共有テーブル分を実行");
        alert(msg);
      }});
    }
  }
  function doMigration() {
    $('#btn_migrate').prop("disabled", true);
    $('#btn_migrate').html("実行中...");
    var dev_code = ee('dev_code').value;
    var start = ee('dev_start').value;
    var count = ee('dev_number').value;
    if (dev_code === 'nknk2016' && start && count) {
      $.ajax({url:"dev.html?ajax_action=do_migration&start="+start+"&count="+count, success:function(msg) {
        $('#btn_migrate').html("クライアントテーブル分を実行");
        $('#btn_migrate').prop("disabled", false);
        alert(msg);
      }});
    }
  }
  function changeMaintenance () {
    $.ajax({url:"dev.html?ajax_action=change_maintenance",data:$(document.mnt).serialize(),success:function(msg) {
      //ee("on_maintenance_text");
      location.href = "dev.html";
    }});
  }
  </script>
<? echoMenuLinks(1); ?>
<div id="content_all">


<? if (!$req["action_mode"]) { ?>


  <? // =========================================================================================================== ?>
  <? //                                                                                                   ?>
  <? // =========================================================================================================== ?>
  <ul style="margin:0; padding-left:20px">
  <li><a href="db/phppgadmin_utf8/index.php" target="_blank">phpPgAdmin</a></li>
  </ul>

  <? // =========================================================================================================== ?>
  <? //                                                                                                   ?>
  <? // =========================================================================================================== ?>
  <ul style="margin:10 0 0 0; padding-left:20px">
  <li><a href="log/error.log" target="_blank">log/error.log（<?=number_format(filesize("log/error.log"))?>Byte）</a></li>
  </ul>

  <? // =========================================================================================================== ?>
  <? //                                                                                                   ?>
  <? // =========================================================================================================== ?>
  <ul style="margin:10px 0 0 0; padding-left:20px">
  <li>アップロードされた「職員設定」CSVのダウンロード（正常終了またはエラー終了。キャンセルボタンを押下されたCSVは蓄積されません）
    <table cellspacing="0" cellpadding="0" class="classic">
    <tr>
      <th>全病院共通upload_seq連番</th>
      <th>アップロード日時</th>
      <th>アップロード職員ID</th>
      <th>アップロード職員名</th>
      <th>コマンド(upd_or_ins)</th>
      <th>画面通知されたエラー（クリティカルレベル）</th>
    </tr>
    <?
      $sql = "select * from hnv_upload_csv where cid = ".c2dbStr($cid)." and revid = 0 order by upload_seq";
      $rows = c2dbGetRows($sql);
      foreach ($rows as $row) {
        echo '<tr>';
        echo '<td><a href="dev.html?csv_download_seq='.$row["upload_seq"].'" target="dframe">'.$row["upload_seq"].'</a></td>';
        echo '<td>'.$row["upload_ymdhms"].'</td>';
        echo '<td>'.$row["upload_empid"].'</td>';
        echo '<td>'.c2dbGetOne("select empnm from ".$cid."_hnv_emps where empid = ".c2dbStr($row["upload_empid"])).'</td>';
        echo '<td>'.$row["upd_or_ins"].'</td>';
        echo '<td>'.$row["upload_error"].'</td>';
      }
    ?>
    </table>
  </li>
  </ul>

  <? // =========================================================================================================== ?>
  <? //                                                                                                   ?>
  <? // =========================================================================================================== ?>
  <ul style="margin:10px 0 0 0; padding-left:20px">
  <li>アップロードされた「期間職員」CSVのダウンロード（正常終了またはエラー終了。キャンセルボタンを押下されたCSVは蓄積されません）
    <table cellspacing="0" cellpadding="0" class="classic">
    <tr>
      <th>全病院共通upload_seq連番</th>
      <th>アップロード日時</th>
      <th>アップロード職員ID</th>
      <th>アップロード職員名</th>
      <th>評価期間No.</th>
      <th>画面通知されたエラー（クリティカルレベル）</th>
    </tr>
    <?
      $sql = "select * from hnv_upload_csv where cid = ".c2dbStr($cid)." and revid > 0 order by upload_seq";
      $rows = c2dbGetRows($sql);
      foreach ($rows as $row) {
        echo '<tr>';
        echo '<td><a href="dev.html?csv_download_seq='.$row["upload_seq"].'" target="dframe">'.$row["upload_seq"].'</a></td>';
        echo '<td>'.$row["upload_ymdhms"].'</td>';
        echo '<td>'.$row["upload_empid"].'</td>';
        echo '<td>'.c2dbGetOne("select empnm from ".$cid."_hnv_emps where empid = ".c2dbStr($row["upload_empid"])).'</td>';
        echo '<td>'.$row["revid"].'</td>';
        echo '<td>'.$row["upload_error"].'</td>';
      }
    ?>
    </table>
  </li>
  <li style="margin-top:10px;">DBスキーマのマイグレーション
    <div style="margin:10px;padding:10px;border:1px solid #DDD;width:900px;">
      <input id="dev_code" type="password" placeholder="開発コードを入力します。"/><br/>
      <button id="btn_migrate_c" class="btn150" onclick="doMigrationCommon();">共有テーブル分を実行</button><br/>
      <input id="dev_start" type="number" placeholder="開始インデックス"/><input id="dev_number" type="number" placeholder="クライアント件数"/>
      <button id="btn_migrate" class="btn230" onclick="doMigration();">クライアントテーブル分を実行</button><br/>
      (全クライアント件数：<?=$client_count?>)
    </div>
  </li>
  <li style="margin-top:10px;">メンテナンス状態の変更
    <div>
      <form id="mnt" name="mnt">
      <div style="margin-top:10px;" id="on_maintenance_text"><?=$on_maintenance?"メンテナンス中です":"サービス提供中です"?></div>
      <textarea placeholder="メンテナンス時表示メッセージ" name="maintenance_message"><?=$maintenance_message?></textarea><br/>
      <button class="btn70" onclick="changeMaintenance();">変更</button>
    </form>
    </div>
  </li>
  </ul>


<? } ?>
</div><!-- // content_all -->
</body>
</html>
