<?
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// ログイン職員設定画面
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
require_once("common.php");



//******************************************************************************
// セッション・リクエスト判定その１
//******************************************************************************
if (!$_SESSION["CID"]) c2SessionErrorAndDie(); // 未ログインなら、ログインページへ
$cid = $_SESSION["CID"]; // 顧客ID





//**************************************************************************************************
// （ajax）パスワード変更のための編集パネルのロード。トップページから。
//**************************************************************************************************
if ($req["ajax_action"]=="load_pw_editor") {
	if ($_SESSION["SUPER_CID"]) $cid = $_SESSION["SUPER_CID"];
	$loginRow = c2dbGetTopRow("select * from ".$cid."_hnv_emps where empid = ".c2dbStr($req["empid"]));
?>
<div style="padding:4px"><nobr>
	<button type="button" class="btn100 btn_cancel" onclick="closeEditor()"<?=BTN_FOCUS_BLUR?>><div>キャンセル</div></button>
	<button type="button" class="btn70 btn_save" onclick="trySaveLogin()"<?=BTN_FOCUS_BLUR?>><div>保存</div></button>
</nobr></div>

<div>
	<form id="frm" name="frm">
		<div><?=hh($errormsg)?></div>
		<table cellspacing="0" cellpadding="0" class="list_table prop_table">
		<tr>
			<th><nobr>パスワード</nobr></th>
			<td>
				<button type="button" class="btn60"
					onclick="var which=(ee('login_pw_p').style.display=='none'?'':'1'); ee('login_pw_p').style.display=(which?'none':''); ee('login_pw_t').style.display=(which?'':'none'); this.innerHTML=(which?'abc':'・・・');"
				>・・・</button>
				<input type="hidden" name="login_pw" id="login_pw" value="<?=hh($loginRow["login_pw"])?>" />

				<input type="password" id="login_pw_p" class="text imeoff w100" maxlength="20" value="<?=hh($loginRow["login_pw"])?>" autocomplete="off"
				 onchange="ee('login_pw_t').value=this.value; ee('login_pw').value=this.value;" />
				<input type="text" id="login_pw_t" class="text imeoff w100" maxlength="20" value="<?=hh($loginRow["login_pw"])?>" autocomplete="off"
				 onchange="ee('login_pw_p').value=this.value; ee('login_pw').value=this.value" style="display:none" />
			</td>
		</tr>
		</table>
	</form>
</div>
<?
	die;
}

//**************************************************************************************************
// トップページでのパスワード変更
//**************************************************************************************************
if ($req["ajax_action"]=="try_pw_save") {
	if ($_SESSION["SUPER_CID"]) $cid = $_SESSION["SUPER_CID"];
	$_empid = trim($_SESSION["EMPID"]);
	$_pw = trim($req["login_pw"]);
	$_id = trim($req["login_id"]);
	if (!strlen($_empid)) { echo "アクセスが不正です。(empid)"; die; }
	if (!strlen($_pw)) { echo "パスワードを指定してください。"; die; }
	if (strlen($_pw) < 4) { echo "パスワードは4文字以上で指定してください。"; die; }
	c2dbExec("update ".$cid."_hnv_emps set login_pw = ".c2dbStr($_pw)." where empid = ".c2dbStr($_empid));
	echo "ok";
	die;
}



//******************************************************************************
// セッション・リクエスト判定その２
//******************************************************************************
if (!$_SESSION["EMPMST_ROW"]["is_admin"]) { header("Location: login.html"); die; } // システム管理者でなければ、ログインページへ




//**************************************************************************************************
// アカウント削除
//**************************************************************************************************
if ($req["ajax_action"]=="check_delete") {
	$_empid = $req["empid"];
	$sql = "select count(*) from ".$cid."_hnv_casts where empid = ".c2dbStr($_empid);
	if (c2dbGetOne($sql)) {
		echo "1";
		die;
	}
  $sql = "select count(*) from ".$cid."_hnv_casts_mbo where empid = ".c2dbStr($_empid);
	if (c2dbGetOne($sql)) {
		echo "1";
		die;
	}
  $sql = "select count(*) from ".$cid."_hnv_casts_ttl where empid = ".c2dbStr($_empid);
	if (c2dbGetOne($sql)) {
		echo "1";
		die;
	}

	$revisionRows = c2dbGetRows("select * from ".$cid."_hnv_revisions ");
	foreach ($revisionRows as $row) {
		$_hyo_step = (int)$row["hyo_step"];
		$sql = "select count(*) from ".$cid."_hnv_casts where revid = '".$row['revid']."' and ( 1 <> 1 ";
		for ($idx=1; $idx<=$_hyo_step; $idx++) $sql .= " or hyouka".$idx."_empid = '".$_empid."'";
		$sql .= " ) ";
		if (c2dbGetOne($sql)) {
			echo "2";
			die;
		}
	}
  $revisionRows = c2dbGetRows("select * from ".$cid."_hnv_revisions_mbo ");
	foreach ($revisionRows as $row) {
		$_hyo_step = (int)$row["hyo_step"];
    $_setei_step = (int)$row["setei_step"];
		$sql = "select count(*) from ".$cid."_hnv_casts_mbo where revid = '".$row['revid']."' and ( 1 <> 1 ";
		for ($idx=1; $idx<=$_hyo_step; $idx++) $sql .= " or hyouka".$idx."_empid = '".$_empid."'";
    for ($idx=1; $idx<=$_setei_step; $idx++) $sql .= " or mokuhyo".$idx."_empid = '".$_empid."'";
		$sql .= " ) ";
		if (c2dbGetOne($sql)) {
			echo "2";
			die;
		}
	}

	echo "ok";
	die;
}
if ($req["ajax_action"]=="try_delete") {
	$_empid = $req["empid"];
	c2dbExec("delete from ".$cid."_hnv_emps where empid = ".c2dbStr($req["empid"]));
	for ($idx=1; $idx<=6; $idx++) {
		$sql =
		" update ".$cid."_hnv_casts set".
		" hyouka".$idx."_empid = ''".
		",hyouka".$idx."_empnm = ''".
		" where hyouka".$idx."_empid = ".c2dbStr($req["empid"]);
		c2dbExec($sql);
    $sql =
		" update ".$cid."_hnv_casts_mbo set".
		" hyouka".$idx."_empid = ''".
		",hyouka".$idx."_empnm = ''".
		" where hyouka".$idx."_empid = ".c2dbStr($req["empid"]);
		c2dbExec($sql);
    $sql =
		" update ".$cid."_hnv_casts_mbo set".
		" mokuhyo".$idx."_empid = ''".
		",mokuhyo".$idx."_empnm = ''".
		" where mokuhyo".$idx."_empid = ".c2dbStr($req["empid"]);
		c2dbExec($sql);

	}

	echo "ok";
	die;
}




//**************************************************************************************************
// 新規作成か更新
//**************************************************************************************************
if ($req["ajax_action"]=="try_save") {
	$_cur_empid = $req["cur_empid"];
	$_login_id = ve(trim($req["login_id"]));
	$_login_pw = ve(trim($req["login_pw"]));
	$_empid = ve(trim($req["empid"]));
	$_empnm = ve(trim($req["empnm"]));
	$_is_admin = ($req["is_admin"]=="1" ? "1" : "");
	$_is_active = ($req["is_active"]=="1" ? "1" : "");

	if (!strlen($_empid)) { echo "職員IDを入力してください。"; die; }
	if (!preg_match("/^[0-9A-Za-z_\-]+$/", $_empid)) { echo "職員IDに利用できない文字が含まれています。"; die; }
	if (!strlen($_empnm)) { echo "職員名を入力してください。"; die; }
	if (strlen($_login_pw) && !strlen($_login_id)) { echo "パスワードを指定する場合は、ログインIDを指定してください。"; die; }
	if (strlen($_login_id) && !strlen($_login_pw)) { echo "ログインIDを指定する場合は、パスワードを指定してください。"; die; }
	if (!preg_match("/^[0-9A-Za-z_\-]*$/", $_login_id)) { echo "ログインIDに利用できない文字が含まれています。"; die; }
	if (strlen($_login_id) && strlen($_login_pw) < 4) { echo "パスワードは4文字以上で指定してください。"; die; }
	if (!preg_match("/^[0-9A-Za-z_\-\!\"\#\$\%\&\'\(\)\{\}\<\>\?\@\`\[\]\:\;\\\\\/\*\+]*$/", $_login_pw)) { echo "パスワードに利用できない文字が含まれています。"; die; }

	if ($_cur_empid) {
		$row = c2dbGetTopRow("select * from ".$cid."_hnv_emps where empid = ".c2dbStr($_empid)." and not empid = ".c2dbStr($_cur_empid));
		//print_r($row);

		if ($row) { echo "指定した職員IDは既に利用されています。"; die; }
		if ($_login_id) {
			$row = c2dbGetTopRow("select * from ".$cid."_hnv_emps where login_id = ".c2dbStr($_login_id)." and not empid = ".c2dbStr($_cur_empid));
			if ($row) { echo "指定したログインIDは既に利用されています。"; die; }
		}
	}
	else {
		$row = c2dbGetTopRow("select * from ".$cid."_hnv_emps where empid = ".c2dbStr($_empid));
		if ($row) { echo "指定した職員IDは既に利用されています。"; die; }
		if ($_login_id) {
			$row = c2dbGetTopRow("select * from ".$cid."_hnv_emps where login_id = ".c2dbStr($_login_id));
			if ($row) { echo "指定したログインIDは既に利用されています。"; die; }
		}
	}

	c2dbExec("delete from ".$cid."_hnv_emps where empid = ".c2dbStr($_cur_empid));
	$sql =
	" insert into ".$cid."_hnv_emps ( empid, empnm, login_id, login_pw, is_admin, is_active ) values (".
	" ".c2dbStr($_empid).
	",".c2dbStr($_empnm).
	",".c2dbStr($_login_id).
	",".c2dbStr($_login_pw).
	",".c2dbStr($_is_admin).
	",".c2dbStr($_is_active).
	" )";
	c2dbExec($sql);

	if ($_cur_empid) {
		c2dbExec("update ".$cid."_hnv_casts set empnm = ".c2dbStr($_empnm).", empid = ".c2dbStr($_empid)." where empid = ".c2dbStr($_cur_empid));
		for ($idx=1; $idx<=6; $idx++) {
			$sql =
			" update ".$cid."_hnv_casts set".
			" hyouka".$idx."_empid = ".c2dbStr($_empid).
			",hyouka".$idx."_empnm = ".c2dbStr($_empnm).
			" where hyouka".$idx."_empid = ".c2dbStr($_cur_empid);
			c2dbExec($sql);
		}
    c2dbExec("update ".$cid."_hnv_casts_mbo set empnm = ".c2dbStr($_empnm).", empid = ".c2dbStr($_empid)." where empid = ".c2dbStr($_cur_empid));
		for ($idx=1; $idx<=6; $idx++) {
			$sql =
			" update ".$cid."_hnv_casts_mbo set".
			" hyouka".$idx."_empid = ".c2dbStr($_empid).
			",hyouka".$idx."_empnm = ".c2dbStr($_empnm).
			" where hyouka".$idx."_empid = ".c2dbStr($_cur_empid);
			c2dbExec($sql);
      $sql =
			" update ".$cid."_hnv_casts_mbo set".
			" mokuhyo".$idx."_empid = ".c2dbStr($_empid).
			",mokuhyo".$idx."_empnm = ".c2dbStr($_empnm).
			" where mokuhyo".$idx."_empid = ".c2dbStr($_cur_empid);
			c2dbExec($sql);
		}
    c2dbExec("update ".$cid."_hnv_casts_ttl set empnm = ".c2dbStr($_empnm).", empid = ".c2dbStr($_empid)." where empid = ".c2dbStr($_cur_empid));
	}


	if (!$_SESSION["SUPER_CID"] || $_SESSION["SUPER_CID"]==$cid) {
		if ($_cur_empid==$_SESSION["EMPID"]) {
			$_SESSION["EMPMST_ROW"] = c2dbGetTopRow("select * from ".$cid."_hnv_emps where empid = ".c2dbStr($_empid));
			$_SESSION["LOGIN_ID"] = $_SESSION["EMPMST_ROW"]["login_id"];
			$_SESSION["EMPID"] = $_SESSION["EMPMST_ROW"]["empid"];
			echo "ok@self";
			die;
		}
	}
	echo "ok";
	die;
}




//**************************************************************************************************
// （ajax）編集パネルのロード。職員登録画面からも呼ばれることに注意
//**************************************************************************************************
if ($req["ajax_action"]=="load_editor") {
	$empid = $req["empid"]; // 職員登録画面から
	if ($empid) {
		$empRow = c2dbGetTopRow("select * from ".$cid."_hnv_emps where empid = ".c2dbStr($empid));
		if (!$empRow["empid"]) $empRow["empid"] = $empid;
	} else {
		$empRow = c2dbGetTopRow("select * from ".$cid."_hnv_emps where empid = ".c2dbStr($empid));
		if (!$empid) $empRow["is_active"] = 1;
	}
	$is_self = 0;
	if ((!$_SESSION["SUPER_CID"] || $_SESSION["SUPER_CID"]==$cid) && $empRow["empid"] === $_SESSION["EMPID"]) $is_self = 1;
?>
<div style="padding:4px">
	<button type="button" class="btn100 btn_cancel" onclick="closeEditor()"<?=BTN_FOCUS_BLUR?>><div>キャンセル</div></button>
	<button type="button" class="btn70 btn_save" onclick="trySaveLogin()"<?=BTN_FOCUS_BLUR?>><div>保存</div></button>
	<? if ($empRow["empid"]) { ?>
		<? if ($is_self) {?>
			<span style="padding-left:20px"><b>自分の情報です。削除はできません。</b></span>
		<? } else { ?>
			<button type="button" class="btn70 btn_delete" onclick="tryDeleteLogin('<?=hh($empRow["empid"])?>')" style="margin-left:50px"<?=BTN_FOCUS_BLUR?>><div>削除</div></button>
		<? } ?>
	<? } ?>
</div>

<div>
	<form id="frm" name="frm">
		<input type="hidden" name="cur_empid" value="<?=hh($empRow["empid"])?>" />
		<div><?=hh($errormsg)?></div>
		<table cellspacing="0" cellpadding="0" class="list_table prop_table">
		<tr>
			<th>職員ID</th>
			<td><input type="text" class="text imeoff w150" name="empid" id="empid" maxlength="20"
				value="<?=hh($empRow["empid"])?>" autocomplete="off" />
				<div style="padding-top:3px">
					<span class="instruction">半角英数字およびアンダーバー、ハイフン20文字まで</span>
				</div>
			</td>
		</tr>
		<tr>
			<th>職員名</th>
			<td><input type="text" class="text w150" name="empnm" id="empnm" maxlength="100"
				value="<?=hh($empRow["empnm"])?>" autocomplete="off" />
				<div style="padding-top:3px">
					<span class="instruction">職員氏名／100文字まで</span>
				</div>
			</td>
		</tr>
		<tr>
			<th>ログインID</th>
			<td>
				<input type="text" class="text imeoff w150" name="login_id" maxlength="20" value="<?=hh($empRow["login_id"])?>" autocomplete="off" />
				<span style="color:#00aa00; letter-spacing:1px">@<?=$cid?></span>
				<div style="padding-top:3px">
					<span class="instruction">半角英数字およびアンダーバー、ハイフン20文字まで／「評価者」「最終判定者」となる職員に指定してください。</span>
				</div>
			</td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td>

				<button type="button" class="btn60"
					onclick="var which=(ee('login_pw_p').style.display=='none'?'':'1'); ee('login_pw_p').style.display=(which?'none':''); ee('login_pw_t').style.display=(which?'':'none'); this.innerHTML=(which?'abc':'・・・');"
				>・・・</button>
				<input type="hidden" name="login_pw" id="login_pw" value="<?=hh($empRow["login_pw"])?>" />

				<input type="password" id="login_pw_p" class="text imeoff w200" maxlength="20" value="<?=hh($empRow["login_pw"])?>" autocomplete="off"
				 onchange="ee('login_pw_t').value=this.value; ee('login_pw').value=this.value;" />
				<input type="text" id="login_pw_t" class="text imeoff w200" maxlength="20" value="<?=hh($empRow["login_pw"])?>" autocomplete="off"
				 onchange="ee('login_pw_p').value=this.value; ee('login_pw').value=this.value" style="display:none" />
				<div style="padding-top:3px">
					<span class="instruction">カナを除く半角文字20文字まで／「評価者」「最終判定者」となる職員に指定してください。</span>
				</div>
			</td>
		</tr>
		<tr>
			<th><nobr>システム管理者</nobr></th>
			<td>
				<? if ($is_self) {?>
				はい
				<input type="hidden" name="is_admin" value="1" />
				<? } else { ?>
					<select name="is_admin">
						<option value=""></option>
						<option value="1"<?=($empRow["is_admin"]?" selected":"")?>>はい</option>
					</select>
					<div style="padding-top:3px">
						<span class="instruction">システム管理者は、「人事評価Navigator」システムのすべての操作が可能です。</span><br>
						<span class="instruction">システム管理者のみ、「管理画面」を利用できます。</span>
					</div>
				<? } ?>
			 </td>
		</tr>
		<tr>
			<th>ログイン可否</th>
			<td>
				<? if ($is_self) {?>
				可
				<input type="hidden" name="is_active" value="1" />
				<? } else { ?>
					<select name="is_active">
						<option value="">ログイン禁止</option>
						<option value="1"<?=($empRow["is_active"]?" selected":"")?>>可</option>
					</select>
					<div style="padding-top:3px">
						<span class="instruction">「評価者」「最終判定者」となる職員は、ログインを許可してください。</span>
					</div>
				<? } ?>
			 </td>
		</tr>
		</table>
	</form>
</div>
<?
	die;
} // end of load_editor







//**************************************************************************************************
// （ajax）初期表示のロード
//**************************************************************************************************
if ($req["ajax_action"]=="load_default") {
	$sql = array();
	$sql[] = "select * from ".$cid."_hnv_emps";
	$sql[]= " where 1 = 1";
	if ($req["sf_empid"]!="") $sql[]= " and empid like ".c2dbStr($req["sf_empid"]."%");
	if ($req["sf_empnm"]!="") {
		$ary = explode(" ", str_replace("　", " ", $req["sf_empnm"]));
		$cnt = 0;
		foreach ($ary as $s) {
			if (trim($s)=="") continue;
			$cnt++;
			if ($cnt>5) break;
			$sql[]= " and empnm like ".c2dbStr("%".$s."%");
		}
	}
	if ($req["sf_login_id"]!="") $sql[]= " and login_id like ".c2dbStr($req["sf_login_id"]."%");
	if ($req["sf_is_admin"]!="") $sql[]= " and is_admin = '1'";
	if ((int)@$req["sf_revid"]) {
		$sql[]= " and empid in (select empid from ".$cid."_hnv_casts where revid = ".(int)$req["sf_revid"].")";
	}
  if ((int)@$req["sf_revid_mbo"]) {
		$sql[]= " and empid in (select empid from ".$cid."_hnv_casts_mbo where revid = ".(int)$req["sf_revid_mbo"].")";
	}

  $sql[]= " order by lpad(empid,30,'0')";
	$empRows = c2dbGetRows(implode("\n", $sql));
	if (!count($empRows)) {
		echo '<div style="padding:20px 0">職員は存在しません。</div>';
	}
?>
	<? if (count($empRows)) { ?>
		<div style="padding:2px 4px 4px 0">
			<span style="padding-right:20px; font-size:12px">該当<span style="font-size:16px; padding:0 2px"><?=count($empRows)?></span>人</span>
			<button type="button" onclick="location.href='empimp.html?view_mode=download_csv';"
				class="btn180 btn_dl"<?=BTN_FOCUS_BLUR?>><div>全職員CSVダウンロード</div></button>
		</div>
		<table cellspacing="0" cellpadding="0" class="list_table">
		<tr>
			<th class="corner2">編集</th>
			<th>職員ID</th>
			<th>職員名</th>
			<th>ログインID</th>
			<th>パスワード</th>
			<th>システム管理者</th>
			<th>ログイン可否</th>
		</tr>
		<? foreach ($empRows as $row) { ?>
		<tr>
			<td><button type="button" class="btn60 btn_edit" onclick="loadEditor('<?=$row["empid"]?>')"<?=BTN_FOCUS_BLUR?>>編集</button></td>
			<td class="left"><?=hh($row["empid"])?></td>
			<td class="left"><?=hh($row["empnm"])?></td>
			<td class="left" style="letter-spacing:1px"><?=hh($row["login_id"])?><span style="color:#00bb00">@<?=$cid?></span></td>
			<td class="left" style="letter-spacing:1px">
			<?
				if ($req["sf_show_pw"]) {
					echo hh($row["login_pw"]);
				} else {
					echo str_repeat("*", strlen($row["login_pw"]));
				}
			?>
			</td>
			<td><?=($row["is_admin"] ? "●": "")?></td>
			<td><?=($row["is_active"] ? "可": '<span class="red">ログイン禁止</span>')?></td>
		</tr>
		<? } ?>
		</table>
	<? } ?>
<?
	die;
} // end of load_default





//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
echoStaticHtml();
?>
</head>
<body onload="loadInit()">
<script type="text/javascript">
	var scTop = 0;
	function loadInit() {
		loadDefault();
	}
	function loadDefault() {
		$.ajax({url:"emps.html?ajax_action=load_default", data:$(document.frm_list).serialize(), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
			ee("div_list").innerHTML = msg;
		}});
	}
	function loadEditor(empid) {
		scTop = getWindowScrollTop(window);
		$.ajax({url:"emps.html?ajax_action=load_editor&empid="+encodeURIComponent(empid), success:function(msg) {
//    $.ajax({url:"emps.html?ajax_action=load_editor&empid="+empid, success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
			ee("div_base").style.display = "none";
			ee("div_list").style.display = "none";
			ee("div_editor").innerHTML = msg;
			tryFocus('empid');
		}});
	}
	function closeEditor() {
		ee("div_editor").innerHTML = "";
		ee("div_base").style.display = "";
		ee("div_list").style.display = "";
		window.scrollTo(0, scTop);
	}
	function tryDeleteLogin(empid) {
		var empid = empid;
		function deleteLogin () {
			$.ajax({url:"emps.html?ajax_action=try_delete&empid="+encodeURIComponent(empid), success:function(msg) {
				var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
				loadInit();
				closeEditor();
			}});
		}
		if (!confirm("削除します。よろしいですか？")) return;
		$.ajax({url:"emps.html?ajax_action=check_delete&empid="+encodeURIComponent(empid), success:function(msg) {
			if (msg === '1') {
				alert("被評価者として登録済の職員です。削除できません。");
			} else if (msg === '2') {
				if (window.confirm("評価者として登録済の職員です。\n削除すると過去を含む全ての評価履歴から、この職員名が削除されます。\n本当に削除しますか。")) {
					deleteLogin();
				}
			} else {
				deleteLogin();
			}
		}});
	}
	function trySaveLogin() {
		if (!confirm("保存します。よろしいですか？")) return;
		$.ajax({url:"emps.html?ajax_action=try_save", data:$(document.frm).serialize(), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
			if (msg=="ok@self") {
				window.location.reload(true);
			} else {
				loadInit();
				closeEditor();
			}
		}});
	}
</script>
<? echoMenuLinks(1); ?>
<div id="content_all">
  <div id="main_title2" title="＠職員設定" style="width:250px;"><h2 class="main_title">＠職員設定</h2></div>
	<div class="instruction">
		評価者/被評価者を問わず、退職済職員/就業予定職員を問わず、関係する職員を登録します。<br>
	</div>
	<div>
		<div id="div_base">
			<div style="padding:4px">
				<button type="button" class="btn100 btn_new" onclick="loadEditor('')"<?=BTN_FOCUS_BLUR?>><div>新規作成</div></button>
				<button type="button" onclick="location.href='empimp.html'" style="margin-left:50px" class="btn100 btn_locate"<?=BTN_FOCUS_BLUR?>><div>一括登録</div></button>
			</div>
			<div style="padding:4px 0">
			<form name="frm_list">
				<div style="background-color:#f5f5f5; padding:10px; border:1px solid #dddddd">
					職員ID
					<input type="text" name="sf_empid" class="text w100 imeoff" title="職員ID：前方一致検索"
						onchange="loadDefault()" onkeydown="if (isEnterKey(this, event)) loadDefault()" />
					<span style="padding-left:10px">職員名</span>
					<input type="text" name="sf_empnm" class="text w100" title="職員名：部分一致検索"
						onchange="loadDefault()" onkeydown="if (isEnterKey(this, event)) loadDefault()" />
					<span style="padding-left:10px">ログインID</span>
					<input type="text" name="sf_login_id" class="text w100 imeoff" title="ログインID：前方一致検索"
						onchange="loadDefault()" onkeydown="if (isEnterKey(this, event)) loadDefault()" />
					<span style="padding-left:10px">
					<label title="システム管理者：チェックを行うとシステム管理者のみを抽出します">
						<input type="checkbox" value="1" name="sf_is_admin" onclick="loadDefault()">システム管理者
					</label>
					</span>
					<span style="padding-left:10px">
					<label title="パスワード表示：パスワードを画面で見えるようにします。">
						<input type="checkbox" value="1" name="sf_show_pw" onclick="loadDefault()">パスワード表示
					</label>
					</span>
					<? $revisionRows = c2dbGetRows("select * from ".$cid."_hnv_revisions order by rev_fr_ymd, rev_to_ymd, revnm"); ?>
					<? if (count($revisionRows)) { ?>
						<div style="padding-top:4px; line-height:24px">
							行動評価
							<select name="sf_revid" onchange="loadDefault()" title="評価期間：指定した評価期間に登録されている職員のみを抽出します">
								<option value=""></option>
								<? $revisionRows = c2dbGetRows("select revid, revnm from ".$cid."_hnv_revisions order by rev_fr_ymd desc, rev_to_ymd desc"); ?>
								<? foreach ($revisionRows as $row) { ?>
								<option value="<?=$row["revid"]?>"><?=$row["revnm"]?></option>
								<? } ?>
							</select>
							に登録されている職員
						</div>
					<? } ?>
          <? $revisionRows = c2dbGetRows("select * from ".$cid."_hnv_revisions_mbo order by rev_fr_ymd, rev_to_ymd, revnm"); ?>
					<? if (count($revisionRows)) { ?>
						<div style="padding-top:4px; line-height:24px">
							目標達成度評価
							<select name="sf_revid_mbo" onchange="loadDefault()" title="評価期間：指定した評価期間に登録されている職員のみを抽出します">
								<option value=""></option>
								<? $revisionRows = c2dbGetRows("select revid, revnm from ".$cid."_hnv_revisions_mbo order by rev_fr_ymd desc, rev_to_ymd desc"); ?>
								<? foreach ($revisionRows as $row) { ?>
								<option value="<?=$row["revid"]?>"><?=$row["revnm"]?></option>
								<? } ?>
							</select>
							に登録されている職員
						</div>
					<? } ?>
				</div>
			</form>
			</div>
		</div>
		<div id="div_list"></div>
		<div id="div_editor"></div>
	</div>
</div><!-- // content_all -->
</body>
</html>
