<?
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// テンプレート画面
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
require_once("common.php");

//******************************************************************************
// セッション・リクエスト判定
//******************************************************************************
if (!$_SESSION["CID"]) c2SessionErrorAndDie(); // 未ログインなら、ログインページへ

//**************************************************************************************************
// （ajax）通常画面用 初期表示のロード
//**************************************************************************************************
if ($req["ajax_action"]=="load_publish") {
	$nkRow = c2dbGetTopRow("select * from hnv_clients where cid = 'nk'");
?>

	<div id="main_title2" title="＠FAQ・操作マニュアル" style="width:250px;"><h2 class="main_title">＠FAQ・操作マニュアル</h2></div>
	<? if ($_SESSION["SUPER_CID"]) { ?>
	<div style="position:absolute; left:300px; top:13px">
		<a href="faq.html?view_mode=admin"<?=BTN_FOCUS_BLUR?>>→ スーパークライアントメンテナンス</a>
	</div>
	<? } ?>
	<div class="instruction" style="padding-top:10px;font-size:14px;">
		操作方法の不明点については操作マニュアルもご覧下さい。<br/>
		<? if ($nkRow["manual_admin_link"]) { ?>
			<a href="<?=$nkRow["manual_admin_link"]?>">管理者マニュアルをダウンロード</a><br>
		<? } ?>
		<? if ($nkRow["manual_hyoka_link"]) { ?>
			<a href="<?=$nkRow["manual_hyoka_link"]?>">評価者マニュアルをダウンロード</a><br>
		<? } ?>
    <? if ($nkRow["manual_emp_link"]) { ?>
			<a href="<?=$nkRow["manual_emp_link"]?>">被評価者マニュアルをダウンロード</a><br>
		<? } ?>

	</div>
	<table style="width:90%;min-width:800px;">
		<tr>
			<td style="width:530px;">
					<div style="padding:10px;" class="left">
						<input id="search_word" class="text" type="text" placeholder="調べたいキーワードを入力してください" value="<?=$req["search_word"]?>" />
						<button type="button" class="btn100" onclick="loadSearch()"><div>検索</div></button>
					</div>
					<div style="padding:10px;" class="left">
						<span style="color:#900;font-size:11px;"><?=$req["search_word"] ? "「".$req["search_word"]."」で絞り込み中" : "" ?></span>
						<ul>
							<?
								$search_word = $req["search_word"];
								$where = ($search_word) ? " and ( faq_title like '%".$search_word."%' or faq_text like '%".$search_word."%' )" : "";
								$sql =
								" select * from hnv_faq ".
								" where ( publish_mode = 'GLOBAL'".
								" ".($_SESSION["SUPER_CID"] ? " or publish_mode = 'TESTING'" : "").
								" ".(($_SESSION["EMPMST_ROW"]["is_admin"]||$_SESSION["SUPER_CID"]) ? " or publish_mode = 'ADMIN'" : "").
								" ) ".$where.
								" order by sort_order, faq_seq desc";
								$faqRows = c2dbGetRows($sql);
								$faqRow = array();
								foreach ($faqRows as $row) {
									if (!count($faqRow)) $faqRow = $row;
									if ($row["faq_seq"]==$faqs) $faqRow = $row;
								}
								$faqs = (int)$faqRow["faq_seq"];
								foreach ($faqRows as $row) {
							?>
								<li style="color:#00F;margin:5px;font-size:13px;"><a href="javascript:void(0)" onclick="loadDetail('<?=$row["faq_seq"]?>')" ><?=$row["faq_title"]?></a></li>
							<? } ?>
						</ul>
					</div>
			</td>
			<td >
					<div id="div_detail" style="width:100%;min-width:300px;margin:20px;margin-top:10px;float:left;border:solid 1px #CCC;border-radius:10px;min-height:400px;padding:20px;background-color:#FAFAFA;">
						<h2 style="color:#999;">選択したFAQの内容がこちらに表示されます。</h2>
					</div>
			</td>
		</tr>
	</table>

<?
	die;
} // end of load_admin





//**************************************************************************************************
// （ajax）FAQの削除
//**************************************************************************************************
if ($req["ajax_action"]=="try_delete") {
	if (!$_SESSION["SUPER_CID"]) c2AuthErrorAndDie(); // スーパークライアントでない。インデックスページへ。
	c2dbExec("delete from hnv_faq where faq_seq = ".c2dbStr($req["faq_seq"]));
	echo "ok";
	die;
}




//**************************************************************************************************
// （ajax）FAQを保存する
//**************************************************************************************************
if ($req["ajax_action"]=="try_save") {
	if (!$_SESSION["SUPER_CID"]) c2AuthErrorAndDie(); // スーパークライアントでない。インデックスページへ。
	$err = array();
	if (!trim($req["faq_title"])) $err[]= "タイトルを指定してください。";
	if (!trim($req["faq_text"])) $err[]= "説明文を指定してください。";
	if (count($err)) { echo implode("\n", $err); die; }
	$faq_seq = (int)$req["faq_seq"];
	if ($faq_seq) {
		$sql =
		" update hnv_faq set".
		" faq_title = ".c2dbStr($req["faq_title"]).
		",faq_text = ".c2dbStr($req["faq_text"]).
		",publish_mode = ".c2dbStr($req["publish_mode"]).
		",sort_order = ".c2dbStr($req["sort_order"]).
		" where faq_seq = ".$faq_seq;
	} else {
		$faq_seq = 1 + c2dbGetOne("select max(faq_seq) from hnv_faq");
		$sql =
		" insert into hnv_faq ( faq_seq, faq_title, faq_text, publish_mode, sort_order ) values (".
		" ".$faq_seq.
		",".c2dbStr($req["faq_title"]).
		",".c2dbStr($req["faq_text"]).
		",".c2dbStr($req["publish_mode"]).
		",".c2dbStr($req["sort_order"]).
		")";
	}
	c2dbExec($sql);
	echo "ok";
	die;
}




//**************************************************************************************************
// （ajax）編集パネルのロード
//**************************************************************************************************
if ($req["ajax_action"]=="load_editor") {
	if (!$_SESSION["SUPER_CID"]) c2AuthErrorAndDie(); // スーパークライアントでない。インデックスページへ。
	$faqRow = c2dbGetTopRow("select * from hnv_faq where faq_seq = ".(int)$req["faq_seq"]);
?>
<div style="padding:4px">
	<button type="button" class="btn130 btn_cancel" onclick="closeEditor()"<?=BTN_FOCUS_BLUR?>><div>編集一覧へ戻る</div></button>
	<button type="button" class="btn70 btn_save" onclick="trySave()"<?=BTN_FOCUS_BLUR?>><div>保存</div></button>
	<? if ($req["faq_seq"]) { ?>
	<button type="button" class="btn70 btn_delete" style="margin-left:50px" onclick="tryDelete('<?=hh($faqRow["faq_seq"])?>')"<?=BTN_FOCUS_BLUR?>><div>削除</div></button>
	<? } ?>
</div>
<div>
	<form id="frm" name="frm">
		<input type="hidden" name="faq_seq" value="<?=hh($faqRow["faq_seq"])?>" />
		<div><?=hh($errormsg)?></div>
		<table cellspacing="0" cellpadding="0" class="list_table prop_table">
		<tr>
			<th>FAQ ID</th>
			<td style="height:25px">
				<?
				if ($faqRow["faq_seq"]) echo '<div style="border:1px solid #cccccc; width:60px; padding:4px">'.$faqRow["faq_seq"].'</div>';
				else echo '（登録後に自動採番）';
				?>
				<input type="hidden" name="faq_seq" value="<?=$faqRow["faq_seq"]?>" />
				<div style="padding-top:2px">
				<span class="instruction">内部管理IDです。クライアントには見えません。</span>
				</div>
			</td>
		</tr>
		<tr>
			<th>タイトル</th>
			<td>
				<input type="text" class="text w500" name="faq_title" id="faq_title_input"  value="<?=hh($faqRow["faq_title"])?>" />
				<div style="padding-top:2px">
				<span class="instruction">必須入力です。</span><br>
				</div>
			</td>
		</tr>
		<tr>
			<th>説明文</th>
			<td>
				<textarea name="faq_text" cols="70" rows="5" style="width:500px;height:300px;"><?=hh($faqRow["faq_text"])?></textarea>
				<div style="padding-top:2px">
				<span class="instruction">必須入力です。複数行可能です。</span><br>
				</div>
			</td>
		</tr>
		<tr>
			<th>公開状態</th>
			<td>
				<select name="publish_mode">
					<option value="">非公開</option>
					<option value="TESTING"<?=($faqRow["publish_mode"]=="TESTING"?" selected":"")?>>スーパークライアント</option>
					<option value="ADMIN"<?=($faqRow["publish_mode"]=="ADMIN"?" selected":"")?>>スーパークライアント・管理者</option>
					<option value="GLOBAL"<?=($faqRow["publish_mode"]=="GLOBAL"?" selected":"")?>>スーパークライアント・管理者・評価者</option>
				</select>
				<div style="padding-top:2px">
				<span class="instruction">「スーパークライアント」は、試験的に公開したい場合に利用してください。</span>
				</div>
			 </td>
		</tr>
		<tr>
			<th>表示順</th>
			<td>
				<input type="text" class="text w100 imeoff" name="sort_order" maxlength="10" value="<?=hh($faqRow["sort_order"])?>" />
				<div style="padding-top:2px">
				<span class="instruction">自由かつ適当なコードを指定可能です。</span><br>
				<span class="instruction">文字コード順で画面に並べられます。例えば「B01」より「A04」が先に表示され、「9」より「10」（イチゼロ）が先に表示されることになります。</span>
				</div>
			</td>
		</tr>
		</table>
	</form>
</div>

<?
	die;
} // end of load_editor


//**************************************************************************************************
// （ajax）詳細のロード
//**************************************************************************************************
if ($req["ajax_action"]=="load_detail") {
	$faqRow = c2dbGetTopRow("select * from hnv_faq where faq_seq = ".(int)$req["faq_seq"]);
?>
<h2><?=hh($faqRow["faq_title"])?></h2>
<span style="text-align:left">
<pre style="white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;white-space: pre-wrap;word-wrap: break-word;">
<?=hh($faqRow["faq_text"])?>
</pre>
<span>
<?
	die;
} // end of load_editor

//**************************************************************************************************
// （ajax）管理画面用 初期表示のロード
//**************************************************************************************************
if ($req["ajax_action"]=="load_admin") {
  if (!$_SESSION["SUPER_CID"]) c2AuthErrorAndDie(); // スーパークライアントでない。インデックスページへ
	$sql = "select * from hnv_faq order by faq_seq desc ";
	$faqRows = c2dbGetRows($sql);
?>
	<div style="padding:4px">
		<button type="button" class="btn100 btn_new" onclick="loadEditor()"<?=BTN_FOCUS_BLUR?>><div>新規作成</div></button>
	</div>
	<? if (count($faqRows)) { ?>
		<table cellspacing="0" cellpadding="0" class="list_table">
		<tr>
			<th class="corner2">編集</1>
			<th class="corner2">FAQ ID</th>
			<th class="corner2">公開状態</th>
			<th>タイトル</th>
      <th>表示順</th>
		</tr>
		<? foreach ($faqRows as $row) { ?>
		<tr>
			<td><button type="button btn_edit" onclick="loadEditor('<?=$row["faq_seq"]?>')" class="btn60"<?=BTN_FOCUS_BLUR?>>編集</button></td>
			<td><?=$row["faq_seq"]?></td>
			<td class="left">
				<?
					if ($row["publish_mode"]=="GLOBAL") echo "スーパークライアント・管理者・評価者";
					else if ($row["publish_mode"]=="ADMIN")  echo "スーパークライアント・管理者";
					else if ($row["publish_mode"]=="TESTING")  echo "スーパークライアント";
					else echo "非公開";
				?>
			</td>
			<td><?=hh($row["faq_title"])?></td>
			<td><?=hh($row["sort_order"])?></td>
		</tr>
		<? } ?>
		</table>
	<? } ?>
<?
	die;
} // end of load_list




//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
echoStaticHtml();
?>
</head>
<body spellcheck="false" onload="loadInit()">
<script type="text/javascript">
	var scTop = 0;
	var viewMode = "<?=($req["view_mode"]=="admin" ? 'admin' : 'publish')?>";
	var divName = "<?=($req["view_mode"]=="admin" ? 'div_admin' : 'div_publish')?>";
	function loadInit() {
		<? if ($uploadError) { ?>
			ee(divName).style.display = "none";
		<? } ?>
		ee("div_admin_header").style.display = (viewMode=="admin"?"":"none");
		$.ajax({url:"faq.html?ajax_action=load_"+viewMode, success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
			ee(divName).innerHTML = msg;
		}});
	}
	function loadEditor(faq_seq) {
		scTop = getWindowScrollTop(window);
		$.ajax({url:"faq.html?ajax_action=load_editor&faq_seq="+encodeURIComponent(faq_seq), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
			ee(divName).style.display = "none";
			ee("div_editor").innerHTML = msg;
			tryFocus('faq_title_input');
			window.scrollTo(0, 0);
		}});
	}
	function loadDetail(faq_seq) {
		scTop = getWindowScrollTop(window);
		$.ajax({url:"faq.html?ajax_action=load_detail&faq_seq="+encodeURIComponent(faq_seq), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
			ee("div_detail").innerHTML = msg;
		}});
	}
	function loadSearch() {
		scTop = getWindowScrollTop(window);
		var search_word = ee("search_word").value;
		$.ajax({url:"faq.html?ajax_action=load_publish&search_word="+encodeURIComponent(search_word), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
			ee(divName).innerHTML = msg;
		}});
	}
	function closeEditor() {
		ee("div_editor").innerHTML = "";
		ee(divName).style.display = "";
		window.scrollTo(0, scTop);
	}
	function tryDelete(faq_seq) {
		if (!confirm("削除します。よろしいですか？"+faq_seq)) return;
		$.ajax({url:"faq.html?ajax_action=try_delete&faq_seq="+encodeURIComponent(faq_seq), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
			loadInit();
			closeEditor();
		}});
	}
	function trySave() {
		if (!confirm("保存します。よろしいですか？")) return;
		$.ajax({url:"faq.html?ajax_action=try_save", data:$(document.frm).serialize(), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
			loadInit();
			closeEditor();
		}});
	}
</script>
<? echoMenuLinks(0); ?>
<div id="content_all">
	<div>
		<div id="div_publish"></div>
		<div id="div_admin_header" style="display:none">
			<div id="main_title2" title="＠FAQ・操作マニュアル" style="width:250px;"><h2 class="main_title">＠FAQ・操作マニュアル</h2></div>
			<div style="position:absolute; left:300px; top:8px">
				<button type="button" class="btn130 btn_cancel" onclick="window.location.href='faq.html';"<?=BTN_FOCUS_BLUR?>><div>公開一覧へ戻る</div></button>
			</div>
			<div class="instruction" style="padding-top:10px">
				ここから「FAQ」の登録・編集・削除が行えます。<br>
				「FAQ」は、全クライアントに対し、一律提供されます。<br>
				「全クライアントへ公開」がひとつ以上指定されると、クライアントへの公開が行われます。<br>
				<span style="color:red">この機能へは、mssログインまたはnkログイン（スーパークライアント）でのみアクセス可能です。</span>
			</div>
		</div>
		<div id="div_admin"></div>
		<div id="div_editor"></div>
	</div>
</div><!-- // content_all -->
</body>
</html>
