<?
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// 目標達成度評価の表示項目設定
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
require_once("common.php");

//******************************************************************************
// セッション・リクエスト判定
//******************************************************************************
if (!$_SESSION["CID"]) c2SessionErrorAndDie(); // 未ログインなら、ログインページへ
$cid = $_SESSION["CID"]; // 顧客ID

$revid = (int)$req["revid"];
$revisionRow = c2dbGetTopRow("select * from ".$cid."_hnv_revisions_mbo where revid = ".$revid);
$formRows = array();
$formRows[] = c2dbGetRows("select * from ".$cid."_hnv_form_mbo where revid = ".$revid." and type = '1' order by sort_order");
$formRows[] = c2dbGetRows("select * from ".$cid."_hnv_form_mbo where revid = ".$revid." and type = '3' order by sort_order");
$formRows[] = c2dbGetRows("select * from ".$cid."_hnv_form_mbo where revid = ".$revid." and type = '2' order by sort_order");


//**************************************************************************************************
// 表示項目設定を保存
//**************************************************************************************************
if ($req["ajax_action"]=="try_save") {
  c2dbBeginTrans();
  for ($i=0 ; $i<count($formRows) ; $i++) {
    $forms = $formRows[$i];
    for ($idx=1 ; $idx <= count($forms) ; $idx++) {
      $row = $forms[$idx-1];
      $formid = $row["formid"];
      $is_used = ($req[$formid."_is_used"] ? "1" : "");
      $label = ve(trim($req[$formid."_label"]));
      $sort_order = (int)$req[$formid."_sort_order"];
      $sql =
      " update ".$cid."_hnv_form_mbo set ".
      " label = ".c2dbStr($label).
      (($formid!='challenge'&&$formid!='gekihen')?",is_used = '".$is_used."'":"").
      ",jiko_edit_right = '".$req[$formid."_jiko_edit_right"]."'".
      ",hyo1_edit_right = '".$req[$formid."_hyo1_edit_right"]."'".
      ",hyo2_edit_right = '".$req[$formid."_hyo2_edit_right"]."'".
      ",hyo3_edit_right = '".$req[$formid."_hyo3_edit_right"]."'".
      ",hyo4_edit_right = '".$req[$formid."_hyo4_edit_right"]."'".
      ",hyo5_edit_right = '".$req[$formid."_hyo5_edit_right"]."'".
      ",hyo6_edit_right = '".$req[$formid."_hyo6_edit_right"]."'".
      ",sort_order = ".$sort_order.
      " where revid = ".$revid.
      " and formid = '".$formid."'";
      c2dbExec($sql);
    }
  }
  c2dbCommit();
  echo "ok";
  die;
}


//**************************************************************************************************
// （ajax）編集パネルのロード
//**************************************************************************************************
if ($req["ajax_action"]=="load_editor") {
?>
<form id="frm" name="frm">
  <div style="padding:4px">
    <button type="button" onclick="location.href='revisionsMbo.html'" class="btn100 btn_cancel"<?=BTN_FOCUS_BLUR?>><div>キャンセル</div></button>
    <button type="button" onclick="trySave(this)" class="btn100 btn_new"<?=BTN_FOCUS_BLUR?>><div>保存</div></button>
  </div>
  <? for ($idx=0 ; $idx<count($formRows) ; $idx++) {
    $forms = $formRows[$idx];
    $steps = $idx==0 ? $revisionRow["setei_step"] : $revisionRow["hyo_step"];
  ?>
  <h3><?=($idx==0 ? '■目標項目' : ($idx==1 ? '■自己評価項目' : '■評価項目') )?></h3>
  <? if (count($forms)) { ?>
    <? if ($idx==0) { ?>
      <span class="instruction">※ ウェイトのチェックを外すと、自動的に全ての目標が同じ割合で計算されます。（例：4つの目標があると各25%で評価される）</span>
    <? } ?>
    <table cellspacing="0" cellpadding="0" class="list_table_mbo">
    <tr>
      <th class="w150"><nobr>項目</nobr></th>
      <th><nobr>使用</nobr></th>
      <th><nobr>ラベル</nobr></th>
      <th><nobr>順番</nobr></th>
      <th style="<?=$idx==2?'display:none;':''?>" ><nobr>被評価者</nobr></th>
      <? for ($step=1;$step<=$steps;$step++) { ?>
        <th style="<?=$idx==1?'display:none;':''?>" ><nobr><?=$step?>次<?=$idx==2?'評価者':'承認者'?></nobr></th>
      <? } ?>
    </tr>
    <? foreach ($forms as $row) { ?>
    <tr class="formRow<?=$row['type']?> <?=$row['formid']?> ">
      <td class="left">
        <?=hh($row["label_default"])?>
        <input type="hidden" class="sort_order" name="<?=$row['formid']?>_sort_order" value="<?=$row['sort_order']?>" />
      </td>
      <td class="left">
        <? if ($row["is_required"]) { ?>
          <font style="color:#F00">必須</font>
          <input name="<?=$row['formid']?>_is_used" type="hidden" value="1" />
        <? } else if ($row["formid"] == 'challenge') { ?>
          <input name="<?=$row['formid']?>_is_used" disabled="disabled" type="checkbox" title="評価期間の設定画面でチャレンジ認定の段階数を設定すると、利用有無が自動的に決まります。"
           <?=($row["is_used"]=='1' ? 'checked' : '')?>  />
        <? } else if ($row["formid"] == 'gekihen') { ?>
          <input name="<?=$row['formid']?>_is_used" disabled="disabled" type="checkbox" title="評価期間の設定画面で激変認定の段階数を設定すると、利用有無が自動的に決まります。"
          <?=($row["is_used"]=='1' ? 'checked' : '')?>  />
        <? } else { ?>
          <input name="<?=$row['formid']?>_is_used" type="checkbox" <?=($row["is_used"]=='1' ? 'checked' : '')?> />
        <? } ?>
      </td>
      <td class="left"><input name="<?=$row['formid']?>_label" type="text" class="text w150" value="<?=$row['label']?>" placeholder="<?=$row['label_default']?>" /></td>
      <td class="left">
        <button type="button" onclick="upFormOrder('<?=$row["type"]?>','<?=$row["formid"]?>');" class="btn60">▲</button>
        <button type="button" onclick="downFormOrder('<?=$row["type"]?>','<?=$row["formid"]?>');" class="btn60">▼</button></td>
      <td class="left" style="<?=$idx==2?'display:none;':''?>" >
        <select name="<?=$row['formid']?>_jiko_edit_right">
          <option value="required" <?=($row["jiko_edit_right"]=='required' ? 'selected' : '')?> >必須</option>
          <option value="editable" <?=($row["jiko_edit_right"]=='editable' ? 'selected' : '')?> >任意</option>
          <option value="readonly" <?=($row["jiko_edit_right"]=='readonly' ? 'selected' : '')?> >閲覧</option>
        </select>
      </td>
      <? for ($step=1;$step<=$steps;$step++) { ?>
        <td class="left" style="<?=$idx==1?'display:none;':''?>" >
          <select name="<?=$row['formid']?>_hyo<?=$step?>_edit_right" >
            <option value="required" <?=($row["hyo".$step."_edit_right"]=='required' ? 'selected' : '')?> >必須</option>
            <option value="editable" <?=($row["hyo".$step."_edit_right"]=='editable' ? 'selected' : '')?> >任意</option>
            <option value="readonly" <?=($row["hyo".$step."_edit_right"]=='readonly' ? 'selected' : '')?> >閲覧</option>
          </select>
        </td>
      <? } ?>
    </tr>
    <? } ?>
    </table>
  <? } ?>
  <? } ?>
</form>
<?
  die;
} // end of load_editor




//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
echoStaticHtml();
?>
</head>
<body onload="loadInit()">
<script type="text/javascript">
  var scTop = 0;
  function loadInit() {
    $.ajax({url:"formMbo.html?ajax_action=load_editor&revid=<?=$revid?>", success:function(msg) {
      var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
      ee("div_editor").innerHTML = msg;
    }});
  }
  function trySave(saveBtn) {
    if (!confirm("保存します。よろしいですか？")) return;
    saveBtn.disabled = true;
    $.ajax({url:"formMbo.html?ajax_action=try_save&revid=<?=$revid?>", data:$(document.frm).serialize(), success:function(msg) {
      saveBtn.disabled = false;
      var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
      location.href='revisionsMbo.html';
    }});
  }
  function upFormOrder(type,formid) {
    var $target = $('#div_editor').find('tr.'+formid);
    var index = $('#div_editor').find('tr.formRow'+type).index($target);
    if (index > 0) {
      var $copy = $target.clone();
      $target.remove();
      $('#div_editor').find('tr.formRow'+type).eq(index-1).before($copy);
      updateSortOrder(type);
    }
    return false;
  }
  function downFormOrder(type,formid) {
    var $target = $('#div_editor').find('tr.'+formid);
    var index = $('#div_editor').find('tr.formRow'+type).index($target);
    if (index < ($('#div_editor').find('tr.formRow'+type).length-1)) {
      var $copy = $target.clone();
      $target.remove();
      $('#div_editor').find('tr.formRow'+type).eq(index).after($copy);
      updateSortOrder(type);
    }
  }
  function updateSortOrder(type) {
    var $rows = $('#div_editor').find('tr.formRow'+type);
    for ( var i = 0 ; i < $rows.length ; i++ ) {
      $rows.eq(i).find('input.sort_order').val((i+1));
    }
  }

</script>
<? echoMenuLinks(1); ?>
<div id="content_all">
  <div id="main_title2" title="＠表示項目設定" style="width:250px;"><h2 class="main_title">＠表示項目設定</h2></div>
  <div class="instruction">
    表示項目の設定を行います。
  </div>
  <div>
    <div id="div_editor"></div>
  </div>
</div><!-- // content_all -->
</body>
</html>
