<?
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// 評価用の職員一覧（目標達成度）
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
require_once("common.php");

//******************************************************************************
// セッション・リクエスト判定
//******************************************************************************
if (!$_SESSION["CID"]) c2SessionErrorAndDie(); // 未ログインなら、ログインページへ
$cid = $_SESSION["CID"]; // 顧客ID
$revid = (int)$_SESSION["REVID_MBO"];
$today = date("Y/m/d");

$revisionRow = c2dbGetTopRow("select * from ".$cid."_hnv_revisions_mbo where revid = ".$revid);


$bunrui_ext1 = hh(trim($_SESSION["CLIENT_ROW"]["bunrui_ext1"]));
$bunrui_ext2 = hh(trim($_SESSION["CLIENT_ROW"]["bunrui_ext2"]));

$hyo_level = $revisionRow["hyo_level"];
$challenge_level = $revisionRow["challenge_level"];
$challenge_degrees = explode(',',$revisionRow['challenge_degrees']);
$challenge_marks = explode(',',$revisionRow['challenge_marks']);
$gekihen_level = $revisionRow["gekihen_level"];
$gekihen_degrees = explode(',',$revisionRow['gekihen_degrees']);
$gekihen_marks = explode(',',$revisionRow['gekihen_marks']);

$hstep = (int)$req["hstep"];
if (!in_array($hstep, array(1,2,3,4,5,6,9))) $hstep = 1;
$max_hstep = $hstep;

$max_hyo_step = $revisionRow["hyo_step"];
$is_finished = $revisionRow["is_finished"];
$is_self_hyoka = $revisionRow["is_self_hyoka"];
$is_active_span = (strtotime($today) >= strtotime($revisionRow['hyoka_start_ymd']) && strtotime($today) <= strtotime($revisionRow['hyoka_end_ymd'])) ? true : false;
if (!$is_active_span) $is_finished = true;

//本当は必要な気がするね
$_ary = explode(",", $revisionRow["hyo_disp_uplevel_ongoing"]); // ゼロオリジン
$test = $_ary[$hstep-1];
$uplevels_going_tmp = explode("=", @$_ary[$hstep-1]); // ゼロオリジン
$uplevels_going = explode("-", @$uplevels_going_tmp[0]); // ゼロオリジン

$_ary = explode(",", $revisionRow["hyo_disp_uplevel"]); // ゼロオリジン
$uplevels_tmp = explode("=", @$_ary[$hstep]); // ゼロオリジン
$uplevels = explode("-", @$uplevels_tmp[0]); // ゼロオリジン
for ($idx=1; $idx<=$hstep; $idx++) $uplevels[$idx-1] = 1; //下位評価は全て見える

$_ttl_rank = explode(",", $revisionRow["ttl_rank"]);
$ttl_rank = array();
$def_rank = "";
foreach ($_ttl_rank as $param) {
  list($rank, $score) = explode(":",$param);
  if (!$rank) continue;
  if (!strlen($score)) $def_rank = $rank;
  $ttl_rank[] = array("rank"=>$rank, "score"=>$score);
}

$levelRows = c2dbGetRows("select * from ".$cid."_hnv_level_mbo where revid = ".$revid." order by sort_order ; ");

$is_weight_used = c2dbGetOne("select is_used from ".$cid."_hnv_form_mbo where revid = ".$revid." and formid = 'weight' ;");


//**************************************************************************************************
// （ajax）フィードバック
//**************************************************************************************************
if ($req["ajax_action"]=="toggle_feedback") {
  $empid = $req["empid"];
  $feedback_emprow = $_SESSION["EMPMST_ROW"];
  $feedback_nm = $feedback_emprow['empnm'];
  if (!$empid) { echo "ng更新処理に失敗しました。リクエストが不正です。(empid)"; die; }
  $row = c2dbGetTopRow("select * from ".$cid."_hnv_casts_mbo where revid = ".$revid." and empid = ".c2dbStr($empid));
  if (!array_key_exists("empid", $row)) { echo "ng更新処理に失敗しました。(3)"; die; }
  $new_fb = ($row["hyo_feedback"] ? "" : "1");
  $datetime = date( "Y/m/d H:i", time() );
  c2dbExec("update ".$cid."_hnv_casts_mbo set hyo_feedback = '".$new_fb."' , hyo_feedback_datetime = '".$datetime."' , hyo_feedback_name = '".$feedback_nm."' where revid = ".$revid." and empid = ".c2dbStr($empid));
  if ($new_fb) echo "\n".$feedback_nm."\n".$datetime;
  else echo "ok2";
  die;
}

//**************************************************************************************************
// （ajax）初期表示のロード（評価。最終判定でない場合。）
//**************************************************************************************************
if ($req["ajax_action"]=="load_default") {
  $isPrint = ($req["view_mode"]=="try_download_fb" ? 1 : "");
  $pbr = ($isPrint ? '' : '<br>');
  if ($isPrint) {
    header("Content-Type: application/vnd.ms-excel");
    header("Content-Disposition: attachment; filename=hnv_fb_".$cid."_".date("Ymd_His").".xls");
    header("Expires: 0");
    header("Cache-Control: must-revalidate, post-check=0,pre-check=0");
    header("Pragma: public");
    $headers = array(
      '<!DOCTYPE html>',
      '<html>',
      '<head>',
      '<meta http-equiv="Content-Type" content="text/html; charset=utf-8">',
      '<style type="text/css">',
      '.b { border:thin solid #000 }',
      '.bh { border:thin solid #000; background-color:#eeeeee }',
      '</style>',
      '</head>',
      '<body>'
    );
    echo implode("\n", $headers);
  }

  // スコアとランクを表示するための最低限の情報を取得しておくべきだが、何が必要？ ttl_rankに入っていればOKかな？

  // 関係する全データ取得
  $empsRows = c2dbGetRows("select * from ".$cid."_hnv_casts_mbo where revid = ".$revid." and coalesce(is_excluded, '') <> '1' and hyouka".$hstep."_empid = ".c2dbStr($_SESSION["EMPID"])." order by sort_order, empid");
  $sql =
  " select b.empid from ".$cid."_hnv_form_mbo as a join ".$cid."_hnv_sheet_mbo as b on a.formid = b.formid and a.revid = b.revid".
  " where a.revid = ".$revid." and a.type = '2' and a.is_used = '1' and a.hyo".$hstep."_edit_right = 'required'".
  " and (b.value is null or value = '') group by b.empid;";
  $ng_emps = c2dbGetRows($sql);
  $ng_empids = array();
  foreach ($ng_emps as $ng_emp) {
    $ng_empids[] = $ng_emp['empid'];
  }
?>
<? if (!$isPrint) { ?><div><? } // ◆◆◆Print ?>

  <? if (!$isPrint) { ?>
    <? if (!$req["arch_load"]) { ?>
    <div class="instruction" style="padding-bottom:0">
      評価可能の場合は「実施状態」列に「要実施」が表示されます。「職員名」ハイパ－リンクを押して評価を行ってください。<br>
      全設問を評価すると「要送信」になります。「入力済を送信する」ボタンを押すと「要送信」が一括送信されます。<br>
      送信後は、「送信済」と表示され、評価を変更することはできなくなります。<br>
      評価実施作業は、送信を実行するまで完了しません。<br>
      <div style="padding-top:5px">
      評価者から被評価者に対し、「フィードバック」を実施した場合、「フィードバック」列のチェックボックスをクリックして「フィードバック実施済」をマークしておくことができます。<br>
      </div>
    </div>
    <? } ?>
    <div style="padding:16px 0">
    <? if (!in_array($req["hstep"], array("1", "2", "3", "4", "5", "6"))) { ?>
      不正な画面呼出しです。(hstep)
    <? } else if (!$revid) { ?>
      評価期間が作成されていません。評価は開始できません。
    <? } else { ?>
      <button type="button" class="btn150 btn_save" onclick="trySaveProgress()"<?=BTN_FOCUS_BLUR?>><div>入力済を送信する</div></button>
      <span style="padding-left:50px">
      <button type="button" class="btn150 btn_dl" onclick="tryDownloadFB()"<?=BTN_FOCUS_BLUR?> title="フィードバック用にExcelデータを取得できます。"><div>エクセル出力</div></button>
      </span>
    <? } ?>
    </div>
  <? } // isPrint ?>
    <table cellspacing="0" cellpadding="0" style="border-collapse:collapse" class="list_table_mbo hover_row_colored">
      <tr style="font-size:12px">
        <? if (!$isPrint) { ?>
        <th rowspan="2" style="width:50px" class="bh">
          エクセル出力対象
          <input type="checkbox" onchange="changeOutput(this.checked);" />
        </th>
        <? } ?>
        <th rowspan="2" style="width:70px" class="bh">職種</th>
        <th rowspan="2" style="width:70px" class="bh"><nobr>所属部署</nobr></th>
        <th rowspan="2" style="width:70px" class="bh"><nobr>所属施設</nobr></th>
        <? if ($bunrui_ext1) { ?><th rowspan="2" style="width:70px" class="bh"><nobr><?=$bunrui_ext1?></nobr></th><? } ?>
        <? if ($bunrui_ext2) { ?><th rowspan="2" style="width:70px" class="bh"><nobr><?=$bunrui_ext2?></nobr></th><? } ?>
        <th rowspan="2" style="width:<?=$isPrint?40:10?>px" class="bh">等級</th>
        <th rowspan="2" class="<?=($isPrint?'bh':'corner2')?>" style="width:50px">職員ID</th>
        <th rowspan="2" class="<?=($isPrint?'bh':'corner2')?>" style="width:100px">職員名</th>

        <? for ($idx=1; $idx<=6; $idx++) { ?>
          <? if ( ($is_finished && $uplevels[$idx-1]) || (!$is_finished && $uplevels_going[$idx-1]) ) { ?>
            <th colspan="2" style="font-size:11px" class="<?=($isPrint?'bh':($idx==$hstep?' corner2':''))?>"><nobr><?=$idx?>次評価</nobr></th>
          <? } ?>
        <? } ?>
        <? if ($is_finished && $uplevels_tmp[1]) { ?>
        <th colspan="2" style="font-size:11px" class="<?=($isPrint?'bh':'')?>"><nobr>最終判定</nobr></th>
        <? } ?>

        <th rowspan="2" class="bh"><div style="padding:0 18px"><nobr>実施<?=$pbr?>状態</nobr></div></th>
        <th rowspan="2" class="bh"><div style="padding:0 5px"><nobr>フ<?=$pbr?>ィ<?=$pbr?><?=($isPrint?'ー':'｜')?><?=$pbr?>ド<?=$pbr?>バ<?=$pbr?>ッ<?=$pbr?>ク</nobr></div></th>
      </tr>
      <tr>
        <? for ($idx=1; $idx<=6; $idx++) { ?>
          <? if ( ($is_finished && $uplevels[$idx-1]) || (!$is_finished && $uplevels_going[$idx-1]) ) { ?>
          <th style="font-size:11px; line-height:1" class="<?=($isPrint?'bh':($idx==$hstep?' corner2':''))?>">ス<?=$pbr?>コ<?=$pbr?>ア</th>
          <th style="font-size:11px; line-height:1" class="<?=($isPrint?'bh':($idx==$hstep?' corner2':''))?>">ラ<?=$pbr?>ン<?=$pbr?>ク</th>
          <? } ?>
        <? } ?>
        <? if ($is_finished &&  $uplevels_tmp[1]) { ?>
        <th style="font-size:11px; line-height:1" class="<?=($isPrint?'bh':'')?>">ス<?=$pbr?>コ<?=$pbr?>ア</th>
        <th style="font-size:11px; line-height:1" class="<?=($isPrint?'bh':'')?>">ラ<?=$pbr?>ン<?=$pbr?>ク</th>
        <? } ?>
      </tr>


    <? $rIdx = 0; ?>
    <? foreach ($empsRows as $empRow) { ?>
    <?     $rIdx++; ?>
    <?
        $progress = (int)$empRow["progress_hyoka"];
        $progress_m = (int)$empRow["progress_mokuhyo"];

        $html_msg = "";
        $reason = "";
        $editable = "0";
        if ($progress>$hstep) {
          $html_msg = '<span style="color:#aaaaaa">評価済</span>';
          $reason = "既に評価済です。保存できません。";
        } else if ($progress_m!=9) {
          $html_msg = '<span style="color:#aaaaaa">目標未設定</span>';
          $reason = "目標が未設定のため評価を実施できません。";
        } else if ($progress==$hstep) {
          $mijissi = 0;
          for ($col=1; $col<=$empRow['mokuhyo_count']; $col++) {
            if ($empRow["hyo".$hstep."_".$col]=="") { $mijissi = 1; break; }
          }
          if ( in_array($empRow['empid'],$ng_empids) ) { $mijissi = 1; }
          if ($mijissi) $html_msg = '<span style="color:#ff6600"> 要実施</span>';
          else {
            $html_msg =
            '<button type="button" class="btn70 you_sousin" style="color:#ff00bb"'.
            ' onclick="trySaveProgress(\''.hh($empRow["empid"]).'\')"'.BTN_FOCUS_BLUR.'><div>要送信</div></button>';
          }
        }
        if (!$html_msg) {
          $text = $progress.'次実施中';
          $html_msg = '<span style="padding:0 2px; color:#ffffff; background-color:#aaaaaa">'.$text.'</span>';
          $reason = ($progress)."次評価を実施中です。まだ評価を行うことはできません。";
        }
        $out = ( $isPrint && $req["outputTarget_".$empRow["empid"]] ) ? 1 : 0 ;
        if (!$isPrint || ($isPrint && $out )  ) { // 印刷対象かどうかの判定
    ?>
      <tr id="tr_<?=$rIdx?>">
        <? if (!$isPrint) { ?>
        <td class="b"><input class="outputTarget" name="outputTarget_<?=$empRow["empid"]?>" type="checkbox" /></td>
        <? } ?>
        <td class="b"><nobr><?=hh($empRow["syokusyu"])?></nobr></td>
        <td class="b"><nobr><?=hh($empRow["syozoku"])?></nobr></td>
        <td class="b"><nobr><?=hh($empRow["sisetu"])?></nobr></td>
        <? if ($bunrui_ext1) { ?><td class="b"><nobr><?=hh($empRow["bunrui_ext1"])?></nobr></td><? } ?>
        <? if ($bunrui_ext2) { ?><td class="b"><nobr><?=hh($empRow["bunrui_ext2"])?></nobr></td><? } ?>
        <? if ($isPrint) { ?>
        <td class="b"><nobr>="<?=hh($empRow["toukyu"])?>"</nobr></td>
        <? } else { ?>
        <td class="b"><nobr><?=hh($empRow["toukyu"])?></nobr></td>
        <? } ?>
        <? if ($isPrint) { ?>
        <td class="b"><nobr>="<?=hh($empRow["empid"])?>"</nobr></td>
        <? } else { ?>
        <td class="b"><nobr><?=hh($empRow["empid"])?></nobr></td>
        <? } ?>
        <? if ($isPrint) { ?>
          <td class="b"><nobr><?=hh($empRow["empnm"])?></nobr></td>
        <? } else if ($progress_m!=9) { ?>
          <td class="b"><nobr><?=hh($empRow["empnm"])?></nobr></td>
        <? } else { ?>
          <td class="b"><nobr><a class="block" href="javascript:void(0)" id="empid<?=$hyoid?>_<?=$rIdx?>" empid="<?=hh($empRow["empid"])?>"
            onclick="loadEditor('<?=hh($reason)?>', this.getAttribute('empid'))"><?=hh($empRow["empnm"])?></a></nobr></td>
        <? } ?>

        <? for ($step=1; $step<=6; $step++) { ?>
        <!--? if (!$uplevels[$step-1]) continue; ?-->
        <? if ( ($is_finished && $uplevels[$step-1]) || (!$is_finished && $uplevels_going[$step-1]) ) { ?>
        <? //============================ ?>
        <? // スコア                      ?>
        <? //============================ ?>
          <td class="b" id="tdttl<?=$hyoid?>_<?=$rIdx?>_<?=$step?>" style="color:#7777ff"><?=$empRow["hyo".$step."_ttl"]?></td>
        <? //============================ ?>
        <? // 判定・ランク                ?>
        <? //============================ ?>
          <td class="b" id="tdrank<?=$hyoid?>_<?=$rIdx?>_<?=$step?>" >
        <?
          $score = $empRow["hyo".$step."_ttl"];
          $rank = "";
          if (strlen($score)) {
            foreach ($ttl_rank as $_rrow) {
              $_rank = $_rrow["rank"];
              $_score = $_rrow["score"];
              if ($_score <= $score) { $rank = $_rank; break; }
            }
            if (!strlen($rank)) $rank = $def_rank;
          }
          echo $rank;
        ?>
          </td>
        <? } ?>
        <? } ?>
        <? if ($is_finished && $uplevels_tmp[1]) {
          $kojin_hyo_step = (int)$empRow["kojin_hyo_step"];
          if (!$kojin_hyo_step) $kojin_hyo_step = $max_hyo_step;
            $last_score = (real)$empRow["hyo".$kojin_hyo_step."_ttl"];
            $adjust = (int)$empRow["adjust"];
            $saisyu_score = $last_score == 0 && $adjust == 0 ? "" :  (string)($last_score + $adjust);
        ?>
        <? //============================ ?>
        <? // スコア                      ?>
        <? //============================ ?>
          <td class="b" id="tdttl<?=$hyoid?>_<?=$rIdx?>_saisyu" style="color:#7777ff"><?=$saisyu_score?></td>
        <? //============================ ?>
        <? // 判定・ランク                ?>
        <? //============================ ?>
          <td class="b" id="tdrank<?=$hyoid?>_<?=$rIdx?>_saisyu">
        <?
          $rank = "";
          if (strlen($saisyu_score)) {
            foreach ($ttl_rank as $_rrow) {
              $_rank = $_rrow["rank"];
              $_score = $_rrow["score"];
              if ($_score <= $saisyu_score) { $rank = $_rank; break; }
            }
            if (!strlen($rank)) $rank = $def_rank;
            echo $rank;
          }
        ?>
          </td>
        <? } ?>
        <? //============================ ?>
        <? // 実施状態                    ?>
        <? //============================ ?>
        <td class="b" style="padding:0 0 3px 0">
          <div style="height:23px; padding:4px 6px 0 6px" id="jotai_<?=$rIdx?>"><nobr><?=$html_msg?></nobr></div>
          <span id="btnsave_<?=$rIdx?>" style="display:none"></span>
        </td>
        <? //============================ ?>
        <? // フィードバック有無              ?>
        <? //============================ ?>
        <td class="b" id="tdfeedback_<?=$rIdx?>_saisyu" style="padding:0 0 3px 0"
          title="<?=($empRow["hyo_feedback"] ? "フィードバック実施済 \n".$empRow["hyo_feedback_name"]." \n".$empRow["hyo_feedback_datetime"]."" : "フィードバック実施後はチェックしてください。")?>"
        >
        <? if ($isPrint) {
          echo $empRow["hyo_feedback"] ? $empRow["hyo_feedback_name"]." ".$empRow["hyo_feedback_datetime"] : "";
        } else { ?>
          <input type="checkbox" onclick="toggleFeedback('<?=$rIdx?>',0, '<?=hh($empRow["empid"])?>');"  <?=($empRow["hyo_feedback"] ? "checked" : "")?> />
        <? } ?>
        </td>
      </tr>
    <?
        }
      }
    ?>
    </table>
<?
  if (!$isPrint) echo '<iframe id="outputfile" style="display:none;width:0;height:0;" />';

  die;
} // end of load_default



//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
echoStaticHtml();
?>
</head>
<body onload="loadInit()">
<script type="text/javascript">
  //**********************************************************************************************
  // 変数・定数
  //**********************************************************************************************
  var scTop = 0;
  var levelRows = <?=c2ToJson($levelRows)?>;
  var hyo_level = <?=$hyo_level?>;
  var is_weight_used = "<?=$is_weight_used?>";

  var levels = <?=c2ToJson($hyo_level)?>;
  levels[0] = "&nbsp;";
  var ttl_rank = <?=c2ToJson($ttl_rank)?>;
  var def_rank = ttl_rank[ttl_rank.length-1].rank;
  for (var idx=0; idx<ttl_rank.length-1; idx++) {
    ttl_rank[idx].int_score = int(ttl_rank[idx].score);
    ttl_rank[idx].def_int_score = int(ttl_rank[idx].score);
  }
  var challenge_level = <?=$challenge_level?>;
  var challenge_degrees = <?=c2ToJson($challenge_degrees)?>;
  var challenge_marks = <?=c2ToJson($challenge_marks)?>;
  var gekihen_level = <?=$gekihen_level?>;
  var gekihen_degrees = <?=c2ToJson($gekihen_degrees)?>;
  var gekihen_marks = <?=c2ToJson($gekihen_marks)?>;


  //**********************************************************************************************
  //
  //**********************************************************************************************
  function loadInit() {
    if ("<?=$req["arch_load"]?>"=="load_editor") {
      loadEditor("", "<?=hh($req["empid"])?>", "<?=$req["arch_load"]?>", "<?=(int)$req["arch_revid"]?>");
      return;
    }
    $.ajax({url:"hyokaEmpsMbo.html?ajax_action=load_default&hstep=<?=$hstep?>", success:function(msg) {
      var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
      ee("div_list").innerHTML = msg;
    }});
  }
  // 過去履歴を表示
  function popupArchive(ajax_mode, empid) {
    var param = "&hstep=<?=$hstep?>&empid="+encodeURIComponent(empid)+"&arch_revid=<?=$revid?>";
    window.open("hyokaEmpsMbo.html?arch_load="+ajax_mode+param, "hnv_archive_window", "width=930,height=600,scrollbars=yes");
  }
  //**********************************************************************************************
  //
  //**********************************************************************************************
  function loadEditor(reason, empid, arch_load, arch_revid) {
    scTop = getWindowScrollTop(window);
    if (!arch_load) arch_load = "";
    if (!arch_revid) arch_revid = "";
    var param = "&hstep=<?=$hstep?>&arch_load="+arch_load+"&arch_revid="+arch_revid+"&empid="+encodeURIComponent(empid);
    $.ajax({url:"hyokaMbo.html?ajax_action=load_editor"+param, success:function(msg) {
      var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
      ee("div_list").style.display = "none";
      ee("div_editor").innerHTML = msg;
      if (ee("div_msg_save")) {
        ee("div_msg_save").innerHTML = reason;
        if (reason) ee("div_msg_save").style.display = (reason ? "block" : "none");
        if (ee("div_btn_save1")) ee("div_btn_save1").style.display = (reason ? "none": "");
      }
      if (ee("head_jissi_cancel")) ee("head_jissi_cancel").style.display = "";
      window.scrollTo(0, 0);
      if (arch_load && arch_revid === '<?=$revid?>') {
        $('#select_arch_rev').trigger('change');
      }
    }});
  }
  //**********************************************************************************************
  //
  //**********************************************************************************************
  function closeEditor() {
    ee("div_editor").innerHTML = "";
    ee("div_list").style.display = "";
    ee("head_jissi_cancel").style.display = "none";
    window.scrollTo(0, scTop);
  }
  //**********************************************************************************************
  //
  //**********************************************************************************************
  function trySaveProgress(empid) {
    scTop = getWindowScrollTop(window);
    if (!empid) empid = "";
    var cnt = 1;
    if (!empid) {
      cnt = 0;
      $("button.you_sousin").each(function(){
      cnt++;
      });
      if (!cnt) { alert("送信できる評価はありません。"); return; }
    }
    if (!confirm(cnt+"件の入力済を送信します。よろしいですか？")) return;

    $.ajax({url:"hyokaMbo.html?ajax_action=try_save_progress&hstep=<?=$hstep?>&empid="+encodeURIComponent(empid), data:$(document.frm_editor).serialize(), success:function(msg) {
      var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
      loadInit();
      closeEditor();
    }});
  }
  //**********************************************************************************************
  //
  //**********************************************************************************************
  function tryClearPrev(progress, empid) {
    if (!confirm(progress+"次評価を未送信に戻します。\n"+progress+"次評価結果と"+progress+"次コメントはクリアされません。\n\n差戻しを実行してよろしいですか？")) return;
    $.ajax({url:"hyouka.html?ajax_action=try_clear_prev&hstep=<?=$hstep?>&empid="+encodeURIComponent(empid), success:function(msg) {
      var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
      loadInit();
      closeEditor();
    }});
  }
  //**********************************************************************************************
  //
  //**********************************************************************************************
  function copyPrev() {
    for (var row=1; row<=20; row++) {
      var hdn = ee("hyo<?=$hstep?>_"+row);
      if (!hdn) break;
      vv = ee("hyo<?=$hstep-1?>_"+row).value;
      ee("hyo<?=$hstep?>_"+row).value = vv;
      $("#hyo<?=$hstep?>_"+row).trigger('change');
    }
  }
  //**********************************************************************************************
  //
  //**********************************************************************************************
  function trySaveEditor(empid) {

    var isEmptyExist = "";
    for (var row=1; row<=hyo_level; row++) {
      if (ee("hyo<?=$hstep?>_"+row)) {
        if (!trim(ee("hyo<?=$hstep?>_"+row).value)) isEmptyExist=1;
      }
    }
    if (isEmptyExist) {
      if (!confirm("まだすべての評価が行われていませんが、保存してよろしいですか？")) return;
    } else {
      if (!confirm("保存します。よろしいですか？\n\n※保存後も、送信を行うまでは修正が可能です。")) return;
    }
    var surl = "hyokaMbo.html?ajax_action=try_save&hstep=<?=$hstep?>&empid="+encodeURIComponent(empid);
    $.ajax({url:surl, data:$(document.frm_editor).serialize(), success:function(msg) {
      var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
      loadInit();
      closeEditor();
    }});
  }
  function trySaveComment(empid) {
    var surl = "hyokaMbo.html?ajax_action=try_save_comment&empid="+encodeURIComponent(empid);
    $.ajax({url:surl, data:$(document.frm_editor).serialize(), success:function(msg) {
      var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
      loadInit();
      closeEditor();
    }});
  }
  // EXCELダウンロード
  function tryDownloadFB() {
    var emps = $('input.outputTarget').serialize();
    if (emps === '') {
      alert('出力対象が選択されていません。');
      return;
    }
    $('#outputfile').attr('src',"hyokaEmpsMbo.html?ajax_action=load_default&view_mode=try_download_fb&empid=<?=hh($req["empid"])?>&hstep=<?=$hstep?>&"+emps);
//    window.open("hyokaEmpsMbo.html?ajax_action=load_default&view_mode=try_download_fb&empid=<?=hh($req["empid"])?>&hstep=<?=$hstep?>","", "width=100,height=100");
  }
  function changeOutput (checked) { // ダウンロード対象を変更
    $('input.outputTarget').prop('checked',checked);
  }
  // フィードバックをチェック
  function toggleFeedback(rIdx, hstep, empid) {
    $.ajax({url:"hyokaEmpsMbo.html?ajax_action=toggle_feedback&empid="+encodeURIComponent(empid), success:function(msg) {
      var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
      var elem = ee("tdfeedback_"+rIdx+"_saisyu");
      if (elem) {
        elem.setAttribute("title", (msg !== "ok2" ? "フィードバック実施済 "+msg : "フィードバック実施後はチェックしてください。"));
      }
    }});
  }
  // 評価をプルダウンで変更
  function changeLevel (idx,level,empid) {
    var gekihen = $('#value_'+idx+'_gekihen').val() || 1;
//    gekihen = (!gekihen) ? 1 : gekihen;
    if (!level) {
      ee("div_haiten_"+idx).innerHTML = '-';
      ee("input_haiten_"+idx).value = '-';
      ee("div_score_"+idx).innerHTML = '-';
      ee("input_score_"+idx).value = '-';
      return;
    }
    var level = levelRows[level];
    var challenge_level = <?=$challenge_level?> ;
    var degree = levelRows[0]['score1_1'];
    $.ajax({url:"hyokaMbo.html?ajax_action=get_scoring_info&empid="+encodeURIComponent(empid)+"&idx="+idx, success:function(msg) {
      var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
      var challenge = msg.split(':')[0];
      challenge = challenge || '1';
      var haiten = level["score"+challenge+"_"+gekihen];
      ee("div_haiten_"+idx).innerHTML = haiten;
      ee("input_haiten_"+idx).value = haiten;
      var weight = msg.split(':')[1];

      if (is_weight_used) {
        var score = Math.round(weight * haiten / degree * 10) / 10;
      } else { //ウェイトを指定していなければ均等割のロジック
        var mokuhyo_count = parseInt(msg.split(':')[2]);
        var score = Math.round( haiten / degree * 10 * 100 / mokuhyo_count ) / 10;
      }
      ee("div_score_"+idx).innerHTML = score;
      ee("input_score_"+idx).value = score;
    }});
  }
  // 激変を変更した場合
  function changeGekihen(idx,empid) {
    $tgt = $('#hyo<?=$hstep?>_'+idx);
    var level = ($tgt) ? $tgt.val() : null;
    if (level) {
      changeLevel(idx,level,empid);
    }
  }
  // 差し戻し
	function deny (empid) {
    if (!confirm("差し戻します。よろしいですか？")) return;
    $.ajax({url:"hyokaMbo.html?ajax_action=try_deny&empid="+encodeURIComponent(empid), data:$(document.frm_editor).serialize(), success:function(msg) {
      var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
      closeEditor();
      loadInit();
      alert('通知等は送信されません。\n差し戻した旨を直接本人に伝えてください。');
    }});
  }
  // ダイアログで評価基準を表示
  function showHokaKijun () {
    var html = '<div class="tab">';
    html += '<ul><li><a href="#hyoka" >評価基準</a></li>'
    html += (challenge_level > 1) ? '<li><a href="#challenge" >チャレンジ認定の基準</a></li>' : '';
    html += (gekihen_level > 1) ? '<li><a href="#gekihen" >激変認定の基準</a></li>' : '';
    html += '</ul>';
    html += '<div id="hyoka">';
    html += '<table class="list_table_mbo">';
    html += '<tr><th>評価記号</th><th>判断基準①</th><th>判断基準②</th></tr>';
    for (var i = 0 ; i < hyo_level ; i++ ) {
      var l = levelRows[i];
      html += '<tr><td>'+l.level+'</td><td><pre>'+l.degree1+'</pre></td><td><pre>'+l.degree2+'</pre></td></tr>';
    }
    html += '</table></div>';
    if (challenge_level > 1) {
      html += '<div id="challenge">';
      html += '<table class="list_table_mbo">';
      html += '<tr><th>記号</th><th>判断基準</th></tr>'
      for (var i = 0 ; i < challenge_level ; i++ ) {
        html += '<tr><td>'+challenge_marks[i]+'</td><td><pre>'+challenge_degrees[i]+'</pre></td></tr>';
      }
      html += '</table></div>';
    }
    if (gekihen_level > 1) {
      html += '<div id="gekihen">';
      html += '<table class="list_table_mbo">';
      html += '<tr><th>記号</th><th>判断基準</th></tr>'
      for (var i = 0 ; i < gekihen_level ; i++ ) {
        html += '<tr><td>'+gekihen_marks[i]+'</td><td><pre>'+gekihen_degrees[i]+'</pre></td></tr>';
      }
      html += '</table></div>';
    }

    var $dialog = $('<div title="判断基準">'+html+'</div>');
    $dialog.find('div.tab').tabs();
    $dialog.dialog({autoOpen: true,height:250,width: 700,modal: false , position:{my:'right bottom',at:'right bottom',} , close:function() {} });
  }
</script>
<? echoMenuLinks(0); ?>

  <div id="content_all">

    <table cellspacing="0" cellpadding="0"><tr>
    <td>
      <? if ($req["arch_load"]) { ?>
      <div id="main_title2" title="＠過去評価履歴" style="width:250px;"><h2 class="main_title">＠過去評価履歴</h2></div>
      <? } else { ?>
      <div id="main_title2" title="＠<?=$hstep?>次評価実施" style="width:250px;"><h2 class="main_title ">＠<?=$hstep?>次評価実施</h2></div>
      <? } ?>
    </td>
    </tr></table>

    <div>
      <div id="div_list"></div>
      <div id="div_editor"></div>
    </div>
  </div><!-- // content_all -->
</body>
</html>
