<?
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// 先頭ページ。ログインしていなければログインページへ。indexページはログインページでないほうが、何かと都合がよい。
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
require_once("common.php");

//******************************************************************************
// セッション・リクエスト判定
//******************************************************************************
if (!$_SESSION["CID"]) c2SessionErrorAndDie(); // 未ログインなら、ログインページへ
$cid = $_SESSION["CID"]; // 顧客ID
$revid = (int)$_SESSION["REVID"]; // 評価期間ID（行動評価）
$revid_mbo = (int)$_SESSION["REVID_MBO"]; // 評価期間ID（目標達成度）
$revid_ttl = (int)$_SESSION["REVID_TTL"]; // 評価期間ID（総合判定）

$empid = $_SESSION["EMPID"];

$revisionRow = c2dbGetTopRow("select * from ".$cid."_hnv_revisions where revid = ".$revid);
$revisionRows = c2dbGetRows("select * from ".$cid."_hnv_revisions order by rev_fr_ymd desc, rev_to_ymd desc, revnm");

$today = date("Y/m/d");
$exist = c2dbGetTopRow("SELECT relname FROM pg_class WHERE relkind = 'r' AND relname = '".$cid."_hnv_revisions_mbo';  ");
if (count($exist) > 0) {
  $mboRevisionRow = c2dbGetTopRow("select * from ".$cid."_hnv_revisions_mbo where revid = ".$revid_mbo);
  $mboRevisionRows = c2dbGetRows("select * from ".$cid."_hnv_revisions_mbo order by rev_fr_ymd desc, rev_to_ymd desc, revnm");
}
$exist = c2dbGetTopRow("SELECT relname FROM pg_class WHERE relkind = 'r' AND relname = '".$cid."_hnv_revisions_ttl';  ");
if (count($exist) > 0) {
  $ttlRevisionRow = c2dbGetTopRow("select * from ".$cid."_hnv_revisions_ttl where revid = ".$revid_ttl);
  $ttlRevisionRows = c2dbGetRows("select * from ".$cid."_hnv_revisions_ttl order by rev_fr_ymd desc, rev_to_ymd desc, revnm");
}



//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
echoStaticHtml();
?>
<style type="text/css">
div#margin_header { height:50px; }
</style>
</head>
<body>
<script type="text/javascript">
	function tryLoadLoginPanel() {
		$.ajax({url:"emps.html?ajax_action=load_pw_editor&empid="+encodeURIComponent("<?=$_SESSION["EMPID"]?>"), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
			ee("div_pwd_btn").style.display = "none";
			ee("frm_pwd_edit").innerHTML = msg;
			tryFocus('empnm');
		}});
	}
	function trySaveLogin() {
		if (!confirm("保存します。よろしいですか？")) return;
    var str = $('#login_pw').val();
    for (var i = 0; i < str.length; i++) {
        var c = str.charCodeAt(i);
        if ( (c >= 0x0 && c < 0x81) || (c == 0xf8f0) || (c >= 0xff61 && c < 0xffa0) || (c >= 0xf8f1 && c < 0xf8f4)) {
        } else {
          alert('パスワードは半角文字のみしか使えません。');
          return;
        }
    }
		$.ajax({url:"emps.html?ajax_action=try_pw_save", data:$("#frm_pwd_edit").serialize(), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
			alert("変更を保存しました。");
			window.location.reload(true);
		}});
	}
	function closeEditor() {
		ee("frm_pwd_edit").innerHTML = "";
		ee("div_pwd_btn").style.display = "";
	}
	function swapRevision(revid) {
		$.ajax({url:"revisions.html?ajax_action=swap_revision&revid="+revid, success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
			window.location.reload(true);
		}});
	}
	function swapMboRevision(revid) {
		$.ajax({url:"revisionsMbo.html?ajax_action=swap_revision&revid="+revid, success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
			window.location.reload(true);
		}});
	}
  function swapTtlRevision(revid) {
		$.ajax({url:"revisionsTtl.html?ajax_action=swap_revision&revid="+revid, success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
			window.location.reload(true);
		}});
	}

</script>
<? echoMenuLinks(0); ?>
<div id="content_all">

<table cellspacing="0" cellpadding="0" style="width:100%"><tr><td style="vertical-align:top">


<?
$is_active_span = false;
if ($revid) {
  $is_active_span = (strtotime($today) >= strtotime($revisionRow['hyoka_start_ymd']) && strtotime($today) <= strtotime($revisionRow['hyoka_end_ymd'])) ? true : false;
}
	$clientRow = c2dbGetTopRow("select * from hnv_clients where cid = ".c2dbStr($cid));
	if (@strlen($clientRow["info_toppage1"])) {
		echo '<pre style="margin:0; padding:10px 0">'.hh($clientRow["info_toppage1"]).'</pre>';
	}
?>
<?
$is_active_m_span_mbo = false;
$is_active_h_span_mbo = false;
if ($revid_mbo) {
  $is_active_m_span_mbo = (strtotime($today) >= strtotime($mboRevisionRow['mokuhyo_start_ymd']) && strtotime($today) <= strtotime($mboRevisionRow['mokuhyo_end_ymd'])) ? true : false;
  $is_active_h_span_mbo = (strtotime($today) >= strtotime($mboRevisionRow['hyoka_start_ymd']) && strtotime($today) <= strtotime($mboRevisionRow['hyoka_end_ymd'])) ? true : false;
  $castRow = c2dbGetTopRow("select * from ".$cid."_hnv_casts_mbo where revid = ".$revid_mbo." and empid = '".$empid."' and is_excluded <> '1' ");
	$revnm = @$_SESSION["REVISION_MBO_ROW"]["revnm"];
	if (count($castRow) > 0) {
    $progress = $castRow['progress_mokuhyo'];
?>
<div style="padding-top:1px; width:160px; height:36px">
	<div id="main_title2" title="＠目標の設定" style="width:250px;"><h2 class="main_title">＠目標の設定</h2></div>
</div>
<table cellspacing="0" cellpadding="0" class="list_table_mbo">
	<tr>
		<th><nobr>評価期間</nobr></th>
    <th><nobr>状態</nobr></th>
		<th class="corner2"><nobr>操作</nobr></th>
	</tr>
	<tr>
		<td><?=hh($revnm)?></td>
    <td>
      <?=$is_active_m_span_mbo?($progress==0?'目標未設定':($progress==9?'目標承認済み':$progress.'次承認中')):'目標設定期間外'?>
    </td>
		<td>
      <button type="button" class="btn100 btn_locate" onclick="location.href='mokuhyoEntry.html'" >
        <?=$progress==0&&$is_active_m_span_mbo?'目標の設定':'目標の閲覧'?>
      </button>
    </td>
	</tr>
</table>

<?
	}
	$sql =
	" select * from ".$cid."_hnv_casts_mbo where revid = ".(int)$revid_mbo.
	" and coalesce(is_excluded, '') <> '1'".
	" and (".
	"     mokuhyo1_empid = ".c2dbStr($empid).
	"  or mokuhyo2_empid = ".c2dbStr($empid).
	"  or mokuhyo3_empid = ".c2dbStr($empid).
	"  or mokuhyo4_empid = ".c2dbStr($empid).
	"  or mokuhyo5_empid = ".c2dbStr($empid).
	"  or mokuhyo6_empid = ".c2dbStr($empid).
	" ) ";
	$mboApproveEmpsRows = c2dbGetRows($sql);
	if ($revid_mbo && count($mboApproveEmpsRows) > 0) {
?>
<div style="padding-top:1px; width:160px; height:36px">
	<div id="main_title2" title="＠目標の承認" style="width:250px;"><h2 class="main_title">＠目標の承認</h2></div>
</div>
<?
//******************************************************************************************************************
// 目標承認実施（承認者として）
//******************************************************************************************************************
$dat = array();
$exist_cur = 0;
$exist_yet = 0;
$exist_hyo = 0;
$exist_ttl = 0;
$setei_step = $mboRevisionRow["setei_step"]; // 評価を何段階まで行うかを示すステップ数。
foreach ($mboApproveEmpsRows as $row) {
	for ($step=1; $step<=$setei_step; $step++) {
		if ($row["mokuhyo".$step."_empid"]!=$empid) continue; // 自分の評価ステップではない。スルー
		$exist_ttl = 1;
		$exist_hyo = 1;
		$progress = (int)$row["progress_mokuhyo"];
		$dat[$step]["ttl"] = ((int)@$dat[$step]["ttl"]) + 1; // 対象全職員
    if ($progress == 0) { $dat[$step]["make"] = ((int)@$dat[$step]["make"]) + 1; } // うち入力中
		if ($progress > 0 && $step> $progress) { $dat[$step]["yet"] = ((int)@$dat[$step]["yet"]) + 1; $exist_yet=1; continue; } // うち未到達
		if ($step==$progress) { $dat[$step]["cur"] = ((int)@$dat[$step]["cur"]) + 1; $exist_cur=1; continue; } // うち自分の番
		if ($step< $progress) { $dat[$step]["end"] = ((int)@$dat[$step]["end"]) + 1; continue; } // うち送信済

	}
}
?>
<div class="instruction" style="padding-bottom:5px">
	<? if (!$exist_ttl) { ?>承認を実施する対象職員は指定されていません。<? } ?>
	<? if ($exist_ttl && $exist_cur) { ?>承認未完了があります。「承認実施」ページから、目標を承認してください。<? } ?>
	<? if ($exist_ttl && !$exist_cur && $exist_yet) { ?>現在、承認が必要な目標はありません。他者の承認を待って承認を行ってください。<? } ?>
	<? if ($exist_hyo && !$exist_cur && !$exist_yet && $exist_sogo) { ?><b>割り当てられた目標の承認は完了しました。</b><? } ?>
	<? if ($exist_ttl && !$exist_cur && !$exist_yet && !$exist_sogo) { ?><b>目標の承認は完了しました。</b><? } ?>
</div>

<? if ($exist_ttl) { ?>
<table cellspacing="0" cellpadding="0" class="list_table_mbo">
	<tr>
		<th class="corner2"><nobr>設定ステップ</nobr></th>
		<th><nobr>対象職員数</nobr></th>
		<th><nobr>うち<br>他者承認待ち</nobr></th>
		<th><nobr>うち<br>承認未完了</nobr></th>
		<th><nobr>うち<br>承認済</nobr></th>
    <th><nobr>うち<br>目標設定前</nobr></th>
		<th style="background:0"></th>
	</tr>
	<? for ($step=1; $step<=$setei_step; $step++) { ?>
	<tr>
		<? if ($dat[$step]) { ?>
		<td title="自分が承認者であり、被評価者が設定されていれば操作可能です。"><button type="button" class="btn100 btn_locate" onclick="location.href='mokuhyoEmps.html?hstep=<?=$step?>'"<?=BTN_FOCUS_BLUR?>><div><?=$step?>次承認</div></button></td>
		<? } else { ?>
		<td title="自分が承認者であり、被評価者が設定されていれば操作可能です。" class="btn_disabled"><button type="button" class="btn100 btn_locate"><div><?=$step?>次承認</div></button></td>
		<? } ?>
		<td style="font-size:14px" title="自分が承認を行う職員の人数です。"><?=$dat[$step]["ttl"]?></td>
		<? if ($step==1) { ?>
		<td class="gray_hover">―</td>
		<? } else { ?>
		<td style="font-size:14px"><?=$dat[$step]["yet"]?></td>
		<? } ?>
		<td style="color:#ff0099; font-size:14px"><?=$dat[$step]["cur"]?></td>
		<td style="font-size:14px"><?=$dat[$step]["end"]?></td>
    <td style="font-size:14px"><?=$dat[$step]["make"]?></td>
		<td style="background:0" class="left"><?=($dat[$step] ? $mboRevisionRow["hyo_remark".$step] : "")?></td>
	</tr>
	<? } ?>
</table>


<?
		}
	}
}
?>

<?
	$castRow = c2dbGetTopRow("select * from ".$cid."_hnv_casts where revid = ".$revid." and empid = '".$empid."' and is_excluded <> '1' ");
  $castMboRow = c2dbGetTopRow("select * from ".$cid."_hnv_casts_mbo where revid = ".$revid_mbo." and empid = '".$empid."' and is_excluded <> '1' ");
	$is_jiko_show = (($revisionRow['is_jiko_hyoka'] || $revisionRow['is_jiko_sinkoku']) && count($castRow) > 0) ? true : false;
	$is_mbo_show = (count($castMboRow) > 0 && $mboRevisionRow['is_self_hyoka']) ? true : false;
	if ($is_jiko_show || $is_mbo_show) {
		$revnm = @$_SESSION["REVISION_ROW"]["revnm"];
		$revnm_mbo = @$_SESSION["REVISION_MBO_ROW"]["revnm"];
?>
	<div style="padding-top:1px; width:160px; height:36px">
		<div id="main_title2" title="＠自己評価の実施" style="width:250px;"><h2 class="main_title">＠自己評価の実施</h2></div>
	</div>
	<table cellspacing="0" cellpadding="0" class="list_table">
		<tr>
			<th><nobr>評価期間</nobr></th>
			<th class="corner2"><nobr>操作</nobr></th>
		</tr>
		<? if ($is_jiko_show) { ?>
		<tr>
			<td><?=hh($revnm)?> [行動評価]</td>
			<td><button type="button" class="btn100 btn_locate" onclick="location.href='jikohyoka.html'" ><?=($is_active_span&&!$revisionRow['is_finished'])?"評価実施":"閲覧"?></button></td>
		</tr>
		<? } ?>
		<? if ($is_mbo_show) { ?>
		<tr>
			<td><?=hh($revnm_mbo)?> [目標達成度評価]</td>
			<td><button type="button" class="btn100 btn_locate" onclick="location.href='jikohyokaMbo.html'" ><?=$is_active_h_span_mbo&&!$mboRevisionRow["is_finished"]?"評価実施":"閲覧"?></button></td>
		</tr>
		<? } ?>
	</table>
<?
	}
?>

<?
//まずは対象レコードが存在するか確認の上、表示有無を決定する
$empsRows = array();
if ($revid) {
	// 自分の評価対象を取得して表示
	$sql =
	" select * from ".$cid."_hnv_casts where revid = ".(int)$revid.
	" and coalesce(is_excluded, '') <> '1'".
	" and (".
	"     hyouka1_empid = ".c2dbStr($empid).
	"  or hyouka2_empid = ".c2dbStr($empid).
	"  or hyouka3_empid = ".c2dbStr($empid).
	"  or hyouka4_empid = ".c2dbStr($empid).
	"  or hyouka5_empid = ".c2dbStr($empid).
	"  or hyouka6_empid = ".c2dbStr($empid).
	" )";
	$empsRows = c2dbGetRows($sql);
}
?>


<?
//まずは対象レコードが存在するか確認の上、表示有無を決定する
$empsRows = array();
if ($revid) {
	// 自分の評価対象を取得して表示
	$sql =
	" select * from ".$cid."_hnv_casts where revid = ".(int)$revid.
	" and coalesce(is_excluded, '') <> '1'".
	" and (".
	"     hyouka1_empid = ".c2dbStr($empid).
	"  or hyouka2_empid = ".c2dbStr($empid).
	"  or hyouka3_empid = ".c2dbStr($empid).
	"  or hyouka4_empid = ".c2dbStr($empid).
	"  or hyouka5_empid = ".c2dbStr($empid).
	"  or hyouka6_empid = ".c2dbStr($empid).
	" )";
	$empsRows = c2dbGetRows($sql);
}
$mboEmpsRows = array();
if ($revid_mbo) {
	$sql =
	" select * from ".$cid."_hnv_casts_mbo where revid = ".(int)$revid_mbo.
	" and coalesce(is_excluded, '') <> '1'".
	" and (".
	"     hyouka1_empid = ".c2dbStr($empid).
	"  or hyouka2_empid = ".c2dbStr($empid).
	"  or hyouka3_empid = ".c2dbStr($empid).
	"  or hyouka4_empid = ".c2dbStr($empid).
	"  or hyouka5_empid = ".c2dbStr($empid).
	"  or hyouka6_empid = ".c2dbStr($empid).
	" ) ";
	$mboEmpsRows = c2dbGetRows($sql);
}

if ( ($revid && (count($empsRows) or $_SESSION["IS_LOGIN_HYOMASTER"]) ) || ($revid_mbo && (count($mboEmpsRows) or $_SESSION["IS_LOGIN_MBO_HYOMASTER"] ) ) ) {
?>
<table cellspacing="0" cellpadding="0" style="margin-top:15px;">
<tr><td>
	<div style="padding-top:0px; width:160px; height:36px;padding-bottom:5px;">
		<div id="main_title2" title="＠評価の実施" style="width:250px;"><h2 class="main_title">＠評価の実施</h2></div>
	</div>
</td>
<td style="padding-top:5px">
</td>
</tr>
</table>
<? } ?>

<?
	if ($revid && (count($empsRows) or $_SESSION["IS_LOGIN_HYOMASTER"])) {
		$revnm = @$_SESSION["REVISION_ROW"]["revnm"];
		if ($revnm) {
			echo '<table cellspacing="0" cellpadding="0" style="position:relative;margin-bottom:15px;margin-top:10px;"><tr>';
			echo '<td id="revnm_panel2_title" style="padding-left:10px"><div>評価期間</div></td>';
			echo '<td id="revnm_panel2"><div>'.hh($revnm).' [行動評価]</div></td></tr></table>';
		}
	}

?>




<?
	//******************************************************************************************************************
	// 評価実施（評価者として）
	//******************************************************************************************************************
	$dat = array();
	$exist_cur = 0;
	$exist_yet = 0;
	$exist_hyo = 0;
	$exist_ttl = 0;
	$exist_sogo = 0;
	$hyo_step = $revisionRow["hyo_step"]; // 評価を何段階まで行うかを示すステップ数。
	foreach ($empsRows as $row) {
		for ($step=1; $step<=$revisionRow["hyo_step"]; $step++) {
			if ($row["hyouka".$step."_empid"]!=$empid) continue; // 自分の評価ステップではない。スルー
			$exist_ttl = 1;
			$exist_hyo = 1;
			$progress = (int)$row["progress"];
			$dat[$step]["ttl"] = ((int)@$dat[$step]["ttl"]) + 1; // 対象全職員
			if ($step> $progress+1) { $dat[$step]["yet"] = ((int)@$dat[$step]["yet"]) + 1; $exist_yet=1; continue; } // うち未到達
			if ($step==$progress+1) { $dat[$step]["cur"] = ((int)@$dat[$step]["cur"]) + 1; $exist_cur=1; continue; } // うち自分の番
			if ($step< $progress+1) { $dat[$step]["end"] = ((int)@$dat[$step]["end"]) + 1; continue; } // うち送信済
		}
	}

	//******************************************************************************************************************
	// 評価実施（最終判定者として）
	//******************************************************************************************************************
	if ($_SESSION["IS_LOGIN_HYOMASTER"] || $_SESSION["CAST_ROW"]["is_hyomaster"]) {
		$empsRows = c2dbGetRows("select * from ".$cid."_hnv_casts where coalesce(is_excluded, '') <> '1' and revid = ".(int)$revid);
		foreach ($empsRows as $row) {
			$exist_ttl = 1;
			$exist_sogo = 1;
			$progress = (int)$row["progress"];
      $my_hyo_step = ($row["kojin_hyo_step"]!=0) ? $row["kojin_hyo_step"] : $hyo_step;
			$dat[9]["ttl"] = ((int)@$dat[9]["ttl"]) + 1; // 対象全職員
      if ($my_hyo_step>$progress ) { $dat[9]["yet"] = ((int)@$dat[9]["yet"]) + 1; continue; } // うち未到達
		}
	}
?>

<? if ($revid && count($empsRows)) { ?>

	<div class="instruction" style="padding-bottom:5px">
    <? if ($is_active_span) { ?>
		<? if (!$exist_ttl) { ?>評価を実施する対象職員は指定されていません。<? } ?>
		<? if ($exist_ttl && $exist_cur) { ?>評価未完了があります。「評価実施」ページから、評価を入力してください。<? } ?>
		<? if ($exist_ttl && !$exist_cur && $exist_yet) { ?>現在、入力可能な評価はありません。他者の評価を待って評価を行ってください。<? } ?>
		<? if ($exist_hyo && !$exist_cur && !$exist_yet && $exist_sogo) { ?><b>割り当てられた評価は完了しました。</b><? } ?>
		<? if ($exist_ttl && !$exist_cur && !$exist_yet && !$exist_sogo) { ?><b>評価は完了しました。</b><? } ?>
    <? } else { ?>
      現在、評価実施期間外です。
    <? } ?>
	</div>
<? } ?>

<? if ($exist_ttl) { ?>
	<table cellspacing="0" cellpadding="0" class="list_table">
		<tr>
			<th class="corner2"><nobr>評価ステップ</nobr></th>
			<th><nobr>対象職員数</nobr></th>
			<th><nobr>うち<br>他者評価待ち</nobr></th>
			<th><nobr>うち<br>評価未完了</nobr></th>
			<th><nobr>うち<br>評価済</nobr></th>
			<th style="background:0"></th>
		</tr>
		<? for ($step=1; $step<=$revisionRow["hyo_step"]; $step++) { ?>
		<tr>
			<? if ($dat[$step]) { ?>
			<td title="自分が評価者であり、被評価者が設定されていれば操作可能です。"><button type="button" class="btn100 btn_locate" onclick="location.href='jissi.html?hstep=<?=$step?>'"<?=BTN_FOCUS_BLUR?>><div><?=$step?>次評価</div></button></td>
			<? } else { ?>
			<td title="自分が評価者であり、被評価者が設定されていれば操作可能です。" class="btn_disabled"><button type="button" class="btn100 btn_locate"><div><?=$step?>次評価</div></button></td>
			<? } ?>
			<td style="font-size:14px" title="自分が評価を行う職員の人数です。"><?=$dat[$step]["ttl"]?></td>
			<? if ($step==1) { ?>
			<td class="gray_hover">―</td>
			<? } else { ?>
			<td style="font-size:14px"><?=$dat[$step]["yet"]?></td>
			<? } ?>
			<td style="color:#ff0099; font-size:14px"><?=$dat[$step]["cur"]?></td>
			<td style="font-size:14px"><?=$dat[$step]["end"]?></td>
			<td style="background:0" class="left"><?=($dat[$step] ? $revisionRow["hyo_remark".$step] : "")?></td>
		</tr>
		<? } ?>
		<tr>
			<? if ($_SESSION["IS_LOGIN_HYOMASTER"] || $_SESSION["CAST_ROW"]["is_hyomaster"]) { ?>
				<td title="最終判定は、最終判定者のみ操作可能です。"><button type="button" class="btn100 btn_locate" onclick="location.href='sougou.html'"<?=BTN_FOCUS_BLUR?>><div>最終判定</div></button></td>
			<? } else { ?>
				<td title="最終判定は、最終判定者のみ操作可能です。" class="btn_disabled"><button type="button" class="btn100 btn_locate"><div>最終判定</div></button></td>
			<? } ?>
			<td style="font-size:14px" title="全職員数です。"><?=$dat[9]["ttl"]?></td>
			<td style="font-size:14px"><?=$dat[9]["yet"]?></td>
			<td class="gray_hover" style="font-size:14px">―</td>
			<td class="gray_hover" style="font-size:14px">―</td>
			<td style="background:0"></td>
		</tr>
	</table>
<? }

if ($revid_mbo && (count($mboEmpsRows) or $_SESSION["IS_LOGIN_MBO_HYOMASTER"] )) {
	$revnm_mbo = @$_SESSION["REVISION_MBO_ROW"]["revnm"];
	if ($revnm) {
		echo '<table cellspacing="0" cellpadding="0" style="position:relative;margin-bottom:15px;margin-top:10px;"><tr>';
		echo '<td id="revnm_panel2_title" style="padding-left:10px"><div>評価期間</div></td>';
		echo '<td id="revnm_panel2"><div>'.hh($revnm_mbo).' [目標達成度評価]</div></td></tr></table>';
	}
}
	//******************************************************************************************************************
	// 評価実施(目標達成度)（評価者として）
	//******************************************************************************************************************
	$dat = array();
	$exist_cur = 0;
	$exist_yet = 0;
	$exist_hyo = 0;
	$exist_ttl = 0;
	$exist_sogo = 0;
	$hyo_step = $mboRevisionRow["hyo_step"]; // 評価を何段階まで行うかを示すステップ数。
	foreach ($mboEmpsRows as $row) {
		for ($step=1; $step<=$mboRevisionRow["hyo_step"]; $step++) {
			if ($row["hyouka".$step."_empid"]!=$empid) continue; // 自分の評価ステップではない。スルー
			$exist_ttl = 1;
			$exist_hyo = 1;
			$progress = (int)$row["progress_hyoka"];
			$dat[$step]["ttl"] = ((int)@$dat[$step]["ttl"]) + 1; // 対象全職員
			if ($step> $progress) { $dat[$step]["yet"] = ((int)@$dat[$step]["yet"]) + 1; $exist_yet=1; continue; } // うち未到達
			if ($step==$progress) { $dat[$step]["cur"] = ((int)@$dat[$step]["cur"]) + 1; $exist_cur=1; continue; } // うち自分の番
			if ($step< $progress) { $dat[$step]["end"] = ((int)@$dat[$step]["end"]) + 1; continue; } // うち送信済
		}
	}
  //******************************************************************************************************************
	// 評価実施（最終判定者として）
	//******************************************************************************************************************
	if ($_SESSION["IS_LOGIN_MBO_HYOMASTER"] || $_SESSION["CASTS_MBO_ROW"]["is_hyomaster"]) {
		$mboEmpsRows = c2dbGetRows("select * from ".$cid."_hnv_casts_mbo where coalesce(is_excluded, '') <> '1' and revid = ".(int)$revid_mbo);
		foreach ($mboEmpsRows as $row) {
			$exist_ttl = 1;
			$exist_sogo = 1;
			$progress = (int)$row["progress_hyoka"];
      $my_hyo_step = ($row["kojin_hyo_step"]!=0) ? $row["kojin_hyo_step"] : $hyo_step;
			$dat[9]["ttl"] = ((int)@$dat[9]["ttl"]) + 1; // 対象全職員
			if ($my_hyo_step>$progress-1) { $dat[9]["yet"] = ((int)@$dat[9]["yet"]) + 1; continue; } // うち未到達
		}
	}
	if ($revid_mbo && ( count($mboEmpsRows) or $_SESSION["IS_LOGIN_MBO_HYOMASTER"] )) {
?>
	<div class="instruction" style="padding-bottom:5px">

    <? if ($is_active_h_span_mbo) { ?>
      <? if (!$exist_ttl) { ?>評価を実施する対象職員は指定されていません。<? } ?>
  		<? if ($exist_ttl && $exist_cur) { ?>評価未完了があります。「評価実施」ページから、評価を入力してください。<? } ?>
  		<? if ($exist_ttl && !$exist_cur && $exist_yet) { ?>現在、入力可能な評価はありません。他者の評価を待って評価を行ってください。<? } ?>
  		<? if ($exist_hyo && !$exist_cur && !$exist_yet && $exist_sogo) { ?><b>割り当てられた評価は完了しました。</b><? } ?>
  		<? if ($exist_ttl && !$exist_cur && !$exist_yet && !$exist_sogo) { ?><b>評価は完了しました。</b><? } ?>
    <? } else { ?>
      現在、評価実施期間外です。
    <? } ?>

	</div>
<? } ?>

<? if ($revid_mbo &&  ( $exist_ttl or $_SESSION["IS_LOGIN_MBO_HYOMASTER"] )) { ?>
	<table cellspacing="0" cellpadding="0" class="list_table_mbo">
		<tr>
			<th class="corner2"><nobr>評価ステップ</nobr></th>
			<th><nobr>対象職員数</nobr></th>
			<th><nobr>うち<br>他者評価待ち</nobr></th>
			<th><nobr>うち<br>評価未完了</nobr></th>
			<th><nobr>うち<br>評価済</nobr></th>
			<th style="background:0"></th>
		</tr>
		<? for ($step=1; $step<=$mboRevisionRow["hyo_step"]; $step++) { ?>
		<tr>
			<? if ($dat[$step]) { ?>
			<td title="自分が評価者であり、被評価者が設定されていれば操作可能です。"><button type="button" class="btn100 btn_locate" onclick="location.href='hyokaEmpsMbo.html?hstep=<?=$step?>'"<?=BTN_FOCUS_BLUR?>><div><?=$step?>次評価</div></button></td>
			<? } else { ?>
			<td title="自分が評価者であり、被評価者が設定されていれば操作可能です。" class="btn_disabled"><button type="button" class="btn100 btn_locate"><div><?=$step?>次評価</div></button></td>
			<? } ?>
			<td style="font-size:14px" title="自分が評価を行う職員の人数です。"><?=$dat[$step]["ttl"]?></td>
			<? if ($step==1) { ?>
			<td class="gray_hover">―</td>
			<? } else { ?>
			<td style="font-size:14px"><?=$dat[$step]["yet"]?></td>
			<? } ?>
			<td style="color:#ff0099; font-size:14px"><?=$dat[$step]["cur"]?></td>
			<td style="font-size:14px"><?=$dat[$step]["end"]?></td>
			<td style="background:0" class="left"><?=($dat[$step] ? $mboRevisionRow["hyo_remark".$step] : "")?></td>
		</tr>
		<? } ?>
    <tr>
			<? if ($_SESSION["IS_LOGIN_MBO_HYOMASTER"] || $_SESSION["CASTS_MBO_ROW"]["is_hyomaster"]) { ?>
				<td title="最終判定は、最終判定者のみ操作可能です。"><button type="button" class="btn100 btn_locate" onclick="location.href='saisyuMbo.html'"<?=BTN_FOCUS_BLUR?>><div>最終判定</div></button></td>
			<? } else { ?>
				<td title="最終判定は、最終判定者のみ操作可能です。" class="btn_disabled"><button type="button" class="btn100 btn_locate"><div>最終判定</div></button></td>
			<? } ?>
			<td style="font-size:14px" title="全職員数です。"><?=$dat[9]["ttl"]?></td>
			<td style="font-size:14px"><?=$dat[9]["yet"]?></td>
			<td class="gray_hover" style="font-size:14px">―</td>
			<td class="gray_hover" style="font-size:14px">―</td>
			<td style="background:0"></td>
		</tr>

	</table>
<? }
?>


<?
	//******************************************************************************************************************
	// 総合判定
	//******************************************************************************************************************
  $is_active_span_ttl = false;
  if ($revid_ttl) {
    $is_active_span_ttl = (strtotime($today) >= strtotime($ttlRevisionRow['hyoka_start_ymd']) && strtotime($today) <= strtotime($ttlRevisionRow['hyoka_end_ymd'])) ? true : false;
  }
	if ($_SESSION["IS_LOGIN_TTL_HYOMASTER"]) {
?>
<table cellspacing="0" cellpadding="0" style="margin-top:15px;">
<tr><td>
	<div style="padding-top:0px; width:160px; height:36px;padding-bottom:5px;">
		<div id="main_title2" title="＠総合判定の実施" style="width:250px;"><h2 class="main_title">＠総合判定の実施</h2></div>
	</div>
</td>
<td style="padding-top:5px">
</td>
</tr>
</table>
<?
if ($revid_ttl) {
  $revnm = @$_SESSION["REVISION_TTL_ROW"]["revnm"];
  if ($revnm) {
    echo '<table cellspacing="0" cellpadding="0" style="position:relative;margin-bottom:15px;margin-top:10px;"><tr>';
    echo '<td id="revnm_panel2_title" style="padding-left:10px"><div>総合判定期間</div></td>';
    echo '<td id="revnm_panel2"><div>'.hh($revnm).'</div></td></tr></table>';
  }
  $sub_revs = explode(",", $_SESSION["REVISION_TTL_ROW"]["sub_revs"]);
  $dat = array();
  $dat["ttl"] = 0;
  if ( count($sub_revs) > 0 ) {
    $is_active_sougou = 1;
    for ($idx = 1 ; $idx <= count($sub_revs) ; $idx++ ) {
      $subs = explode(":",$sub_revs[$idx-1]);
      if (!$subs[0]) $is_active_sougou = 0;
    }
    $ttlEmpsRows = c2dbGetRows("select * from ".$cid."_hnv_casts_ttl where coalesce(is_excluded, '') <> '1' and revid = ".(int)$revid_ttl);
    foreach ($ttlEmpsRows as $row) {
      $exist_ttl = 1;
      //$progress = (int)($row["progress"] or $row["progress_hyoka"]);
      $dat["ttl"] = ((int)@$dat["ttl"]) + 1; // 対象全職員
      //if ($hyo_step>$progress-1) { $dat["yet"] = ((int)@$dat["yet"]) + 1; continue; } // うち未到達
    }
  }

?>
<table cellspacing="0" cellpadding="0" class="list_table_ttl">
  <tr>
    <th class="corner2"><nobr>判定実施</nobr></th>
    <th><nobr>対象職員数</nobr></th>
  </tr>
  <tr>
    <? if ($is_active_sougou) { ?>
      <td title="総合判定は、総合判定者のみ操作可能です。">
        <button type="button" class="btn100 btn_locate" onclick="location.href='ttl.html'"<?=BTN_FOCUS_BLUR?>><div><?=$is_active_span_ttl?"実施":"閲覧"?></div></button>
      </td>
    <? } else { ?>
      <td title="総合判定は、総合判定者のみ操作可能です。" class="btn_disabled"><button type="button" class="btn100 btn_locate"><div>実施</div></button></td>
    <? } ?>
    <td style="font-size:14px" title="全職員数です。"><?=$dat["ttl"]?></td>
  </tr>
</table>
<? } ?>

<?
  }
?>


<?
	//******************************************************************************************************************
	// 評価期間切替
	// システム管理者か、ログイン直後のリビジョンに対して最終判定者か
	//******************************************************************************************************************
	if ($_SESSION["SUPER_CID"] || $_SESSION["EMPMST_ROW"]["is_admin"] || $_SESSION["IS_LOGIN_HYOMASTER"] || $_SESSION["IS_LOGIN_MBO_HYOMASTER"] || $_SESSION["IS_LOGIN_TTL_HYOMASTER"] ) {
?>
<div style="padding-top:15px">
	<div id="main_title2" title="＠評価期間切替" style="width:250px;"><h2 class="main_title">＠評価期間切替</h2></div>
</div>
<div class="instruction" style="padding-bottom:5px">
	「評価期間切替」ボタンで、別の考課記録が確認できます。
</div>
<? if ($_SESSION["SUPER_CID"] || $_SESSION["EMPMST_ROW"]["is_admin"] || $_SESSION["IS_LOGIN_HYOMASTER"]) { ?>
<h5 class="swap">行動評価</h5>
<?
	if (!count($revisionRows)) {
		echo '<div class="instruction red bold" style="padding-top:20px">行動評価の評価期間がひとつも作成されていません。管理画面から評価期間を作成してください。</div>';
	}
	if (count($revisionRows)) {
?>
	<table cellspacing="0" cellpadding="0" class="list_table">
	<tr>
		<th class="corner2"><nobr>評価期間切替</nobr></th>
		<th><nobr>評価期間タイトル</nobr></th>
		<th><nobr>評価対象期間</nobr></th>
		<th><nobr>評価ステップ</nobr></th>
		<th><nobr>最終確定済</nobr></th>
	</tr>
	<? foreach ($revisionRows as $row) { ?>
	<tr>
		<td><nobr>
			<? if ($row["revid"]==$_SESSION["REVID"]){?>
				<span style="color:#e738eb; font-weight:bold" title="現在の評価期間です">※</span>
			<? } else { ?>
				<span style="color:#ffffff; font-weight:bold">※</span>
			<? } ?>
			<button type="button" onclick="swapRevision('<?=$row["revid"]?>')" class="btn130 btn_rev"<?=BTN_FOCUS_BLUR?>><div>切替</div></button></nobr>
		</td>
		<td><?=hh($row["revnm"])?></td>
		<td class="right"><nobr>
			<? $fr = explode("/", $row["rev_fr_ymd"]); ?>
			<? $to = explode("/", $row["rev_to_ymd"]); ?>
			<?=hh($fr[0])?>年<?=hh($fr[1])?>月<?=hh($fr[2])?>日</nobr><br>
			<nobr>～
			<?=hh($to[0])?>年<?=hh($to[1])?>月<?=hh($to[2])?>日
			</nobr>
		</td>
		<td><?=$row["hyo_step"]?>次評価まで</td>
		<td><?=($row["is_finished"] ? "済" : "") ?></td>
	</tr>
	<? } ?>
	</table>
	<? }
  }
  if ($_SESSION["SUPER_CID"] || $_SESSION["EMPMST_ROW"]["is_admin"] || $_SESSION["IS_LOGIN_MBO_HYOMASTER"]) {
?>
	<h5 class="swap">目標達成度評価</h5>
	<?
		if (!count($mboRevisionRows)) {
			echo '<div class="instruction red bold" style="padding-top:20px">目標達成度評価の評価期間がひとつも作成されていません。管理画面から評価期間を作成してください。</div>';
		}
		if (count($mboRevisionRows)) {
	?>
		<table cellspacing="0" cellpadding="0" class="list_table_mbo">
		<tr>
			<th class="corner2"><nobr>評価期間切替</nobr></th>
			<th><nobr>評価期間タイトル</nobr></th>
			<th><nobr>評価対象期間</nobr></th>
			<th><nobr>評価ステップ</nobr></th>
      <th><nobr>最終確定済</nobr></th>
		</tr>
		<? foreach ($mboRevisionRows as $row) { ?>
		<tr>
			<td><nobr>
				<? if ($row["revid"]==$_SESSION["REVID_MBO"]){?>
					<span style="color:#e738eb; font-weight:bold" title="現在の評価期間です">※</span>
				<? } else { ?>
					<span style="color:#ffffff; font-weight:bold">※</span>
				<? } ?>
				<button type="button" onclick="swapMboRevision('<?=$row["revid"]?>')" class="btn130 btn_rev"<?=BTN_FOCUS_BLUR?>><div>切替</div></button></nobr>
			</td>
			<td><?=hh($row["revnm"])?></td>
			<td class="right"><nobr>
				<? $fr = explode("/", $row["rev_fr_ymd"]); ?>
				<? $to = explode("/", $row["rev_to_ymd"]); ?>
				<?=hh($fr[0])?>年<?=hh($fr[1])?>月<?=hh($fr[2])?>日</nobr><br>
				<nobr>～
				<?=hh($to[0])?>年<?=hh($to[1])?>月<?=hh($to[2])?>日
				</nobr>
			</td>
			<td><?=$row["hyo_step"]?>次評価まで</td>
      <td><?=($row["is_finished"] ? "済" : "") ?></td>
		</tr>
		<? } ?>
		</table>
		<? } ?>
  <? }
  if ($_SESSION["SUPER_CID"] || $_SESSION["EMPMST_ROW"]["is_admin"] || $_SESSION["IS_LOGIN_TTL_HYOMASTER"]) {
?>
	<h5 class="swap">総合判定</h5>
	<?
		if (!count($ttlRevisionRows)) {
			echo '<div class="instruction red bold" style="padding-top:20px">総合判定がひとつも作成されていません。管理画面から総合判定の設定を作成してください。</div>';
		}
		if (count($ttlRevisionRows)) {
	?>
		<table cellspacing="0" cellpadding="0" class="list_table_ttl">
		<tr>
			<th class="corner2"><nobr>総合判定切替</nobr></th>
			<th><nobr>総合判定タイトル</nobr></th>
			<th><nobr>評価対象期間</nobr></th>
      <th><nobr>最終確定済</nobr></th>
		</tr>
		<? foreach ($ttlRevisionRows as $row) { ?>
		<tr>
			<td><nobr>
				<? if ($row["revid"]==$_SESSION["REVID_TTL"]){?>
					<span style="color:#e738eb; font-weight:bold" title="現在の総合判定です">※</span>
				<? } else { ?>
					<span style="color:#ffffff; font-weight:bold">※</span>
				<? } ?>
				<button type="button" onclick="swapTtlRevision('<?=$row["revid"]?>')" class="btn130 btn_rev"<?=BTN_FOCUS_BLUR?>><div>切替</div></button></nobr>
			</td>
			<td><?=hh($row["revnm"])?></td>
			<td class="right"><nobr>
				<? $fr = explode("/", $row["rev_fr_ymd"]); ?>
				<? $to = explode("/", $row["rev_to_ymd"]); ?>
				<?=hh($fr[0])?>年<?=hh($fr[1])?>月<?=hh($fr[2])?>日</nobr><br>
				<nobr>～
				<?=hh($to[0])?>年<?=hh($to[1])?>月<?=hh($to[2])?>日
				</nobr>
			</td>
      <td><?=($row["is_finished"] ? "済" : "") ?></td>
		</tr>
		<? } ?>
		</table>
		<? } ?>
  <? }
?>
<? } ?>



</td>





<td style="vertical-align:top; padding:30px 0 0 10px; width:300px">

<?
	//******************************************************************************************************************
	// その他
	//******************************************************************************************************************
?>
	<div style="padding-bottom:8px; display:none" class="btn_disabled">
		<button type="button" class="btn180 btn_locate" onclick=""<?=BTN_FOCUS_BLUR?>><div>昇格・降格対象者抽出</div></button>
		<span class="instruction">この機能は現在利用できません。</span>
	</div>

	<div style="padding-bottom:8px; display:none" class="btn_disabled">
		<button type="button" class="btn180 btn_locate" onclick=""<?=BTN_FOCUS_BLUR?>><div>ランキング</div></button>
		<span class="instruction">この機能は現在利用できません。</span>
	</div>

	<div style="padding-bottom:8px; display:none" >
		<button type="button" class="btn180 btn_locate" onclick="location.href='cyuto.html'"<?=BTN_FOCUS_BLUR?>><div>中途入職者の給与算定</div></button>
	</div>

	<div style="padding-bottom:8px; display:none" class="btn_disabled">
		<button type="button" class="btn180 btn_locate"<?=BTN_FOCUS_BLUR?>><div>給与シミュレーション</div></button>
		<span class="instruction">この機能は現在利用できません。</span>
	</div>
</div>
</div>


<?
	//******************************************************************************************************************
	// メッセージ
	//******************************************************************************************************************
	$sql =
	" select * from hnv_messages".
	" where is_new = '1'".
	" and ( publish_mode = 'GLOBAL'".($_SESSION["SUPER_CID"] ? " or publish_mode = 'TESTING'" : "").
	" ".(($_SESSION["EMPMST_ROW"]["is_admin"]||$_SESSION["SUPER_CID"]) ? " or publish_mode = 'ADMIN'" : "").")".
	" order by sort_order, msg_seq desc";
	$messageRows = c2dbGetRows($sql);
	$sql =
	" select * from hnv_messages".
	" where ( publish_mode = 'GLOBAL'".($_SESSION["SUPER_CID"] ? " or publish_mode = 'TESTING'" : "").
	" ".(($_SESSION["EMPMST_ROW"]["is_admin"]||$_SESSION["SUPER_CID"]) ? " or publish_mode = 'ADMIN'" : "").")".
	" order by sort_order, msg_seq desc";
	$allMessageRows = c2dbGetRows($sql);
	if (count($allMessageRows) || $_SESSION["SUPER_CID"]) {
?>
<div style="padding-bottom:20px">

	<div style="padding:0 0 0 0; height:58px; position:relative">
		<? if (count($messageRows) || $_SESSION["SUPER_CID"]) { ?>
		<div style="width:40px; height:14px; position:absolute; left:260px; top:44px; background:url(img/fermata.gif) no-repeat 0 -14px"
			onmouseover="style.backgroundPosition='0 0'; style.cursor='pointer'"
			onmouseout="style.backgroundPosition='0 -14px'; style.cursor='default'"
			onclick="var elem=ee('message_scroller'); h=elem.style.height; elem.style.height=(h=='auto'?'100px':'auto');elem.style.overflowY=(h=='auto'?'scroll':'auto');"></div>
		<? } ?>
<!--[if lte IE 8]>
	<div style="position:absolute; left:0; top:0; width:40px; height:54px; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=img/messages_icon.png, sizingMethod=crop)"></div>
<![endif]-->
<![if !(lte IE 8)]>
	<div style="position:absolute; left:0; top:0; width:40px; height:54px; background:url(img/messages_icon.png) no-repeat"></div>
<![endif]>

		<table cellspacing="0" cellpadding="0" class="width100">
			<tr><td style="padding:6px 0 10px 50px; font-size:14px; color:#bb7755; letter-spacing:1px">サイトからのお知らせ</td></tr>
		</table>
	</div>
	<?
		if (count($messageRows) || $_SESSION["SUPER_CID"]) {
			foreach ($messageRows as $row){
	?>
	<div style="background:url(img/messages_bk.gif); padding:10px; height:100px; overflow-y:scroll" id="message_scroller">
		<? if ($row["msg_ymd"]) { ?>
		<div style="color:#bb7755; font-size:11px; padding:0 0 2px 0">◆ <?=slashYmd($row["msg_ymd"])?> ◆</div>
		<? } ?>
		<div style="color:#bb7755; font-size:14px; padding:0 0 5px 0; word-break:break-all"><?=str_replace("\n","<br>",$row["msg_title"])?></div>
		<div style="color:#777777; font-size:12px; padding:0 0 15px 0; word-break:break-all"><?=str_replace("\n","<br>",$row["msg_html"])?></div>
	</div>
	<?
			}
		}
	?>
		<a class="block right" href="messages.html" style="font-size:12px;margin-right:10px;margin-top:5px;">→ お知らせ一覧</a>
	</div>
</div>
<?  } ?>



<?
	//******************************************************************************************************************
	// コラム・レポート
	//******************************************************************************************************************
	$sql =
	" select * from hnv_reports".
	" where is_new = '1'".
	" and ( publish_mode = 'GLOBAL'".($_SESSION["SUPER_CID"] ? " or publish_mode = 'TESTING'" : "").
	" ".(($_SESSION["EMPMST_ROW"]["is_admin"]||$_SESSION["SUPER_CID"]) ? " or publish_mode = 'ADMIN'" : "").")".
	" order by sort_order, rep_seq desc";
	$reportRows = c2dbGetRows($sql);
	$sql =
	" select * from hnv_reports".
	" where ( publish_mode = 'GLOBAL'".($_SESSION["SUPER_CID"] ? " or publish_mode = 'TESTING'" : "").
	" ".(($_SESSION["EMPMST_ROW"]["is_admin"]||$_SESSION["SUPER_CID"]) ? " or publish_mode = 'ADMIN'" : "").")".
	" order by sort_order, rep_seq desc";
	$allReportRows = c2dbGetRows($sql);
	if (count($allReportRows) || $_SESSION["SUPER_CID"]) {
?>
<div style="padding-bottom:20px">




<div style="padding:0 0 0 0; height:50px; position:relative">

<!--[if lte IE 8]>
	<div style="position:absolute; left:0; top:0; width:40px; height:54px; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=img/reports.png, sizingMethod=crop)"></div>
<![endif]-->
<![if !(lte IE 8)]>
	<div style="position:absolute; left:0; top:0; width:40px; height:54px; background:url(img/reports.png) no-repeat"></div>
<![endif]>
		<table cellspacing="0" cellpadding="0" class="width100">
			<tr><td style="padding:6px 0 10px 50px; font-size:14px; color:#bb7755; letter-spacing:1px">コラム・レポート</td></tr>
		</table>
	</div>
	<?
		if (count($reportRows) || $_SESSION["SUPER_CID"]) {
			foreach ($reportRows as $row){
	?>
	<div style="background:url(img/reports_bk1.gif) no-repeat;">
	<div style="background:url(img/reports_bk2.gif) right bottom no-repeat; padding:15px 10px 10px 15px;">
			<? if ($row["rep_ymd"]) { ?>
			<div style="color:#95a8db; font-size:11px; padding:0 0 2px 0">◆ <?=slashYmd($row["rep_ymd"])?> ◆</div>
			<? } ?>
			<a class="block" style="font-size:14px; padding:0 0 5px 0; word-break:break-all" href="reports.html?reps=<?=$row["rep_seq"]?>"><?=str_replace("\n","<br>",$row["rep_title"])?></a>
			<div style="color:#777777; font-size:12px; padding:0 0 5px 0; word-break:break-all"><?=str_replace("\n","<br>",$row["rep_subtitle"])?></div>
	</div>
	</div>
	<?
			}
		}
	 ?>
	 <a class="block right" href="reports.html" style="font-size:12px;margin-right:10px;margin-top:5px;">→ コラム・レポート一覧</a>
</div>
<?  } ?>



<div style="background:url(img/bird.png) no-repeat; width:300px; height:40px"><div style="padding:6px 0 10px 50px; color:#447744">アドバンスド・ユーティリティ</div></div>

<?
	//******************************************************************************************************************
	// お役立ち資料集
	//******************************************************************************************************************
?>
<div style="padding-bottom:10px">
	<button type="button" class="btn180 btn_locate" onclick="location.href='templates.html'"<?=BTN_FOCUS_BLUR?>><div>お役立ち資料集</div></button>
</div>
<?
	//******************************************************************************************************************
	// FAQ・操作マニュアル
	//******************************************************************************************************************
?>
<div style="padding-bottom:10px">
	<button type="button" class="btn180 btn_locate" onclick="location.href='faq.html'"<?=BTN_FOCUS_BLUR?>><div>FAQ・操作マニュアル</div></button>
</div>
<?
	//******************************************************************************************************************
	// お問い合わせ
	//******************************************************************************************************************
    if ($_SESSION["EMPMST_ROW"]["is_admin"]) {
?>
	<div style="color:#777777; font-size:14px; padding-bottom:10px; letter-spacing:1px">
		<button type="button" class="btn180 btn_locate" onclick="location.href='inquiry.html'"<?=BTN_FOCUS_BLUR?>><div>お問い合わせ</div></button>
	</div>
<? } ?>

<?
	//******************************************************************************************************************
	// ログインパスワード変更
	//******************************************************************************************************************
?>
<div id="div_pwd_btn">
	<button type="button" class="btn180" onclick="tryLoadLoginPanel()"<?=BTN_FOCUS_BLUR?>>ログインパスワード変更</button>
</div>

<form id="frm_pwd_edit">
</form>


</td></tr></table>





</div><!-- // content_all -->
</body>
</html>
