<?
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// 評価用の職員一覧（行動評価）
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
require_once("common.php");

//******************************************************************************
// セッション・リクエスト判定
//******************************************************************************
if (!$_SESSION["CID"]) c2SessionErrorAndDie(); // 未ログインなら、ログインページへ
$cid = $_SESSION["CID"]; // 顧客ID
$revid = (int)$_SESSION["REVID"];
$today = date("Y/m/d");

$revisionRow = c2dbGetTopRow("select * from ".$cid."_hnv_revisions where revid = ".$revid);


$bunrui_ext1 = hh(trim($_SESSION["CLIENT_ROW"]["bunrui_ext1"]));
$bunrui_ext2 = hh(trim($_SESSION["CLIENT_ROW"]["bunrui_ext2"]));


$ary = explode(",", $revisionRow["hyo_level"]);
$hyo_level = array("");
foreach ($ary as $level) $hyo_level[]= trim($level);

$hstep = (int)$req["hstep"];
if (!in_array($hstep, array(1,2,3,4,5,6,9))) $hstep = 1;
$max_hstep = $hstep;

$max_hyo_step = $revisionRow["hyo_step"];
$is_finished = $revisionRow["is_finished"];
$is_jiko_hyoka = $revisionRow["is_jiko_hyoka"];
$is_active_span = (strtotime($today) >= strtotime($revisionRow['hyoka_start_ymd']) && strtotime($today) <= strtotime($revisionRow['hyoka_end_ymd'])) ? true : false;
if (!$is_active_span) $is_finished = true;

$_ary = explode(",", $revisionRow["hyo_disp_uplevel_ongoing"]); // ゼロオリジン
$uplevels_going_tmp = explode("=", @$_ary[$hstep-1]); // ゼロオリジン
$uplevels_going = explode("-", @$uplevels_going_tmp[0]); // ゼロオリジン
//for ($idx=1; $idx<=$hstep; $idx++) $uplevels_going[$idx-1] = 1;

$_ary = explode(",", $revisionRow["hyo_disp_uplevel"]); // ゼロオリジン
$uplevels_tmp = explode("=", @$_ary[$hstep-1]); // ゼロオリジン
$uplevels = explode("-", @$uplevels_tmp[0]); // ゼロオリジン
for ($idx=1; $idx<=$hstep; $idx++) $uplevels[$idx-1] = 1;

$_ttl_rank = explode(",", $revisionRow["ttl_rank"]);
$ttl_rank = array();
$def_rank = "";
foreach ($_ttl_rank as $param) {
	list($rank, $score) = explode(":",$param);
	if (!$rank) continue;
	if (!strlen($score)) $def_rank = $rank;
	$ttl_rank[] = array("rank"=>$rank, "score"=>$score);
}



//**************************************************************************************************
// （ajax）初期表示のロード（評価。最終判定でない場合。）
//**************************************************************************************************
if ($req["ajax_action"]=="toggle_feedback") {
	$empid = $req["empid"];
	$feedback_emprow = $_SESSION["EMPMST_ROW"];
	$feedback_nm = $feedback_emprow['empnm'];
	if (!$empid) { echo "ng更新処理に失敗しました。リクエストが不正です。(empid)"; die; }
	$row = c2dbGetTopRow("select * from ".$cid."_hnv_casts where revid = ".$revid." and empid = ".c2dbStr($empid));
	if (!array_key_exists("empid", $row)) { echo "ng更新処理に失敗しました。(3)"; die; }
	$new_fb = ($row["hyo_feedback"] ? "" : "1");
	$datetime = date( "Y/m/d H:i", time() );
	c2dbExec("update ".$cid."_hnv_casts set hyo_feedback = '".$new_fb."' , hyo_feedback_datetime = '".$datetime."' , hyo_feedback_name = '".$feedback_nm."' where revid = ".$revid." and empid = ".c2dbStr($empid));
	if ($new_fb) echo "\n".$feedback_nm."\n".$datetime;
	else echo "ok2";
	die;
}


//**************************************************************************************************
// （ajax）初期表示のロード（評価。最終判定でない場合。）
//**************************************************************************************************
if ($req["ajax_action"]=="load_default") {
	$isPrint = ($req["view_mode"]=="try_download_fb" ? 1 : "");
	$pbr = ($isPrint ? '' : '<br>');
	if ($isPrint) {
		header("Content-Type: application/vnd.ms-excel");
		header("Content-Disposition: attachment; filename=hnv_fb_".$cid."_".date("Ymd_His").".xls");
		header("Expires: 0");
		header("Cache-Control: must-revalidate, post-check=0,pre-check=0");
		header("Pragma: public");
		$headers = array(
			'<!DOCTYPE html>',
			'<html>',
			'<head>',
			'<meta http-equiv="Content-Type" content="text/html; charset=utf-8">',
			'<style type="text/css">',
			'.b { border:thin solid #000 }',
			'.bh { border:thin solid #000; background-color:#eeeeee }',
			'</style>',
			'</head>',
			'<body>'
		);
		echo implode("\n", $headers);
	}

	$is_listinput = "";
	if (in_array($hstep, explode(",", $revisionRow["hyo_listinput"]))) $is_listinput = 1;

	// ログイン職員が管轄する評価対象職員が、どの評価表を利用しているかを取得する⇒hyoheadRowsへ
	// また、評価表それぞれについて、項目を取得する。項目は横軸になる。
	$_emps = c2dbGetRows("select hyoid from ".$cid."_hnv_casts where revid = ".$revid." and coalesce(is_excluded, '') <> '1' and hyouka".$hstep."_empid = ".c2dbStr($_SESSION["EMPID"])." group by hyoid order by hyoid");
	$hyoheadRows =array();
	$hyonm_list = array();
	$hyobodyAllRows = array();
	foreach ($_emps as $row) {
		if (!$row["hyoid"]) continue;
		$_hrow = c2dbGetTopRow("select * from ".$cid."_hnv_scorehead where revid = ".$revid." and hyoid = ".$row["hyoid"]);
		$hyoheadRows[$_hrow["hyoid"]]= $_hrow;
		if ($_hrow["hyonm"]) $hyonm_list[$row["hyoid"]] = $_hrow["hyonm"];
		$ary = c2dbGetRows("select * from ".$cid."_hnv_scorebody where revid = ".$revid." and hyoid = ".$row["hyoid"]." order by kouid ");
		foreach ($ary as $row2) {
			$hyobodyAllRows[$row["hyoid"]][$row2["kouid"]] = $row2;
		}
	}

	// 関係する全データ取得
	$empsRows = c2dbGetRows("select * from ".$cid."_hnv_casts where revid = ".$revid." and coalesce(is_excluded, '') <> '1' and hyouka".$hstep."_empid = ".c2dbStr($_SESSION["EMPID"])." order by sort_order, empid");
?>


<? if (!$isPrint) { ?><div><? } // ◆◆◆Print ?>

	<? if (!$isPrint) { ?>
		<? if (!$req["arch_load"]) { ?>
		<div class="instruction" style="padding-bottom:0">
			評価可能の場合は「実施状態」列に「要実施」が表示されます。「職員名」ハイパ－リンクを押して評価を行ってください。<br>
			全設問を評価すると「要送信」になります。「入力済を送信する」ボタンを押すと「要送信」が一括送信されます。<br>
			送信後は、「送信済」と表示され、評価を変更することはできなくなります。<br>
			評価実施作業は、送信を実行するまで完了しません。<br>
			<div style="padding-top:5px">
			評価者から被評価者に対し、「フィードバック」を実施した場合、「フィードバック」列のチェックボックスをクリックして「フィードバック実施済」をマークしておくことができます。<br>
			</div>
		</div>
		<? } ?>
		<div style="padding:16px 0">
		<? if (!in_array($req["hstep"], array("1", "2", "3", "4", "5", "6"))) { ?>
			不正な画面呼出しです。(hstep)
		<? } else if (!$revid) { ?>
			評価期間が作成されていません。評価は開始できません。
		<? } else if (!count($hyonm_list)) { ?>
			評価対象職員への評価表が作成されていません。
		<? } else if (!count($hyobodyAllRows)) { ?>
			評価表に設問がありません。
		<? } else { ?>
			<button type="button" class="btn150 btn_save" onclick="trySaveProgress()"<?=BTN_FOCUS_BLUR?>><div>入力済を送信する</div></button>
			<span style="padding-left:50px">
			<button type="button" class="btn150 btn_dl" onclick="tryDownloadFB()"<?=BTN_FOCUS_BLUR?> title="フィードバック用にExcelデータを取得できます。"><div>エクセル出力</div></button>
			</span>
		<? } ?>
		</div>
	<? } // isPrint ?>


	<? foreach ($hyoheadRows as $hyoid => $hyoHead) { ?>
	<?     $hyobodyRows = $hyobodyAllRows[$hyoid]; ?>
	<?     if (!$hyobodyRows) continue; ?>

		<? // 評価表名 ?>
		<div style="font-size:15px; letter-spacing:1px; padding-left:10px;" id="hyohead<?=$hyoid?>" setumonsu="<?=$hyoHead["setumonsu"]?>">
			<? if ($isPrint) { ?><br><br><? } ?>
			■<?=hh($hyonm_list[$hyoid])?>
		</div>

		<? // それぞれの表ごとに、ひとつひとつの設問ごとに、レベルごとの配点がある ?>
		<? if (!$isPrint) { ?>
		<? foreach ($hyobodyRows as $kouid => $hyobodyRow) { ?>
			<? for ($level=1; $level<count($hyo_level); $level++) { ?>
				<input type="hidden" id="haiten_<?=$hyoid?>_<?=$kouid?>_<?=$level?>" value="<?=$hyobodyRow["ten_".$level]?>" />
			<? } ?>
		<? } ?>
		<? } // isPrint ?>

		<? if (!$isPrint) { ?><div style="padding-bottom:10px"><? } // ◆◆◆Print ?>
		<table cellspacing="0" cellpadding="0" style="border-collapse:collapse" class="list_table hover_row_colored">
		<tr style="font-size:12px">
      <? if (!$isPrint) { ?>
      <th rowspan="2" style="width:50px" class="bh">
        エクセル出力対象
        <input type="checkbox" onchange="changeOutput(this.checked);" />
      </th>
      <? } ?>
			<th rowspan="2" style="width:70px" class="bh">職種</th>
			<th rowspan="2" style="width:70px" class="bh"><nobr>所属部署</nobr></th>
			<th rowspan="2" style="width:70px" class="bh"><nobr>所属施設</nobr></th>
			<? if ($bunrui_ext1) { ?><th rowspan="2" style="width:70px" class="bh"><nobr><?=$bunrui_ext1?></nobr></th><? } ?>
			<? if ($bunrui_ext2) { ?><th rowspan="2" style="width:70px" class="bh"><nobr><?=$bunrui_ext2?></nobr></th><? } ?>
			<th rowspan="2" style="width:20px" class="bh">等級</th>
			<th rowspan="2" class="<?=($isPrint?'bh':'corner2')?>" style="width:50px">職員ID</th>
			<th rowspan="2" class="<?=($isPrint?'bh':'corner2')?>" style="width:100px">職員名</th>
			<th colspan="<?=$hyoHead["setumonsu"]?>" style="font-size:11px" class="bh"><nobr><?=$hstep?>次評価　設問別評価レベル<nobr></th>

			<? if ( $is_jiko_hyoka && ($is_finished || (!$is_finished && $uplevels_going_tmp[1])) ) { ?>
			<th colspan="2" style="font-size:11px" class="<?=($isPrint?'bh':'')?>"><nobr>自己評価</nobr></th>
			<? } ?>
			<? for ($idx=1; $idx<=6; $idx++) { ?>
				<? if ( ($is_finished && $uplevels[$idx-1]) || (!$is_finished && $uplevels_going[$idx-1]) ) { ?>
					<th colspan="2" style="font-size:11px" class="<?=($isPrint?'bh':($idx==$hstep?' corner2':''))?>"><nobr><?=$idx?>次評価</nobr></th>
				<? } ?>
			<? } ?>
			<? if ($is_finished && $uplevels_tmp[1]) { ?>
			<th colspan="2" style="font-size:11px" class="<?=($isPrint?'bh':'')?>"><nobr>最終判定</nobr></th>
			<? } ?>

			<th rowspan="2" class="bh"><div style="padding:0 18px"><nobr>実施<?=$pbr?>状態</nobr></div></th>
			<th rowspan="2" class="bh"><div style="padding:0 5px"><nobr>フ<?=$pbr?>ィ<?=$pbr?><?=($isPrint?'ー':'｜')?><?=$pbr?>ド<?=$pbr?>バ<?=$pbr?>ッ<?=$pbr?>ク</nobr></div></th>
		</tr>
		<tr>
      <? for ($setumon=1; $setumon<=$hyoHead["setumonsu"]; $setumon++) {
        $hyobodyRow = $hyobodyRows[$setumon];
        $kouid = $setumon;
        ?>
				<th class="<?=($isPrint?'bh':'w70')?>" style="font-size:11px" id="hyodai_<?=$hyoid?>_<?=$kouid?>"><?=hh($hyobodyRow["kou_title"])?></th>
			<? } ?>
			<? if ( $is_jiko_hyoka && ($is_finished || (!$is_finished && $uplevels_going_tmp[1])) ) { ?>
				<th style="font-size:11px; line-height:1" class="<?=($isPrint?'bh':'')?>">ス<?=$pbr?>コ<?=$pbr?>ア</th>
				<th style="font-size:11px; line-height:1" class="<?=($isPrint?'bh':'')?>">ラ<?=$pbr?>ン<?=$pbr?>ク</th>
			<? } ?>
			<? for ($idx=1; $idx<=6; $idx++) { ?>
				<? if ( ($is_finished && $uplevels[$idx-1]) || (!$is_finished && $uplevels_going[$idx-1]) ) { ?>
				<th style="font-size:11px; line-height:1" class="<?=($isPrint?'bh':($idx==$hstep?' corner2':''))?>">ス<?=$pbr?>コ<?=$pbr?>ア</th>
				<th style="font-size:11px; line-height:1" class="<?=($isPrint?'bh':($idx==$hstep?' corner2':''))?>">ラ<?=$pbr?>ン<?=$pbr?>ク</th>
				<? } ?>
			<? } ?>
			<? if ($is_finished &&  $uplevels_tmp[1]) { ?>
			<th style="font-size:11px; line-height:1" class="<?=($isPrint?'bh':'')?>">ス<?=$pbr?>コ<?=$pbr?>ア</th>
			<th style="font-size:11px; line-height:1" class="<?=($isPrint?'bh':'')?>">ラ<?=$pbr?>ン<?=$pbr?>ク</th>
			<? } ?>
		</tr>

		<? $rIdx = 0; ?>
		<? foreach ($empsRows as $empRow) { ?>
		<?     $rIdx++; ?>
		<?     if ($empRow["hyoid"]!=$hyoid) continue; ?>
		<?
				$progress = (int)$empRow["progress"];
				$html_msg = "";
				$reason = "";
				$editable = "0";
				if ($progress+1>$hstep) {
					$html_msg = '<span style="color:#aaaaaa">送信済</span>';
					$reason = "既に送信済です。保存できません。";
				}
				else if ($progress+1==$hstep) {
					if ($is_listinput) $editable = "1";
					$mijissi = 0;
					for ($col=1; $col<=$hyoHead["setumonsu"]; $col++) {
						if (!$empRow["hyo".$hstep."_".$col]) { $mijissi = 1; break; }
					}
					if ($mijissi) $html_msg = '<span style="color:#ff6600">要実施</span>';
					else {
						$html_msg =
						'<button type="button" class="btn70 you_sousin" style="color:#ff00bb"'.
						' onclick="trySaveProgress(\''.hh($empRow["empid"]).'\')"'.BTN_FOCUS_BLUR.'><div>要送信</div></button>';
					}
				}
				if (!$html_msg) {
					$html_msg = '<span style="padding:0 2px; color:#ffffff; background-color:#aaaaaa">'.($progress+1).'次実施中</span>';
					$reason = ($progress+1)."次評価を実施中です。まだ評価を行うことはできません。";
				}
        $out = ( $isPrint && $req["outputTarget_".$empRow["empid"]] ) ? 1 : 0 ;
        if (!$isPrint || ($isPrint && $out )  ) { // 印刷対象かどうかの判定
		?>
			<tr<?=($editable?' class="editable"':'')?> id="tr<?=$hyoid?>_<?=$rIdx?>">
        <? if (!$isPrint) { ?>
        <td class="b"><input class="outputTarget" name="outputTarget_<?=$empRow["empid"]?>" type="checkbox" /></td>
        <? } ?>
				<td class="b"><nobr><?=hh($empRow["syokusyu"])?></nobr></td>
				<td class="b"><nobr><?=hh($empRow["syozoku"])?></nobr></td>
				<td class="b"><nobr><?=hh($empRow["sisetu"])?></nobr></td>
				<? if ($bunrui_ext1) { ?><td class="b"><nobr><?=hh($empRow["bunrui_ext1"])?></nobr></td><? } ?>
				<? if ($bunrui_ext2) { ?><td class="b"><nobr><?=hh($empRow["bunrui_ext2"])?></nobr></td><? } ?>
        <? if ($isPrint) { ?>
        <td class="b"><nobr>="<?=hh($empRow["toukyu"])?>"</nobr></td>
        <? } else { ?>
        <td class="b"><nobr><?=hh($empRow["toukyu"])?></nobr></td>
        <? } ?>
        <? if ($isPrint) { ?>
        <td class="b"><nobr>="<?=hh($empRow["empid"])?>"</nobr></td>
        <? } else { ?>
        <td class="b"><nobr><?=hh($empRow["empid"])?></nobr></td>
        <? } ?>
				<? if ($isPrint) { ?>
					<td class="b"><nobr><?=hh($empRow["empnm"])?></nobr></td>
				<? } else { ?>
					<td class="b"><nobr><a class="block" href="javascript:void(0)" id="empid<?=$hyoid?>_<?=$rIdx?>" empid="<?=hh($empRow["empid"])?>"
						onclick="loadEditor('<?=hh($reason)?>', this.getAttribute('empid'))"><?=hh($empRow["empnm"])?></a></nobr></td>
				<? } ?>
				<?
					for ($setumon=1; $setumon<=$hyoHead["setumonsu"]; $setumon++) {
						$hlevel = $empRow["hyo".$hstep."_".$setumon];
						$level = $hyo_level[$hlevel];
						if ($level=="") $level = "&nbsp;";
						echo '<td class="'.($isPrint?'b':'listinput').'" unselectable="on" onclick="showListInputPanel('.$hyoid.', '.$rIdx.', this, '.$editable.'); return false;">';
						echo '<div id="divlevel_'.$hyoid.'_'.$rIdx.'_'.$setumon.'" class="listinput_panel1"';
						echo ' def_hyo_level="'.$hlevel.'" hyo_level="'.$hlevel.'">'.$level.'</div>';
						echo '<div class="listinput_panel2" setumon="'.$setumon.'" onclick="stopEvent(event);"></div></td>';
					}
				?>
				<? if ( $is_jiko_hyoka && ($is_finished || (!$is_finished && $uplevels_going_tmp[1])) ) { ?>
					<td class="b" id="tdttl<?=$hyoid?>_<?=$rIdx?>_jiko" style="color:#7777ff"><?=$empRow["jiko_ttl"]?></td>
					<td class="b" id="tdrank<?=$hyoid?>_<?=$rIdx?>_jiko" style="color:#7777ff">
						<?
						$rank = "";
						if (strlen($empRow["jiko_ttl"])) {
							foreach ($ttl_rank as $_rrow) {
								$_rank = $_rrow["rank"];
								$_score = $_rrow["score"];
								if ($_score <= $empRow["jiko_ttl"]) { $rank = $_rank; break; }
							}
							if (!strlen($rank)) $rank = $def_rank;
							echo $rank;
						}
						?>
					</td>
				<? } ?>
				<? for ($step=1; $step<=6; $step++) { ?>
				<!--? if (!$uplevels[$step-1]) continue; ?-->
				<? if ( ($is_finished && $uplevels[$step-1]) || (!$is_finished && $uplevels_going[$step-1]) ) { ?>
				<? //============================ ?>
				<? // スコア                      ?>
				<? //============================ ?>
				<td class="b" id="tdttl<?=$hyoid?>_<?=$rIdx?>_<?=$step?>" style="color:#7777ff"><?=$empRow["hyo".$step."_ttl"]?></td>
				<? //============================ ?>
				<? // 判定・ランク                ?>
				<? //============================ ?>
				<td class="b" id="tdrank<?=$hyoid?>_<?=$rIdx?>_<?=$step?>" >
					<?
					$score = $empRow["hyo".$step."_ttl"];
					$rank = "";
					if (strlen($score)) {
						foreach ($ttl_rank as $_rrow) {
							$_rank = $_rrow["rank"];
							$_score = $_rrow["score"];
							if ($_score <= $score) { $rank = $_rank; break; }
						}
						if (!strlen($rank)) $rank = $def_rank;
					}
					echo $rank;
					?>
				</td>
				<? } ?>
				<? } ?>
				<? if ($is_finished && $uplevels_tmp[1]) {
					$kojin_hyo_step = (int)$empRow["kojin_hyo_step"];
					if (!$kojin_hyo_step) $kojin_hyo_step = $max_hyo_step;
					$last_score = (real)$empRow["hyo".$kojin_hyo_step."_ttl"];
					$adjust = (int)$empRow["adjust"];
					$saisyu_score = $last_score == 0 && $adjust == 0 ? "" :  (string)($last_score + $adjust);
				?>
					<? //============================ ?>
					<? // スコア                      ?>
					<? //============================ ?>
					<td class="b" id="tdttl<?=$hyoid?>_<?=$rIdx?>_saisyu" style="color:#7777ff"><?=$saisyu_score?></td>
					<? //============================ ?>
					<? // 判定・ランク                ?>
					<? //============================ ?>
					<td class="b" id="tdrank<?=$hyoid?>_<?=$rIdx?>_saisyu">
					<?
					$rank = "";
					if (strlen($saisyu_score)) {
						foreach ($ttl_rank as $_rrow) {
							$_rank = $_rrow["rank"];
							$_score = $_rrow["score"];
							if ($_score <= $saisyu_score) { $rank = $_rank; break; }
						}
						if (!strlen($rank)) $rank = $def_rank;
						echo $rank;
					}
					?>
					</td>
				<? } ?>
				<? //============================ ?>
				<? // 実施状態                    ?>
				<? //============================ ?>
				<td class="b" style="padding:0 0 3px 0">
					<div style="height:23px; padding:4px 6px 0 6px" id="jotai<?=$hyoid?>_<?=$rIdx?>"><nobr><?=$html_msg?></nobr></div>
					<span id="btnsave<?=$hyoid?>_<?=$rIdx?>" style="display:none"></span>
				</td>
				<? //============================ ?>
				<? // フィードバック有無              ?>
				<? //============================ ?>
				<td class="b" id="tdfeedback<?=$hyoid?>_<?=$rIdx?>_saisyu" style="padding:0 0 3px 0"
					title="<?=($empRow["hyo_feedback"] ? "フィードバック実施済 \n".$empRow["hyo_feedback_name"]." \n".$empRow["hyo_feedback_datetime"]."" : "フィードバック実施後はチェックしてください。")?>"
				>
        <?
        if ($isPrint) {
          echo $empRow["hyo_feedback"] ? $empRow["hyo_feedback_name"]." ".$empRow["hyo_feedback_datetime"] : "";
        } else {
          echo '<input type="checkbox" onclick="toggleFeedback('.$hyoid.', '.$rIdx.', 0, \''.hh($empRow["empid"]).'\');"  '.($empRow["hyo_feedback"] ? "checked" : "").' />';
        }
        ?>
				</td>
			</tr>
		<?
        }
      }
    ?>
		</table>
		<? if (!$isPrint) { ?></div><? } // ◆◆◆Print ?>
	<? } ?>

<? if (!$isPrint) { ?></div><? } // ◆◆◆Print ?>
<? if (!$isPrint) echo '<iframe id="outputfile" style="display:none;width:0;height:0;" />'; ?>

<?
	if ($isPrint) echo '</body></html>';
	die;
} // end of load_default





//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
echoStaticHtml();
?>
</head>
<body onload="loadInit()">
<script type="text/javascript">
	//**********************************************************************************************
	// 変数・定数
	//**********************************************************************************************
	var scTop = 0;
	var levels = <?=c2ToJson($hyo_level)?>;
	levels[0] = "&nbsp;";
	var ttl_rank = <?=c2ToJson($ttl_rank)?>;
	var def_rank = ttl_rank[ttl_rank.length-1].rank;
	for (var idx=0; idx<ttl_rank.length-1; idx++) {
		ttl_rank[idx].int_score = int(ttl_rank[idx].score);
		ttl_rank[idx].def_int_score = int(ttl_rank[idx].score);
	}

	//**********************************************************************************************
	//
	//**********************************************************************************************
	function loadInit() {
		if ("<?=$req["arch_load"]?>"=="load_editor") {
			loadEditor("", "<?=hh($req["empid"])?>", "<?=$req["arch_load"]?>", "<?=(int)$req["arch_revid"]?>");
			return;
		}
		$.ajax({url:"jissi.html?ajax_action=load_default&hstep=<?=$hstep?>", success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
			ee("div_list").innerHTML = msg;
		}});
	}

	//**********************************************************************************************
	//
	//**********************************************************************************************
	function tryDownloadFB() {
    var emps = $('input.outputTarget').serialize();
    if (emps === '') {
      alert('出力対象が選択されていません。');
      return;
    }
    $('#outputfile').attr('src',"jissi.html?ajax_action=load_default&view_mode=try_download_fb&empid=<?=hh($req["empid"])?>&hstep=<?=$hstep?>&"+emps);
//		window.open("jissi.html?ajax_action=load_default&view_mode=try_download_fb&empid=<?=hh($req["empid"])?>&hstep=<?=$hstep?>&"+emps,"", "width=100,height=100");
	}
	//**********************************************************************************************
	//
	//**********************************************************************************************
	function popupArchive(ajax_mode, empid) {
		var param = "&hstep=<?=$hstep?>&empid="+encodeURIComponent(empid)+"&arch_revid=<?=$revid?>";
		window.open("jissi.html?arch_load="+ajax_mode+param, "hnv_archive_window", "width=930,height=600,scrollbars=yes");
	}
	function popupJiko(empid) {
		var param = "empid="+encodeURIComponent(empid);
		window.open("jikohyoka.html?"+param, "hnv_jiko_window", "width=930,height=600,scrollbars=yes");
	}

	//**********************************************************************************************
	//
	//**********************************************************************************************
	function toggleFeedback(hyoid, rIdx, hstep, empid) {
		$.ajax({url:"jissi.html?ajax_action=toggle_feedback&empid="+encodeURIComponent(empid), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
			var elem = ee("tdfeedback"+hyoid+"_"+rIdx+"_saisyu");
			if (elem) {
				elem.setAttribute("title", (msg !== "ok2" ? "フィードバック実施済 "+msg : "フィードバック実施後はチェックしてください。"));
			}
		}});
	}

	//**********************************************************************************************
	//
	//**********************************************************************************************
	var curRow = "";
	var curTR = 0;
	function showListInputPanel(hyoid, rIdx, td, editable) {
    var is_finished = <?=$is_finished?'"finish"':'"going"'?>;
    if (is_finished === 'finish') {
      return;
    }
		if (curTR) {
			$(curTR).find("div.listinput_panel2").each(function(){
				this.innerHTML = ''; this.style.display = 'none';
			});
		}
		if (curRow && curRow==rIdx) { curRow = 0; return; }
		curTR = td.parentNode;
		curRow = rIdx;
		$(curTR).find("div.listinput_panel2").each(function(){
			var setumon = this.getAttribute("setumon");

			var hyodai = ee("hyodai_"+hyoid+"_"+setumon).innerHTML.substring(0,3);
			var cont = ['<div style="font-size:11px; color:#51650a; background-color:#caea48">'+hyodai+'</div>'];
			var hyo_level = ee("divlevel_"+hyoid+"_"+rIdx+"_"+setumon).getAttribute("hyo_level");
			var def_hyo_level = ee("divlevel_"+hyoid+"_"+rIdx+"_"+setumon).getAttribute("def_hyo_level");
			if (editable) {
				for (var level = 0; level < levels.length; level++) {
					var tag =
					'<a href="javascript:void(0)"'+
					(def_hyo_level==level ? ' class="'+'level_selected'+'"' : "")+
					' onclick="stopEvent(event);applyLevel('+hyoid+', \''+rIdx+'\', \''+setumon+'\', \''+level+'\'); return false;">'+
					levels[level]+'</a>';
					cont.push(tag);
				}
			}
			this.innerHTML = '<div style="background-color:#ffffff; border:1px solid #caea48;'+(editable?' padding-bottom:4px':'')+'">'+cont.join("\n")+"</div>";
			this.style.display = 'block';
		});
	}
	//**********************************************************************************************
	//
	//**********************************************************************************************
	function applyLevel(hyoid, rIdx, setumon, level) {
		level = int(level);
		var setumonsu = int(ee("hyohead"+hyoid).getAttribute("setumonsu"));
		var divLevel = ee("divlevel_"+hyoid+"_"+rIdx+"_"+setumon);
		divLevel.innerHTML = levels[level];
		divLevel.setAttribute("hyo_level", level);
		var ttl = 0;
		var isDiff = 0;
		for (var sIdx=1; sIdx<=setumonsu; sIdx++) {
			var _divLevel = ee("divlevel_"+hyoid+"_"+rIdx+"_"+sIdx);
			var hlevel = int(_divLevel.getAttribute("hyo_level"));
			var elem = ee("haiten_"+hyoid+"_"+sIdx+"_"+hlevel);
			_divLevel.className = "listinput_panel1";
			if (elem) {
				var haiten = int(elem.value);
				ttl += haiten;
			}
			var def_hyo_level = int(_divLevel.getAttribute("def_hyo_level"));
			if (def_hyo_level!=hlevel) {
				isDiff = 1;
				_divLevel.className = "listinput_panel1 level_changed";
			}
		}

		if (!isDiff) {
			ee("jotai"+hyoid+"_"+rIdx).style.display = "";
			ee("btnsave"+hyoid+"_"+rIdx).style.display = "none";
		} else {
			ee("btnsave"+hyoid+"_"+rIdx).innerHTML =
			'<button type="button" class="btn70 btn_save" onclick="trySaveList(\''+hyoid+'\',\''+rIdx+'\')"<?=BTN_FOCUS_BLUR2?>><div>保存</div></button>';
			ee("btnsave"+hyoid+"_"+rIdx).style.display = "";
			ee("jotai"+hyoid+"_"+rIdx).style.display = "none";
		}

		ee("tdttl"+hyoid+"_"+rIdx+"_<?=$hstep?>").innerHTML = ttl;
		var rank = "";
		for (var rankIdx = 0; rankIdx < ttl_rank.length; rankIdx++) {
			var _rank = ttl_rank[rankIdx].rank;
			var _score = ttl_rank[rankIdx].score;
			if (_score <= ttl) { rank = _rank; break; }
		}
		if (!rank) rank = "<?=$def_rank?>";
		ee("tdrank"+hyoid+"_"+rIdx+"_<?=$hstep?>").innerHTML = rank;
	}
	//**********************************************************************************************
	//
	//**********************************************************************************************
	function loadEditor(reason, empid, arch_load, arch_revid) {
		scTop = getWindowScrollTop(window);
		if (!arch_load) arch_load = "";
		if (!arch_revid) arch_revid = "";
		var param = "&hstep=<?=$hstep?>&arch_load="+arch_load+"&arch_revid="+arch_revid+"&empid="+encodeURIComponent(empid);
		$.ajax({url:"hyouka.html?ajax_action=load_editor"+param, success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
			ee("div_list").style.display = "none";
			ee("div_editor").innerHTML = msg;
			if (ee("div_msg_save")) {
				ee("div_msg_save").innerHTML = reason;
				if (reason) ee("div_msg_save").style.display = (reason ? "block" : "none");
				if (ee("div_btn_save1")) ee("div_btn_save1").style.display = (reason ? "none": "");
			}
			if (ee("head_jissi_cancel")) ee("head_jissi_cancel").style.display = "";
			window.scrollTo(0, 0);
      if (arch_load && arch_revid === '<?=$revid?>') {
        $('#select_arch_rev').trigger('change');
      }
		}});
	}
	//**********************************************************************************************
	//
	//**********************************************************************************************
	function closeEditor() {
		ee("div_editor").innerHTML = "";
		ee("div_list").style.display = "";
		ee("head_jissi_cancel").style.display = "none";
		window.scrollTo(0, scTop);
	}
	//**********************************************************************************************
	//
	//**********************************************************************************************
	function trySaveProgress(empid) {
    var is_active_span = "<?=$is_active_span?'true':'false'?>";
    if (is_active_span === 'false') {
      alert("評価実施期間外のため、送信できません。");
      return;
    }
		scTop = getWindowScrollTop(window);
		if (!empid) empid = "";
		if (!empid) {
      var cnt = 0;
			$("button.you_sousin").each(function(){
			cnt++;
			});
			if (!cnt) { alert("送信できる評価はありません。"); return; }
		} else {
      var cnt = 1;
    }
		if (!confirm(cnt+"件の入力済を送信します。よろしいですか？")) return;

		$.ajax({url:"hyouka.html?ajax_action=try_save_progress&hstep=<?=$hstep?>&empid="+encodeURIComponent(empid), data:$(document.frm_editor).serialize(), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
			loadInit();
			closeEditor();
		}});
	}
	//**********************************************************************************************
	//
	//**********************************************************************************************
	function tryClearPrev(progress, empid) {
		if (!confirm(progress+"次評価を未送信に戻します。\n"+progress+"次評価結果と"+progress+"次コメントはクリアされません。\n\n差戻しを実行してよろしいですか？")) return;
		$.ajax({url:"hyouka.html?ajax_action=try_clear_prev&hstep=<?=$hstep?>&empid="+encodeURIComponent(empid), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
			loadInit();
			closeEditor();
		}});
	}
	//**********************************************************************************************
	//
	//**********************************************************************************************
	function copyPrev() {
		for (var row=1; row<=50; row++) {
			var hdn = ee("hyo<?=$hstep?>_"+row);
			if (!hdn) break;
			var vv = hdn.value;
			var td = ee("r_"+row+"_c_"+vv);
			if (td) td.className = "no_selected";

			vv = ee("hyo<?=$hstep-1?>_"+row).value;
			ee("hyo<?=$hstep?>_"+row).value = vv;
			var td = ee("r_"+row+"_c_"+vv);
			if (td) td.className = "is_selected";
			ee("ttl<?=$hstep?>_"+row).innerHTML = ee("ttl<?=$hstep-1?>_"+row).innerHTML;
			ee("ttl<?=$hstep?>_"+row).style.backgroundColor = "#ffccee";
		}
	}
	//**********************************************************************************************
	//
	//**********************************************************************************************
	function boxClicked(td) {
		var ids = td.id.split("_");
		var row = ids[1];
		var col = ids[3];
		if (td.className=="is_selected") {
			ee("ttl<?=$hstep?>_"+row).innerHTML = "";
			ee("ttl<?=$hstep?>_"+row).style.backgroundColor = "#ffffff";
			ee("hyo<?=$hstep?>_"+row).value = "";
			td.className = "no_selected";
			return;
		}

		var _col = ee("hyo<?=$hstep?>_"+row).value;

		if (_col && ee("r_"+row+"_c_"+_col)) ee("r_"+row+"_c_"+_col).className = "";
		td.className = "is_selected";
		ee("hyo<?=$hstep?>_"+row).value = col;
		ee("ttl<?=$hstep?>_"+row).innerHTML = ee("head_"+col).innerHTML;
		ee("ttl<?=$hstep?>_"+row).style.backgroundColor = "#ffccee";
	}
	//**********************************************************************************************
	//
	//**********************************************************************************************
	function trySaveList(hyoid, rIdx) {
		var empid = ee("empid"+hyoid+"_"+rIdx).getAttribute("empid");
		if (!confirm("保存します。よろしいですか？")) return;
		var param = "&hstep=<?=$hstep?>&empid="+encodeURIComponent(empid);
		var setumonsu = int(ee("hyohead"+hyoid).getAttribute("setumonsu"));
		for (var setumon=1; setumon<=setumonsu; setumon++) {
			param += "&hyo<?=$hstep?>_"+setumon+"="+ee("divlevel_"+hyoid+"_"+rIdx+"_"+setumon).getAttribute("hyo_level");
		}
		$.ajax({url:"hyouka.html?ajax_action=try_save_editor&call_from_list=1"+param, success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg, TYPE_JSON); if (ret==AJAX_ERROR) return;
			var is_complete = 1;
			for (var setumon=1; setumon<=setumonsu; setumon++) {
				var level = int(ret["hyo<?=$hstep?>_"+setumon]);
				ee("divlevel_"+hyoid+"_"+rIdx+"_"+setumon).setAttribute("def_hyo_level", level);
				applyLevel(hyoid, rIdx, setumon, level);
				if (!ret["hyo<?=$hstep?>_"+setumon].length) is_complete = 0;
			}
			var tr = ee("tr"+hyoid+"_"+rIdx);
			$(tr).find("div.listinput_panel2").each(function(){
				this.innerHTML = ''; this.style.display = 'none';
			});
			if (curRow && curRow==rIdx) curRow = 0;
			ee("jotai"+hyoid+"_"+rIdx).style.display = "";
			ee("btnsave"+hyoid+"_"+rIdx).style.display = "none";
			if (is_complete) {
				ee("jotai"+hyoid+"_"+rIdx).innerHTML =
				'<button type="button" class="btn70 you_sousin" style="color:#ff00bb"'+
				' onclick="trySaveProgress(\''+empid+'\')"<?=BTN_FOCUS_BLUR2?>><div>要送信</div></button>';
			} else ee("jotai"+hyoid+"_"+rIdx).innerHTML = '<nobr><span style="color:#ff6600">要実施</span></nobr>';
		}});
	}
	//**********************************************************************************************
	//
	//**********************************************************************************************
	function trySaveEditor(empid) {
		var setumonsu = int(document.frm_editor.setumonsu.value);

		var isEmptyExist = "";
		for (var row=1; row<=setumonsu; row++) {
			if (!trim(ee("hyo<?=$hstep?>_"+row).value)) isEmptyExist=1;
		}
		if (isEmptyExist) {
			if (!confirm("まだすべての評価が行われていませんが、保存してよろしいですか？")) return;
		} else {
			if (!confirm("保存します。よろしいですか？\n\n※保存後も、送信を行うまでは修正が可能です。")) return;
		}

		var surl = "hyouka.html?ajax_action=try_save_editor&hstep=<?=$hstep?>&empid="+encodeURIComponent(empid);
		$.ajax({url:surl, data:$(document.frm_editor).serialize(), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
			loadInit();
			closeEditor();
		}});
	}
	function trySaveComment(empid) {
		var surl = "hyouka.html?ajax_action=try_save_comment&empid="+encodeURIComponent(empid);
		$.ajax({url:surl, data:$(document.frm_editor).serialize(), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
			loadInit();
			closeEditor();
		}});
	}
  function changeOutput (checked) {
    $('input.outputTarget').prop('checked',checked);
  }
</script>
<? echoMenuLinks(0); ?>

	<div id="content_all">

		<table cellspacing="0" cellpadding="0"><tr>
		<td>
			<? if ($req["arch_load"]) { ?>
			<div id="main_title2" title="＠評価実施履歴" style="width:250px;"><h2 class="main_title">＠評価実施履歴</h2></div>
			<? } else { ?>
			<div id="main_title2" title="＠<?=$hstep?>次評価実施" style="width:250px;"><h2 class="main_title ">＠<?=$hstep?>次評価実施</h2></div>
			<? } ?>
		</td>
		</tr></table>

		<div>
			<div id="div_list"></div>
			<div id="div_editor"></div>
		</div>
	</div><!-- // content_all -->
</body>
</html>
