<?
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// テンプレート画面
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
require_once("common.php");

//******************************************************************************
// セッション・リクエスト判定
//******************************************************************************
if (!$_SESSION["CID"]) c2SessionErrorAndDie(); // 未ログインなら、ログインページへ




//**************************************************************************************************
// （ajax）通常画面用 初期表示のロード
//**************************************************************************************************
if ($req["ajax_action"]=="load_publish") {
?>
  <div id="main_title2" title="＠サイトからのお知らせ" style="width:250px;"><h2 class="main_title">＠サイトからのお知らせ</h2></div>
	<? if ($_SESSION["SUPER_CID"]) { ?>
	<div style="position:absolute; left:300px; top:13px">
		<a href="messages.html?view_mode=admin"<?=BTN_FOCUS_BLUR?>>→ スーパークライアントメンテナンス</a>
	</div>
	<? } ?>
	<div style="padding-top:20px">
<?
	$sql =
	" select * from hnv_messages".
	" where publish_mode = 'GLOBAL'".
	" ".($_SESSION["SUPER_CID"] ? " or publish_mode = 'TESTING'" : "").
	" ".(($_SESSION["EMPMST_ROW"]["is_admin"]||$_SESSION["SUPER_CID"]) ? " or publish_mode = 'ADMIN'" : "").
	" order by sort_order, msg_seq desc";
	$messagesRows = c2dbGetRows($sql);
	foreach ($messagesRows as $row) {
?>
	<div style="background:url(img/messages_bk.gif) bottom">
		<table cellspacing="0" cellpadding="0" class="width100">
			<tr>
				<td class="left" style="line-height:20px; padding:10px"><span style="font-size:14px; color:#884400"><?=str_replace("\n", "<br>", $row["msg_title"])?></span></td>
				<? if ($row["msg_ymd"]) { ?>
				<td class="right middle" style="padding-right:10px"><span style="padding-left:30px; color:#95a8db; font-size:12px">◆ <?=hh($row["msg_ymd"])?> ◆</span></td>
				<? } ?>
			</tr>
		</table>
	</div>
	<div style="padding:10px 0 20px 10px; line-height:1.5"><?=str_replace("\n", "<br>", $row["msg_html"])?></div>
<?
	}
	echo '</div>';
	die;
} // end of load_admin





//**************************************************************************************************
// （ajax）テンプレートの削除
//**************************************************************************************************
if ($req["ajax_action"]=="try_delete") {
	if (!$_SESSION["SUPER_CID"]) c2AuthErrorAndDie(); // スーパークライアントでない。インデックスページへ。
	c2dbExec("delete from hnv_messages where msg_seq = ".c2dbStr($req["msg_seq"]));
	echo "ok";
	die;
}




//**************************************************************************************************
// （ajax）ファイルにまつわる内容を更新する
//**************************************************************************************************
if ($req["ajax_action"]=="try_save") {
	if (!$_SESSION["SUPER_CID"]) c2AuthErrorAndDie(); // スーパークライアントでない。インデックスページへ。
	$err = array();
	if (!trim($req["msg_title"])) $err[]= "タイトルHTMLを指定してください。";
	if (!trim($req["msg_html"])) $err[]= "説明文HTMLを指定してください。";
	if (count($err)) { echo implode("\n", $err); die; }
	$msg_seq = (int)$req["msg_seq"];
	if ($msg_seq) {
		$sql =
		" update hnv_messages set".
		" msg_place = ".c2dbStr($req["msg_place"]).
		",msg_title = ".c2dbStr($req["msg_title"]).
		",msg_ymd = ".c2dbStr($req["msg_ymd"]).
		",msg_html = ".c2dbStr($req["msg_html"]).
		",publish_mode = ".c2dbStr($req["publish_mode"]).
		",sort_order = ".c2dbStr($req["sort_order"]).
		",is_new = ".c2dbStr($req["is_new"]).
		" where msg_seq = ".$msg_seq;
	} else {
		$msg_seq = 1 + c2dbGetOne("select max(msg_seq) from hnv_messages");
		$sql =
		" insert into hnv_messages ( msg_seq, msg_place, msg_title, msg_ymd, msg_html, publish_mode, sort_order, is_new ) values (".
		" ".$msg_seq.
		",".c2dbStr($req["msg_place"]).
		",".c2dbStr($req["msg_title"]).
		",".c2dbStr($req["msg_ymd"]).
		",".c2dbStr($req["msg_html"]).
		",".c2dbStr($req["publish_mode"]).
		",".c2dbStr($req["sort_order"]).
		",".c2dbStr($req["is_new"]).
		")";
	}
	c2dbExec($sql);
	echo "ok";
	die;
}




//**************************************************************************************************
// （ajax）編集パネルのロード
//**************************************************************************************************
if ($req["ajax_action"]=="load_editor") {
	if (!$_SESSION["SUPER_CID"]) c2AuthErrorAndDie(); // スーパークライアントでない。インデックスページへ。
	$messagesRow = c2dbGetTopRow("select * from hnv_messages where msg_seq = ".(int)$req["msg_seq"]);
?>
<div style="padding:4px">
	<button type="button" class="btn130 btn_cancel" onclick="closeEditor()"<?=BTN_FOCUS_BLUR?>><div>編集一覧へ戻る</div></button>
	<button type="button" class="btn70 btn_save" onclick="trySave()"<?=BTN_FOCUS_BLUR?>><div>保存</div></button>
	<? if ($req["msg_seq"]) { ?>
	<button type="button" class="btn70 btn_delete" style="margin-left:50px" onclick="tryDelete('<?=hh($messagesRow["msg_seq"])?>')"<?=BTN_FOCUS_BLUR?>><div>削除</div></button>
	<? } ?>
</div>
<div>
	<form id="frm" name="frm">
		<input type="hidden" name="msg_seq" value="<?=hh($messagesRow["msg_seq"])?>" />
		<div><?=hh($errormsg)?></div>
		<table cellspacing="0" cellpadding="0" class="list_table prop_table">
		<tr>
			<th>お知らせID</th>
			<td style="height:25px">
				<?
				if ($messagesRow["msg_seq"]) echo '<div style="border:1px solid #cccccc; width:60px; padding:4px">'.$messagesRow["msg_seq"].'</div>';
				else echo '（登録後に自動採番）';
				?>
				<input type="hidden" name="msg_seq" value="<?=$messagesRow["msg_seq"]?>" />
				<div style="padding-top:2px">
				<span class="instruction">内部管理IDです。クライアントには見えません。</span>
				</div>
			</td>
		</tr>
		<tr>
			<th>お知らせ年月日</th>
			<td>
				<input tyep="text" class="text imeoff w150" name="msg_ymd" id="msg_ymd" value="<?=hh($messagesRow["msg_ymd"])?>" />
				<button type="button" class="btn60" onclick="setToday('msg_ymd');"<?=BTN_FOCUS_BLUR?>><div>本日</div></button>
				<div style="padding-top:2px">
				<span class="instruction">通常は「年/月/日」形式ですが、必ず日付である必要はありません。空欄にすることもできます。</span>
				</div>
			</td>
		</tr>
		<tr>
			<th>タイトルHTML</th>
			<td>
				<textarea name="msg_title" cols="70" rows="1" style="width:500px; height:40px"><?=hh($messagesRow["msg_title"])?></textarea>
				<div style="padding-top:2px">
				<span class="instruction">必須入力です。複数行可能です。HTML形式です。リンクなども記述できます。</span><br>
				<span class="instruction">「新着状態」指定にしてトップページに表示する場合、全文が公開されます。</span>
				</div>
			</td>
		</tr>
		<tr>
			<th>説明文HTML</th>
			<td>
				<textarea name="msg_html" cols="70" rows="5" style="width:500px"><?=hh($messagesRow["msg_html"])?></textarea>
				<div style="padding-top:2px">
				<span class="instruction">必須入力です。複数行可能です。HTML形式です。リンクなども記述できます。</span><br>
				<span class="instruction">「新着状態」指定にしてトップページに表示する場合、全文が公開されます。</span>
				</div>
			</td>
		</tr>
		<tr>
			<th>新着状態</th>
			<td>
				<select name="is_new">
					<option value=""></option>
					<option value="1"<?=($messagesRow["is_new"]?" selected":"")?>>新着状態にする（トップページに表示されます）</option>
				</select>
				<div style="padding-top:2px">
				<span class="instruction">「過去のお知らせ」一覧には、新着状態にかかわらず、全てのお知らせが表示されます。</span><br>
				<span class="instruction">トップページへの「新着」公開数には制限がありません。新着状態とするお知らせの数を調整ください。</span>
				</div>
			 </td>
		</tr>
		<tr>
			<th>公開状態</th>
			<td>
				<select name="publish_mode">
					<option value="">非公開</option>
					<option value="TESTING"<?=($messagesRow["publish_mode"]=="TESTING"?" selected":"")?>>スーパークライアント</option>
					<option value="ADMIN"<?=($messagesRow["publish_mode"]=="ADMIN"?" selected":"")?>>スーパークライアント・管理者</option>
					<option value="GLOBAL"<?=($messagesRow["publish_mode"]=="GLOBAL"?" selected":"")?>>スーパークライアント・管理者・評価者</option>
				</select>
				<div style="padding-top:2px">
				<span class="instruction">「スーパークライアントのみ閲覧」は、試験的に公開したい場合に利用してください。</span>
				</div>
			 </td>
		</tr>
		<tr>
			<th>表示順</th>
			<td>
				<input type="text" class="text w100 imeoff" name="sort_order" maxlength="10" value="<?=hh($messagesRow["sort_order"])?>" />
				<div style="padding-top:2px">
				<span class="instruction">自由かつ適当なコードを指定可能です。</span><br>
				<span class="instruction">文字コード順で画面に並べられます。例えば「B01」より「A04」が先に表示され、「9」より「10」（イチゼロ）が先に表示されることになります。</span>
				</div>
			</td>
		</tr>
		</table>
	</form>
</div>

<?
	die;
} // end of load_editor



//**************************************************************************************************
// （ajax）管理画面用 初期表示のロード
//**************************************************************************************************
if ($req["ajax_action"]=="load_admin") {
  if (!$_SESSION["SUPER_CID"]) c2AuthErrorAndDie(); // スーパークライアントでない。インデックスページへ
	$messagesRows = c2dbGetRows("select * from hnv_messages order by sort_order, msg_seq desc");
?>
	<div style="padding:4px">
		<button type="button" class="btn100 btn_new" onclick="loadEditor()"<?=BTN_FOCUS_BLUR?>><div>新規作成</div></button>
	</div>
	<? if (count($messagesRows)) { ?>
		<table cellspacing="0" cellpadding="0" class="list_table">
		<tr>
			<th class="corner2">編集</th>
			<th>お知らせID</th>
			<th>新着状態</th>
			<th>公開状態</th>
			<th>タイトル</th>
			<th>お知らせ年月日</th>
			<th>表示順</th>
		</tr>
		<? foreach ($messagesRows as $row) { ?>
		<tr>
			<td><button type="button btn_edit" onclick="loadEditor('<?=$row["msg_seq"]?>')" class="btn60"<?=BTN_FOCUS_BLUR?>>編集</button></td>
			<td><?=$row["msg_seq"]?></td>
			<td>
				<?
					if ($row["is_new"]) echo "新着";
				?>
			</td>
			<td>
				<?
					if ($row["publish_mode"]=="GLOBAL") echo "スーパークライアント・管理者・評価者";
					else if ($row["publish_mode"]=="ADMIN")  echo "スーパークライアント・管理者";
					else if ($row["publish_mode"]=="TESTING")  echo "スーパークライアント";
					else echo "非公開";
				?>
			</td>
			<td><?=hh($row["msg_title"])?></td>
			<td><?=hh($row["msg_ymd"])?></td>
			<td><?=hh($row["sort_order"])?></td>
		</tr>
		<? } ?>
		</table>
	<? } ?>
<?
	die;
} // end of load_admin



//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
echoStaticHtml();
?>
</head>
<body spellcheck="false" onload="loadInit()">
<script type="text/javascript">
	var scTop = 0;
	var viewMode = "<?=($req["view_mode"]=="admin" ? 'admin' : 'publish')?>";
	var divName = "<?=($req["view_mode"]=="admin" ? 'div_admin' : 'div_publish')?>";
	function loadInit() {
		<? if ($uploadError) { ?>
			ee(divName).style.display = "none";
			ee("div_uploader").style.display = "";
		<? } ?>
		ee("div_admin_header").style.display = (viewMode=="admin"?"":"none");
		$.ajax({url:"messages.html?ajax_action=load_"+viewMode, success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
			ee(divName).innerHTML = msg;
		}});
	}
	function loadEditor(msg_seq) {
		scTop = getWindowScrollTop(window);
		$.ajax({url:"messages.html?ajax_action=load_editor&msg_seq="+encodeURIComponent(msg_seq), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
			ee(divName).style.display = "none";
			ee("div_editor").innerHTML = msg;
			tryFocus('tmplnm');
			window.scrollTo(0, 0);
		}});
	}
	function loadUploader() {
		scTop = getWindowScrollTop(window);
		ee(divName).style.display = "none";
		ee("div_uploader").style.display = "";
		window.scrollTo(0, 0);
	}
	function closeEditor() {
		ee("div_editor").innerHTML = "";
		ee(divName).style.display = "";
		ee("div_uploader").style.display = "none";
		window.scrollTo(0, scTop);
	}
	function tryDelete(msg_seq) {
		if (!confirm("削除します。よろしいですか？")) return;
		$.ajax({url:"messages.html?ajax_action=try_delete&msg_seq="+encodeURIComponent(msg_seq), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
			loadInit();
			closeEditor();
		}});
	}
	function trySave() {
		if (!confirm("保存します。よろしいですか？")) return;
		$.ajax({url:"messages.html?ajax_action=try_save", data:$(document.frm).serialize(), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
			loadInit();
			closeEditor();
		}});
	}
	function setToday(divId) {
		var dd = new Date();
		var now = dd.getFullYear() + "/" +
		("0"+(dd.getMonth()+1)).slice(-2) + "/" +
		("0"+dd.getDate()).slice(-2);
		ee(divId).value = now;
	}
</script>
<? echoMenuLinks(0); ?>
<div id="content_all">
	<div>
		<div id="div_publish"></div>
		<div id="div_admin_header" style="display:none">
      <div id="main_title2" title="＠サイトからのお知らせ" style="width:250px;"><h2 class="main_title">＠サイトからのお知らせ</h2></div>
			<div style="position:absolute; left:300px; top:8px">
				<button type="button" class="btn130 btn_cancel" onclick="window.location.href='messages.html';"<?=BTN_FOCUS_BLUR?>><div>公開一覧へ戻る</div></button>
			</div>
			<div class="instruction" style="padding-top:10px">
				ここから「サイトからのお知らせ」の登録・編集・削除が行えます。<br>
				「サイトからのお知らせ」は、全クライアントに対し、一律提供されます。<br>
				「全クライアントへ公開」がひとつ以上指定されると、クライアントへの公開が行われます。<br>
				<span style="color:red">この機能へは、mssログインまたはnkログイン（スーパークライアント）でのみアクセス可能です。</span>
			</div>
		</div>
		<div id="div_admin"></div>
		<div id="div_editor"></div>
	</div>
</div><!-- // content_all -->
</body>
</html>
