<?
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// 評価実施画面
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
require_once("common.php");

//******************************************************************************
// セッション・リクエスト判定
//******************************************************************************
if (!$_SESSION["CID"]) c2SessionErrorAndDie(); // 未ログインなら、ログインページへ
$cid = $_SESSION["CID"]; // 顧客ID
$revid = (int)$_SESSION["REVID_MBO"];
$today = date("Y/m/d");

$revisionRow = c2dbGetTopRow("select * from ".$cid."_hnv_revisions_mbo where revid = ".$revid);
$challenge_level = $revisionRow['challenge_level'];
$challenge_degrees = explode(',',$revisionRow['challenge_degrees']);
$challenge_marks = explode(',',$revisionRow['challenge_marks']);

$bunrui_ext1 = hh(trim($_SESSION["CLIENT_ROW"]["bunrui_ext1"]));
$bunrui_ext2 = hh(trim($_SESSION["CLIENT_ROW"]["bunrui_ext2"]));

$hstep = (int)$req["hstep"];
if (!in_array($hstep, array(1,2,3,4,5,6,9))) $hstep = 1;
$max_hstep = $hstep;

$max_hyo_step = $revisionRow["hyo_step"];
$is_finished = $revisionRow["is_finished"];
$is_self_hyoka = $revisionRow["is_self_hyoka"];
$is_active_span = (strtotime($today) >= strtotime($revisionRow['mokuhyo_start_ymd']) && strtotime($today) <= strtotime($revisionRow['mokuhyo_end_ymd'])) ? true : false;
if (!$is_active_span) $is_finished = true;


//**************************************************************************************************
// （ajax）初期表示のロード（評価。最終判定でない場合。）
//**************************************************************************************************
if ($req["ajax_action"]=="load_default") {
  // 関係する全データ取得
  $empsRows = c2dbGetRows("select * from ".$cid."_hnv_casts_mbo where revid = ".$revid." and coalesce(is_excluded, '') <> '1' and mokuhyo".$hstep."_empid = ".c2dbStr($_SESSION["EMPID"])." order by sort_order, empid");
?>

    <? if (!$req["arch_load"]) { ?>
    <div class="instruction" style="padding-bottom:0">
      承認可能の場合は「実施状態」列に「要実施」が表示されます。「職員名」ハイパ－リンクを押して承認を行ってください。<br>
    </div>
    <? } ?>
    <div style="padding:16px 0">
    <? if (!in_array($req["hstep"], array("1", "2", "3", "4", "5", "6"))) { ?>
      不正な画面呼出しです。(hstep)
    <? } else if (!$revid) { ?>
      評価期間が作成されていません。評価は開始できません。
    <? } ?>
    </div>

    <table cellspacing="0" cellpadding="0" style="border-collapse:collapse" class="list_table_mbo hover_row_colored">
    <tr style="font-size:12px">
      <th style="width:70px" class="bh">職種</th>
      <th style="width:70px" class="bh"><nobr>所属部署</nobr></th>
      <th style="width:70px" class="bh"><nobr>所属施設</nobr></th>
      <? if ($bunrui_ext1) { ?><th style="width:70px" class="bh"><nobr><?=$bunrui_ext1?></nobr></th><? } ?>
      <? if ($bunrui_ext2) { ?><th style="width:70px" class="bh"><nobr><?=$bunrui_ext2?></nobr></th><? } ?>
      <th style="width:10px" class="bh">等級</th>
      <th class="<?=($isPrint?'bh':'corner2')?>" style="width:50px">職員ID</th>
      <th class="<?=($isPrint?'bh':'corner2')?>" style="width:100px">職員名</th>
      <th class="bh"><div style="padding:0 18px"><nobr>承認<?=$pbr?>状態</nobr></div></th>
    </tr>

    <? $rIdx = 0; ?>
    <? foreach ($empsRows as $empRow) { ?>
    <?     $rIdx++; ?>
    <?
        $progress = (int)$empRow["progress_mokuhyo"];
        $html_msg = "";
        $reason = "";
        $editable = "0";
        if ($progress>$hstep) {
          $html_msg = '<span style="color:#aaaaaa">承認済</span>';
          $reason = "既に承認済です。保存できません。";
        } else if ($progress==$hstep) {
          $html_msg = '<span style="color:#ff6600">要実施</span>';
        }
        if (!$html_msg) {
          $text = ($progress > 0) ? ($progress).'次実施中' : '目標設定前' ;
          $html_msg = '<span style="padding:0 2px; color:#ffffff; background-color:#aaaaaa">'.$text.'</span>';
          $reason = ($progress)."次承認を実施中です。まだ承認を行うことはできません。";
        }
    ?>
      <tr id="tr_<?=$rIdx?>">
        <td class="b"><nobr><?=hh($empRow["syokusyu"])?></nobr></td>
        <td class="b"><nobr><?=hh($empRow["syozoku"])?></nobr></td>
        <td class="b"><nobr><?=hh($empRow["sisetu"])?></nobr></td>
        <? if ($bunrui_ext1) { ?><td class="b"><nobr><?=hh($empRow["bunrui_ext1"])?></nobr></td><? } ?>
        <? if ($bunrui_ext2) { ?><td class="b"><nobr><?=hh($empRow["bunrui_ext2"])?></nobr></td><? } ?>
        <td class="b"><nobr><?=hh($empRow["toukyu"])?></nobr></td>
        <td class="b"><nobr><?=hh($empRow["empid"])?></nobr></td>
        <td class="b"><nobr><a class="block" href="javascript:void(0)" id="empid<?=$hyoid?>_<?=$rIdx?>" empid="<?=hh($empRow["empid"])?>"
          onclick="loadEditor('<?=hh($reason)?>', this.getAttribute('empid'))"><?=hh($empRow["empnm"])?></a></nobr></td>
        <? //============================ ?>
        <? // 実施状態                    ?>
        <? //============================ ?>
        <td class="b" style="padding:0 0 3px 0">
          <div style="height:23px; padding:4px 6px 0 6px" id="jotai_<?=$rIdx?>"><nobr><?=$html_msg?></nobr></div>
          <span id="btnsave<?=$hyoid?>_<?=$rIdx?>" style="display:none"></span>
        </td>
      </tr>
    <? } ?>
    </table>
<?
  die;
} // end of load_default



//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
echoStaticHtml();
?>
</head>
<body onload="loadInit()">
<script type="text/javascript">
  //**********************************************************************************************
  // 変数・定数
  //**********************************************************************************************
  var scTop = 0;
  var challenge_level = <?=$challenge_level?>;
  var challenge_degrees = <?=c2ToJson($challenge_degrees)?>;
  var challenge_marks = <?=c2ToJson($challenge_marks)?>;
  //**********************************************************************************************
  //
  //**********************************************************************************************
  function loadInit() {
    if ("<?=$req["arch_load"]?>"=="load_editor") {
      loadEditor("", "<?=hh($req["empid"])?>", "<?=$req["arch_load"]?>", "<?=(int)$req["arch_revid"]?>");
      return;
    }
    $.ajax({url:"mokuhyoEmps.html?ajax_action=load_default&hstep=<?=$hstep?>", success:function(msg) {
      var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
      ee("div_list").innerHTML = msg;
    }});
  }

  //**********************************************************************************************
  //
  //**********************************************************************************************
  function popupArchive(ajax_mode, empid) {
    var param = "&hstep=<?=$hstep?>&empid="+encodeURIComponent(empid)+"&arch_revid=<?=$revid?>";
    //window.open("jissi.html?arch_load="+ajax_mode+param, "hnv_archive_window", "width=930,height=600,scrollbars=yes");
  }
  //**********************************************************************************************
  //
  //**********************************************************************************************
  function loadEditor(reason, empid, arch_load, arch_revid) {
    scTop = getWindowScrollTop(window);
    if (!arch_load) arch_load = "";
    if (!arch_revid) arch_revid = "";
    var param = "&hstep=<?=$hstep?>&arch_load="+arch_load+"&arch_revid="+arch_revid+"&empid="+encodeURIComponent(empid);
    $.ajax({url:"mokuhyoApprove.html?ajax_action=load_editor"+param, success:function(msg) {
      var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
      ee("div_list").style.display = "none";
      ee("div_editor").innerHTML = msg;
      if (ee("div_msg_save")) {
        ee("div_msg_save").innerHTML = reason;
        if (reason) ee("div_msg_save").style.display = (reason ? "block" : "none");
        if (ee("div_btn_save1")) ee("div_btn_save1").style.display = (reason ? "none": "");
      }
      window.scrollTo(0, 0);
    }});
  }
  //**********************************************************************************************
  //
  //**********************************************************************************************
  function closeEditor() {
    ee("div_editor").innerHTML = "";
    ee("div_list").style.display = "";
    ee("head_jissi_cancel").style.display = "none";
    window.scrollTo(0, scTop);
  }
  function save (empid) {
    if (!confirm("保存します。よろしいですか？\n\n※保存後も、修正が可能です。")) return;
    $.ajax({url:"mokuhyoApprove.html?ajax_action=try_save&empid="+encodeURIComponent(empid), data:$(document.frm_editor).serialize(), success:function(msg) {
      var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
    }});
  }
  function deny (empid) {
    if (!confirm("差し戻します。よろしいですか？")) return;
    $.ajax({url:"mokuhyoApprove.html?ajax_action=try_deny&empid="+encodeURIComponent(empid), data:$(document.frm_editor).serialize(), success:function(msg) {
      var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
      closeEditor();
      loadInit();
      alert('通知等は送信されません。\n差し戻した旨を直接本人に伝えてください。');
    }});
  }
  function approve (empid) {
    if (!confirm("承認します。よろしいですか？")) return;
    $.ajax({url:"mokuhyoApprove.html?ajax_action=try_save&empid="+encodeURIComponent(empid), data:$(document.frm_editor).serialize(), success:function(msg) {
      var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
      $.ajax({url:"mokuhyoApprove.html?ajax_action=try_approve&empid="+encodeURIComponent(empid)+'&hstep=<?=$hstep?>', data:$(document.frm_editor).serialize(), success:function(msg) {
        var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
        closeEditor();
        loadInit();
      }});
    }});
  }
  function showDegree() {
    var html = '';
    html += '<table class="list_table_mbo">';
    html += '<tr><th>記号</th><th>判断基準</th></tr>'
    for (var i = 0 ; i < challenge_level ; i++ ) {
      html += '<tr><td>'+challenge_marks[i]+'</td><td><pre>'+challenge_degrees[i]+'</pre></td></tr>';
    }
    html += '</table>';
    var $dialog = $('<div title="チャレンジ認定の判断基準">'+html+'</div>');
    $dialog.dialog({autoOpen: true,height:250,width: 500,modal: false , position:{my:'right bottom',at:'right bottom',} , close:function() {} });

  }

</script>
<? echoMenuLinks(0); ?>

  <div id="content_all">

    <table cellspacing="0" cellpadding="0"><tr>
    <td>
      <? if ($req["arch_load"]) { ?>
      <div id="main_title2" title="＠過去目標履歴" style="width:250px;"><h2 class="main_title">＠過去目標履歴</h2></div>
      <? } else { ?>
      <div id="main_title2" title="＠<?=$hstep?>次承認実施" style="width:250px;"><h2 class="main_title ">＠<?=$hstep?>次承認実施</h2></div>
      <? } ?>
    </td>
    </tr></table>

    <div>
      <div id="div_list"></div>
      <div id="div_editor"></div>
    </div>
  </div><!-- // content_all -->
</body>
</html>
