<?
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// その他設定画面
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
require_once("common.php");



//******************************************************************************
// セッション・リクエスト判定
//******************************************************************************
if (!$_SESSION["CID"]) c2SessionErrorAndDie(); // 未ログインなら、ログインページへ
if (!$_SESSION["EMPMST_ROW"]["is_admin"]) c2AuthErrorAndDie(); // システム管理者でなければ、インデックスページへ
$cid = $_SESSION["CID"]; // 顧客ID



//**************************************************************************************************
// （ajax）更新
//**************************************************************************************************
if ($req["ajax_action"]=="try_save") {
	$sql =
	" update hnv_clients set".
	" info_toppage1 = ".c2dbStr(ve($req["info_toppage1"])).
	" where cid = ".c2dbStr($cid);
	c2dbExec($sql);
	$_SESSION["CLIENT_ROW"] = c2dbGetTopRow("select * from hnv_clients where cid = ".c2dbStr($cid));
	echo "ok";
	die;
}



//**************************************************************************************************
// （ajax）初期表示のロード
//**************************************************************************************************
if ($req["ajax_action"]=="load_default") {
	$clientRow = c2dbGetTopRow("select * from hnv_clients where cid = ".c2dbStr($cid));
?>
<div style="padding:4px">
	<button type="button" class="btn70 btn_save" onclick="trySave()"<?=BTN_FOCUS_BLUR?>><div>保存</div></button>
</div>
<div>
	<form id="frm" name="frm">
		<table cellspacing="0" cellpadding="0" class="list_table prop_table">
		<tr>
			<th><nobr>インフォメーション<br>(トップページ)</nobr></th>
			<td><textarea spellcheck="false" cols="100" rows="8" style="width:600px" name="info_toppage1">
<?=hh($clientRow["info_toppage1"])?></textarea></td>
		</tr>
		</table>
	</form>
</div>

<?
	die;
} // end of load_editor



//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
echoStaticHtml();
?>
</head>
<body onload="loadInit()">
<script type="text/javascript">
	var scTop = 0;
	function loadInit() {
		$.ajax({url:"options.html?ajax_action=load_default", success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
			ee("div_editor").innerHTML = msg;
		}});
	}
	function trySave() {
		if (!confirm("保存します。よろしいですか？")) return;
		$.ajax({url:"options.html?ajax_action=try_save", data:$(document.frm).serialize(), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
			alert("保存しました。");
			loadInit();
		}});
	}
</script>
<? echoMenuLinks(1); ?>
<div id="content_all">
  <div id="main_title2" title="＠その他設定" style="width:250px;"><h2 class="main_title">＠その他設定</h2></div>
	<div style="padding-top:20px">
		<div id="div_editor"></div>
	</div>
</div><!-- // content_all -->
</body>
</html>
