@charset "utf-8";


@media print {
  body {
    -webkit-print-color-adjust: exact;
    overflow: visible !important;
  }
	div#fixed_header{ display: none; }
	div.instruction{ display: none; }
	button{display: none;}

	table.print { border:solid 0px black; border-collapse:separate; border-spacing:0px; width:100%;table-layout: fixed;}
	table.print th,
	table.print td { padding:0; vertical-align:top; font-weight:normal; border:1px solid #AAA !important; border-spacing:0px; color:#000;background-image:none;
  word-break: break-all; }
	table.print th {
    background-color: #EEE !important ;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    border-radius: 0;
    overflow:visible;
  }
	table.print td.no_selected {color:#999;}
	table.print td:hover {background-image: none;}
	a.no_print,td.no_print,div.no_print,h2.no_print{display: none;color:#FFF !important ;}
	td.printed,th.printed {border:1px solid #AAA !important;}
	table.no_colap_print {border:solid 0px black; border-collapse:separate; border-spacing:0px; }
  table.print_half {width:50%;}

	table.list_table.print th {background-image:none;color:#000}
	table.print th.corner2  {background-image:none;color:#000}
  table.print tr td.print_no_border,table.print tr.print_no_border { border: 0px solid #FFF; }
  table.print td textarea { width:98%;resize: none;-webkit-appearance:none;border:none;background:none;}

  div.frame {width:none;overflow: visible;}
}
