<?
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// テンプレート画面
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
require_once("common.php");

//******************************************************************************
// セッション・リクエスト判定
//******************************************************************************
if (!$_SESSION["CID"]) c2SessionErrorAndDie(); // 未ログインなら、ログインページへ




//**************************************************************************************************
// （ajax）通常画面用 初期表示のロード
//**************************************************************************************************
if ($req["ajax_action"]=="load_publish") {
	$reps = (int)$_REQUEST["reps"];
?>
  <div id="main_title2" title="＠コラム・レポート" style="width:250px;"><h2 class="main_title">＠コラム・レポート</h2></div>
	<? if ($_SESSION["SUPER_CID"]) { ?>
	<div style="position:absolute; left:300px; top:13px">
		<a href="reports.html?view_mode=admin"<?=BTN_FOCUS_BLUR?>>→ スーパークライアントメンテナンス</a>
	</div>
	<? } ?>
	<div style="padding-top:20px">
	<table cellspacing="0" cellpadding="0" class="width100"><tr>
	<td style="padding-right:10px; width:200px">
<?
	$sql =
	" select * from hnv_reports".
	" where publish_mode = 'GLOBAL'".
	" ".($_SESSION["SUPER_CID"] ? " or publish_mode = 'TESTING'" : "").
	" ".(($_SESSION["EMPMST_ROW"]["is_admin"]||$_SESSION["SUPER_CID"]) ? " or publish_mode = 'ADMIN'" : "").
	" order by sort_order, rep_seq desc";
	$reportsRows = c2dbGetRows($sql);
	$reportRow = array();
	foreach ($reportsRows as $row) {
		if (!count($reportRow)) $reportRow = $row;
		if ($row["rep_seq"]==$reps) $reportRow = $row;
	}
	$reps = (int)$reportRow["rep_seq"];
	foreach ($reportsRows as $row) {
?>
		<? if ($row["rep_ymd"]) { ?>
			<div style="color:#95a8db; font-size:12px">◆ <?=hh($row["rep_ymd"])?> ◆</div>
		<? } ?>
		<div style="padding-bottom:10px; width:200px">
		<a href="reports.html?reps=<?=$row["rep_seq"]?>" class="block break_all"
			style="padding:3px; border-left:5px solid <?=($reps==$row["rep_seq"] ? '#ffaaaa' : '#ffffff')?>"
		>
			<?=str_replace("\n", "<br>", $row["rep_title"])?>
		</a>
		</div>
	<? } ?>
	</td>
	<td style="border-left:2px solid #eeeeee;">
		<div style="background:url(img/reports_bk3.gif) bottom repeat-x; padding-bottom:20px">
		<div style="padding-left:6px">
		<div style="background:url(img/reports_bk1.gif) no-repeat; padding:10px 10px 10px 16px">
			<div style="line-height:26px; padding:10px; font-size:20px; color:#556688; letter-spacing:1px"><?=str_replace("\n", "<br>", $reportRow["rep_title"])?></div>
			<? if ($reportRow["rep_ymd"]) { ?>
				<div style="padding-left:10px; color:#95a8db; font-size:12px">◆ <?=hh($reportRow["rep_ymd"])?> ◆</div>
			<? } ?>
		</div>
		</div>
		</div>
		<table cellspacing="0" cellpadding="0"><tr><td style="padding:10px 0 20px 30px; line-height:1.5" class="break_all">
		<?=$reportRow["rep_html"]?>
		</td></tr></table>
	</td>
	</tr></table>
<?
	die;
} // end of load_admin





//**************************************************************************************************
// （ajax）テンプレートの削除
//**************************************************************************************************
if ($req["ajax_action"]=="try_delete") {
	if (!$_SESSION["SUPER_CID"]) c2AuthErrorAndDie(); // スーパークライアントでない。インデックスページへ。
	c2dbExec("delete from hnv_reports where rep_seq = ".c2dbStr($req["rep_seq"]));
	echo "ok";
	die;
}




//**************************************************************************************************
// （ajax）ファイルにまつわる内容を更新する
//**************************************************************************************************
if ($req["ajax_action"]=="try_save") {
	if (!$_SESSION["SUPER_CID"]) c2AuthErrorAndDie(); // スーパークライアントでない。インデックスページへ。
	$err = array();
	if (!trim($req["rep_title"])) $err[]= "タイトルHTMLを指定してください。";
	if (!trim($req["rep_html"])) $err[]= "説明文HTMLを指定してください。";
	if (count($err)) { echo implode("\n", $err); die; }
	$rep_seq = (int)$req["rep_seq"];
	if ($rep_seq) {
		$sql =
		" update hnv_reports set".
		" rep_title = ".c2dbStr($req["rep_title"]).
		",rep_subtitle = ".c2dbStr($req["rep_subtitle"]).
		",rep_ymd = ".c2dbStr($req["rep_ymd"]).
		",rep_html = ".c2dbStr($req["rep_html"]).
		",publish_mode = ".c2dbStr($req["publish_mode"]).
		",sort_order = ".c2dbStr($req["sort_order"]).
		",is_new = ".c2dbStr($req["is_new"]).
		" where rep_seq = ".$rep_seq;
	} else {
		$rep_seq = 1 + c2dbGetOne("select max(rep_seq) from hnv_reports");
		$sql =
		" insert into hnv_reports ( rep_seq, rep_title, rep_subtitle, rep_ymd, rep_html, publish_mode, sort_order, is_new ) values (".
		" ".$rep_seq.
		",".c2dbStr($req["rep_title"]).
		",".c2dbStr($req["rep_subtitle"]).
		",".c2dbStr($req["rep_ymd"]).
		",".c2dbStr($req["rep_html"]).
		",".c2dbStr($req["publish_mode"]).
		",".c2dbStr($req["sort_order"]).
		",".c2dbStr($req["is_new"]).
		")";
	}
	c2dbExec($sql);
	echo "ok";
	die;
}




//**************************************************************************************************
// （ajax）編集パネルのロード
//**************************************************************************************************
if ($req["ajax_action"]=="load_editor") {
	if (!$_SESSION["SUPER_CID"]) c2AuthErrorAndDie(); // スーパークライアントでない。インデックスページへ。
	$reportsRow = c2dbGetTopRow("select * from hnv_reports where rep_seq = ".(int)$req["rep_seq"]);
?>
<div style="padding:4px">
	<button type="button" class="btn130 btn_cancel" onclick="closeEditor()"<?=BTN_FOCUS_BLUR?>><div>編集一覧へ戻る</div></button>
	<button type="button" class="btn70 btn_save" onclick="trySave()"<?=BTN_FOCUS_BLUR?>><div>保存</div></button>
	<? if ($req["rep_seq"]) { ?>
	<button type="button" class="btn70 btn_delete" style="margin-left:50px" onclick="tryDelete('<?=hh($reportsRow["rep_seq"])?>')"<?=BTN_FOCUS_BLUR?>><div>削除</div></button>
	<? } ?>
</div>
<div>
	<form id="frm" name="frm">
		<input type="hidden" name="rep_seq" value="<?=hh($reportsRow["rep_seq"])?>" />
		<div><?=hh($errormsg)?></div>
		<table cellspacing="0" cellpadding="0" class="list_table prop_table">
		<tr>
			<th>レポートID</th>
			<td style="height:25px">
				<?
				if ($reportsRow["rep_seq"]) echo '<div style="border:1px solid #cccccc; width:60px; padding:4px">'.$reportsRow["rep_seq"].'</div>';
				else echo '（登録後に自動採番）';
				?>
				<input type="hidden" name="rep_seq" value="<?=$reportsRow["rep_seq"]?>" />
				<div style="padding-top:2px">
				<span class="instruction">内部管理IDです。クライアントには見えません。</span>
				</div>
			</td>
		</tr>
		<tr>
			<th>レポート年月日</th>
			<td>
				<input tyep="text" class="text imeoff w150" name="rep_ymd" id="rep_ymd" value="<?=hh($reportsRow["rep_ymd"])?>" />
				<button type="button" class="btn60" onclick="setToday('rep_ymd');"<?=BTN_FOCUS_BLUR?>><div>本日</div></button>
				<div style="padding-top:2px">
				<span class="instruction">通常は「年/月/日」形式ですが、必ず日付である必要はありません。空欄にすることもできます。</span>
				</div>
			</td>
		</tr>
		<tr>
			<th>タイトルHTML</th>
			<td>
				<textarea name="rep_title" cols="70" rows="1" style="width:500px; height:40px"><?=hh($reportsRow["rep_title"])?></textarea>
				<div style="padding-top:2px">
				<span class="instruction">必須入力です。複数行可能です。HTML形式です。リンクなども記述できます。</span><br>
				<span class="instruction">「新着状態」指定にしてトップページに表示する場合、全文が公開されます。</span>
				</div>
			</td>
		</tr>
		<tr>
			<th>見出しHTML</th>
			<td>
				<textarea name="rep_subtitle" cols="70" rows="1" style="width:500px; height:40px"><?=hh($reportsRow["rep_subtitle"])?></textarea>
				<div style="padding-top:2px">
				<span class="instruction">トップページのみ表示されます。「過去のコラム・レポート」には公開されません。</span><br>
				<span class="instruction">必須入力です。複数行可能です。HTML形式です。リンクなども記述できます。</span><br>
				<span class="instruction">「新着状態」指定にしてトップページに表示する場合、全文が公開されます。</span>
				</div>
			</td>
		</tr>
		<tr>
			<th>説明文HTML</th>
			<td>
				<textarea name="rep_html" cols="70" rows="5" style="width:500px"><?=hh($reportsRow["rep_html"])?></textarea>
				<div style="padding-top:2px">
				<span class="instruction">必須入力です。複数行可能です。HTML形式です。リンクなども記述できます。</span><br>
				<span class="instruction">「新着状態」指定にしてトップページに表示する場合、全文が公開されます。</span>
				</div>
			</td>
		</tr>
		<tr>
			<th>新着状態</th>
			<td>
				<select name="is_new">
					<option value=""></option>
					<option value="1"<?=($reportsRow["is_new"]?" selected":"")?>>新着状態にする（トップページに表示されます）</option>
				</select>
				<div style="padding-top:2px">
				<span class="instruction">「過去のコラム・レポート」一覧には、新着状態にかかわらず、全ての「コラム・レポート」が表示されます。</span><br>
				<span class="instruction">トップページへの「新着」公開数には制限がありません。新着状態とする「コラム・レポート」の数を調整ください。</span>
				</div>
			 </td>
		</tr>
		<tr>
			<th>公開範囲</th>
			<td>
				<select name="publish_mode">
					<option value="">非公開</option>
					<option value="TESTING"<?=($reportsRow["publish_mode"]=="TESTING"?" selected":"")?>>スーパークライアント</option>
					<option value="ADMIN"<?=($reportsRow["publish_mode"]=="ADMIN"?" selected":"")?>>スーパークライアント・管理者</option>
					<option value="GLOBAL"<?=($reportsRow["publish_mode"]=="GLOBAL"?" selected":"")?>>スーパークライアント・管理者・評価者</option>
				</select>
				<div style="padding-top:2px">
				<span class="instruction">「スーパークライアント」は、試験的に公開したい場合に利用してください。</span>
				</div>
			 </td>
		</tr>
		<tr>
			<th>表示順</th>
			<td>
				<input type="text" class="text w100 imeoff" name="sort_order" maxlength="10" value="<?=hh($reportsRow["sort_order"])?>" />
				<div style="padding-top:2px">
				<span class="instruction">自由かつ適当なコードを指定可能です。</span><br>
				<span class="instruction">文字コード順で画面に並べられます。例えば「B01」より「A04」が先に表示され、「9」より「10」（イチゼロ）が先に表示されることになります。</span>
				</div>
			</td>
		</tr>
		</table>
	</form>
</div>

<?
	die;
} // end of load_editor



//**************************************************************************************************
// （ajax）管理画面用 初期表示のロード
//**************************************************************************************************
if ($req["ajax_action"]=="load_admin") {
  if (!$_SESSION["SUPER_CID"]) c2AuthErrorAndDie(); // スーパークライアントでない。インデックスページへ
	$reportsRows = c2dbGetRows("select * from hnv_reports order by sort_order, rep_seq desc");
?>
	<div style="padding:4px">
		<button type="button" class="btn100 btn_new" onclick="loadEditor()"<?=BTN_FOCUS_BLUR?>><div>新規作成</div></button>
	</div>
	<? if (count($reportsRows)) { ?>
		<table cellspacing="0" cellpadding="0" class="list_table">
		<tr>
			<th class="corner2">編集</1>
			<th>レポートID</th>
			<th>新着状態</th>
			<th>公開範囲</th>
			<th>タイトル</th>
			<th>レポート年月日</th>
			<th>表示順</th>
		</tr>
		<? foreach ($reportsRows as $row) { ?>
		<tr>
			<td><button type="button btn_edit" onclick="loadEditor('<?=$row["rep_seq"]?>')" class="btn60"<?=BTN_FOCUS_BLUR?>>編集</button></td>
			<td><?=$row["rep_seq"]?></td>
			<td>
				<?
					if ($row["is_new"]) echo "新着";
				?>
			</td>
			<td>
				<?
					if ($row["publish_mode"]=="GLOBAL") echo "スーパークライアント・管理者・評価者";
					else if ($row["publish_mode"]=="ADMIN")  echo "スーパークライアント・管理者";
					else if ($row["publish_mode"]=="TESTING")  echo "スーパークライアント";
					else echo "非公開";
				?>
			</td>
			<td><?=hh($row["rep_title"])?></td>
			<td><?=hh($row["rep_ymd"])?></td>
			<td><?=hh($row["sort_order"])?></td>
		</tr>
		<? } ?>
		</table>
	<? } ?>
<?
	die;
} // end of load_admin



//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
echoStaticHtml();
?>
</head>
<body spellcheck="false" onload="loadInit()">
<script type="text/javascript">
	var scTop = 0;
	var viewMode = "<?=($req["view_mode"]=="admin" ? 'admin' : 'publish')?>";
	var divName = "<?=($req["view_mode"]=="admin" ? 'div_admin' : 'div_publish')?>";
	function loadInit() {
		<? if ($uploadError) { ?>
			ee(divName).style.display = "none";
			ee("div_uploader").style.display = "";
		<? } ?>
		ee("div_admin_header").style.display = (viewMode=="admin"?"":"none");
		$.ajax({url:"reports.html?reps=<?=(int)$req["reps"]?>&ajax_action=load_"+viewMode, success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
			ee(divName).innerHTML = msg;
		}});
	}
	function loadEditor(rep_seq) {
		scTop = getWindowScrollTop(window);
		$.ajax({url:"reports.html?ajax_action=load_editor&rep_seq="+encodeURIComponent(rep_seq), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
			ee(divName).style.display = "none";
			ee("div_editor").innerHTML = msg;
			tryFocus('tmplnm');
			window.scrollTo(0, 0);
		}});
	}
	function loadUploader() {
		scTop = getWindowScrollTop(window);
		ee(divName).style.display = "none";
		ee("div_uploader").style.display = "";
		window.scrollTo(0, 0);
	}
	function closeEditor() {
		ee("div_editor").innerHTML = "";
		ee(divName).style.display = "";
		ee("div_uploader").style.display = "none";
		window.scrollTo(0, scTop);
	}
	function tryDelete(rep_seq) {
		if (!confirm("削除します。よろしいですか？")) return;
		$.ajax({url:"reports.html?ajax_action=try_delete&rep_seq="+encodeURIComponent(rep_seq), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
			loadInit();
			closeEditor();
		}});
	}
	function trySave() {
		if (!confirm("保存します。よろしいですか？")) return;
		$.ajax({url:"reports.html?ajax_action=try_save", data:$(document.frm).serialize(), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
			loadInit();
			closeEditor();
		}});
	}
	function setToday(divId) {
		var dd = new Date();
		var now = dd.getFullYear() + "/" +
		("0"+(dd.getMonth()+1)).slice(-2) + "/" +
		("0"+dd.getDate()).slice(-2);
		ee(divId).value = now;
	}
</script>
<? echoMenuLinks(0); ?>
<div id="content_all">
	<div>
		<div id="div_publish"></div>
		<div id="div_admin_header" style="display:none">
      <div id="main_title2" title="＠コラム・レポート" style="width:250px;"><h2 class="main_title">＠コラム・レポート</h2></div>
			<div style="position:absolute; left:300px; top:8px">
				<button type="button" class="btn130 btn_cancel" onclick="window.location.href='reports.html';"<?=BTN_FOCUS_BLUR?>><div>公開一覧へ戻る</div></button>
			</div>
			<div class="instruction" style="padding-top:10px">
				ここから「コラム・レポート」の登録・編集・削除が行えます。<br>
				「コラム・レポート」は、全クライアントに対し、一律提供されます。<br>
				「全クライアントへ公開」がひとつ以上指定されると、クライアントへの公開が行われます。<br>
				<span style="color:red">この機能へは、mssログインまたはnkログイン（スーパークライアント）でのみアクセス可能です。</span>
			</div>
		</div>
		<div id="div_admin"></div>
		<div id="div_editor"></div>
	</div>
</div><!-- // content_all -->
</body>
</html>
