<?
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// 評価実施画面
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
require_once("common.php");


//******************************************************************************
// セッション・リクエスト判定
//******************************************************************************
if (!$_SESSION["CID"]) c2SessionErrorAndDie(); // 未ログインなら、ログインページへ
$cid = $_SESSION["CID"]; // 顧客ID
$revid = (int)$_SESSION["REVID_MBO"];
$today = date("Y/m/d");
$revisionRow = c2dbGetTopRow("select * from ".$cid."_hnv_revisions_mbo where revid = ".$revid);
$pastRevisionRows = c2dbGetRows("select * from ".$cid."_hnv_revisions_mbo order by rev_fr_ymd desc, rev_to_ymd desc, revnm");

$bunrui_ext1 = hh(trim($_SESSION["CLIENT_ROW"]["bunrui_ext1"]));
$bunrui_ext2 = hh(trim($_SESSION["CLIENT_ROW"]["bunrui_ext2"]));

//$ary = explode(",", $revisionRow["hyo_level"]);
//$hyo_level = array("");
//foreach ($ary as $level) $hyo_level[]= trim($level);

$max_hstep = $revisionRow["hyo_step"];

$is_active_span = (strtotime($today) >= strtotime($revisionRow['hyoka_start_ymd']) && strtotime($today) <= strtotime($revisionRow['hyoka_end_ymd'])) ? true : false;


$_ttl_rank = explode(",", $revisionRow["ttl_rank"]);
$ttl_rank = array();
$def_rank = "";
$ttl_rank_index = 0;
foreach ($_ttl_rank as $param) {
  list($rank, $score) = explode(":",$param);
  if (!$rank) continue;
  if (!strlen($score)) $def_rank = $rank;
  $ttl_rank[] = array("rank"=>$rank, "score"=>$score, "index"=>$ttl_rank_index);
  $ttl_rank_index++ ;
}


//**************************************************************************************************
// （ajax）xls形式ダウンロード
//**************************************************************************************************
if ($req["view_mode"]=="try_download_xls1") {
  $dltype = $req["dltype"]; // 0:rank_bunpuの選択肢に従う、1:すべて
  $rank_bunpu = $req["rank_bunpu"];
  $cate = $req["cate"];


  $sql = "select * from ".$cid."_hnv_casts_mbo where revid = ".$revid." and is_excluded <> '1'";
  if (!$dltype && $rank_bunpu) $sql .= " and ".$rank_bunpu." = ".c2dbStr($cate);
  $empsRows = c2dbGetRows($sql." order by sort_order, lpad(empid,30,'0') ");

  // 目標項目
  $m_forms = c2dbGetRows("select * from ".$cid."_hnv_form_mbo where revid = ".$revid." and type = '1' and (is_used = '1' or formid = 'weight')  order by sort_order ;");
  // 自己評価項目
  $j_forms = c2dbGetRows("select * from ".$cid."_hnv_form_mbo where revid = ".$revid." and type = '3' and is_used = '1'  order by sort_order ;");
  if (!$revisionRow['is_self_hyoka']) {
    $j_forms = array();
  }
  // 評価
  $h_forms = c2dbGetRows("select * from ".$cid."_hnv_form_mbo where revid = ".$revid." and type = '2' and is_used = '1'  order by sort_order ;");
  $forms = array_merge($m_forms,$j_forms,$h_forms);
  $mboSheets = c2dbGetRows(' select * from '.$cid.'_hnv_sheet_mbo where revid = '.$revid);// 保存済みデータ
  $sheetValues = array();
  foreach ($mboSheets as $row) {
    $sheetValues[$row['item_index']][$row['formid']][$row['empid']] = $row['value'];
  }
  $max_mokuhyo_count = c2dbGetOne("select max(mokuhyo_count) from ".$cid."_hnv_casts_mbo");
//  $form_count = count($m_forms) + count($j_forms) + count($h_forms);
  $form_count = count($forms);


  $_ttl_rank = explode(",", $revisionRow["ttl_rank"]);
  $ttl_rank = array();
  for ($idx=0; $idx<count($_ttl_rank); $idx++) {
    list($rank, $haiten) = explode(":", $_ttl_rank[$idx]);
    if ($idx<count($_ttl_rank)-1) $haiten = trim($req["ipt_rank".$idx]);
    if (!strlen($haiten)) $def_rank = $rank;
    $ttl_rank[] = array("rank"=>$rank, "haiten"=>$haiten);
  }
  $cate_list = array();
  $header_span = 7;
  if ($bunrui_ext1) $header_span += 1;
  if ($bunrui_ext2) $header_span += 1;

  $is_jiko = ($revisionRow['is_self_hyoka']) ? true : false ;
  $jiko_span = 0;
//  if ($revisionRow['is_self_hyoka']) $jiko_span += ($max_setumonsu * 2);
  // 評価レベルテーブルを展開
  $levelRows = c2dbGetRows("select * from ".$cid."_hnv_level_mbo where revid = ".$revid." order by sort_order ; ");
  $challenge_marks = explode(',',$revisionRow['challenge_marks']);


  header("Content-Type: application/vnd.ms-excel");
  header("Content-Disposition: attachment; filename=hnv_sogo_".$cid."_".date("Ymd_His").".xls");
  header("Expires: 0");
  header("Cache-Control: must-revalidate, post-check=0,pre-check=0");
  header("Pragma: public");
?>
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.percent { mso-style-parent:style0; mso-number-format:"0\.0%"; border:1.0pt solid black; white-space:normal; }
.b { border:thin solid #000 }
.bh { border:thin solid #000; background-color:#eeeeee }
</style>
</head>
<body>
<table cellspacing="0" cellpadding="0" style="border-collapse:collapse">
    <tr>
        <th class="bh" colspan="<?=$max_hstep+$header_span?>">基本情報</th>
        <?
        $gokei_span = ($revisionRow['is_self_hyoka']) ? $max_hstep+1 : $max_hstep;
        ?>
        <?   for ( $idx = 1 ; $idx <= $max_mokuhyo_count ; $idx++ ) { ?>
          <th colspan="<?=($form_count+$max_hstep)?>" class="bh">項目<?=$idx?></th>
        <? } ?>
        <th class="bh" colspan="<?=$gokei_span*2?>">評価結果</th>
        <th rowspan="3" class="bh">調整スコア</th>
        <th colspan="2" class="bh">最終</th>
    </tr>

    <tr>
        <th rowspan="2" class="bh">職員ID</th>
        <th rowspan="2" class="bh">職員名</th>
        <th rowspan="2" class="bh">職種</th>
        <th rowspan="2" class="bh">役職</th>
        <th rowspan="2" class="bh">所属部署</th>
        <th rowspan="2" class="bh">所属施設</th>
        <? if ($bunrui_ext1) { ?><th rowspan="2" class="bh"><?=$bunrui_ext1?></th><? } ?>
        <? if ($bunrui_ext2) { ?><th rowspan="2" class="bh"><?=$bunrui_ext2?></th><? } ?>
        <th rowspan="2" class="bh">等級</th>
        <? for ($step=1; $step<=$max_hstep; $step++) { ?>
          <th rowspan="2" class="bh"><?=$step?>次評価者</th>
        <? } ?>
        <?
        for ( $idx = 1 ; $idx <= $max_mokuhyo_count ; $idx++ ) {
          echo '<th colspan="'.count($m_forms).'" class="bh">目標</th>';
          echo count($j_forms) ? '<th colspan="'.count($j_forms).'" class="bh">自己評価</th>' : '';
          echo '<th colspan="'.(count($h_forms)+$max_hstep).'" class="bh">評価</th>';
        }
        ?>
        <th colspan="<?=$gokei_span?>" class="bh">スコア</th>
        <th colspan="<?=$gokei_span?>" class="bh">ランク</th>
        <th rowspan="2" class="bh">スコア</th>
        <th rowspan="2" class="bh">ランク</th>
    </tr>
    <tr>
        <?
        for ( $idx = 1 ; $idx <= $max_mokuhyo_count ; $idx++ ) {
          for ($idx2 = 0 ; $idx2 < count($forms) ; $idx2++ ) {
            $form = $forms[$idx2];
            $label = $form['label'] ? $form['label'] : $form['label_default'];
            echo '<th class="bh">'.$label.'</th>';
          }
          for ($step=1; $step<=$max_hstep; $step++) {
            echo '<th class="bh">'.$step.'次</th>';
          }
         }
        ?>
        <? if ($revisionRow['is_self_hyoka']) { ?>
          <th class="bh">自己</th>
        <? } ?>
        <? for ($step=1; $step<=$max_hstep; $step++) { ?>
          <th class="bh"><?=$step?>次</th>
        <? } ?>
        <? if ($revisionRow['is_self_hyoka']) { ?>
          <th class="bh">自己</th>
        <? } ?>
        <? for ($step=1; $step<=$max_hstep; $step++) { ?>
          <th class="bh"><?=$step?>次</th>
        <? } ?>
    </tr>
    <? foreach ($empsRows as $row) { ?>

      <tr>
        <td class="b">="<?=hh($row["empid"])?>"</td>
        <td class="b"><?=hh($row["empnm"])?></td>
        <td class="b"><?=hh($row["syokusyu"])?></td>
        <td class="b"><?=hh($row["yakusyoku"])?></td>
        <td class="b"><?=hh($row["syozoku"])?></td>
        <td class="b"><?=hh($row["sisetu"])?></td>
        <? if ($bunrui_ext1) { ?><td class="b"><?=hh($row["bunrui_ext1"])?></td><? } ?>
        <? if ($bunrui_ext2) { ?><td class="b"><?=hh($row["bunrui_ext2"])?></td><? } ?>
        <td class="b">="<?=hh($row["toukyu"])?>"</td>
        <?
        // 評価者名
        for ($step=1; $step<=$max_hstep; $step++) {
          echo '<td class="b">'.hh($row["hyouka".$step."_empnm"]).'</td>';
        }
        // 項目ごとの値
        for ( $idx = 1 ; $idx <= $max_mokuhyo_count ; $idx++ ) {
          for ($idx2 = 0 ; $idx2 < count($forms) ; $idx2++) {
            $form = $forms[$idx2];
            $label = $form['label'] ? $form['label'] : $form['label_default'];
            if ($form['formid'] === 'challenge') {
              $mark_idx = ($sheetValues[$idx]["challenge"][$row['empid']]) ? $sheetValues[$idx]["challenge"][$row['empid']] : 0;
              $value = $mark_idx ? $challenge_marks[$mark_idx-1] : '';
            } else {
              $value = $sheetValues[$idx][$form['formid']][$row['empid']];
            }
            echo '<td class="b">'.$value.'</td>';
          }
          for ($step=1; $step<=$max_hstep; $step++) {
            echo '<td class="b">'.$levelRows[$row["hyo".$step."_".$idx]]['level'].'</td>';
          }
        }
        // 合計スコア
        if ($revisionRow['is_self_hyoka']) {
          echo '<td class="b">'.hh($row["jiko_ttl"]).'</td>';
        }
        for ($step=1; $step<=$max_hstep; $step++) {
          echo '<td class="b">'.hh($row["hyo".$step."_ttl"]).'</td>';
        }
        // ランク
        if ($revisionRow['is_self_hyoka']) {
          $ttl = $row["jiko_ttl"];
          $rank = "";
          foreach ($ttl_rank as $rRow) {
            if ($ttl >= $rRow["haiten"]) { $rank = $rRow["rank"]; break; }
          }
          if ($rank=="") $rank = $def_rank;
          echo '<td class="b">'.hh($rank).'</td>';
        }
        for ($step=1; $step<=$max_hstep; $step++) {
          $ttl = $row["hyo".$step."_ttl"];
          $rank = "";
          foreach ($ttl_rank as $rRow) {
            if ($ttl >= $rRow["haiten"]) { $rank = $rRow["rank"]; break; }
          }
          if ($rank=="") $rank = $def_rank;
          echo '<td class="b">'.hh($rank).'</td>';
        }
        // 調整スコア・最終結果
        echo '<td class="b">'.$row['adjust'].'</td>';
        $saisyu_score = $row["hyo".$max_hstep."_ttl"] + $row['adjust'];
        echo '<td class="b">'.$saisyu_score.'</td>';
        $rank = "";
        foreach ($ttl_rank as $rRow) {
          if ($saisyu_score >= $rRow["haiten"]) { $rank = $rRow["rank"]; break; }
        }
        if ($rank=="") $rank = $def_rank;
        echo '<td class="b">'.hh($rank).'</td>';
      ?>
      </tr>
    <? } ?>
</table>
</body>
</html>
<?
  die;
}



//**************************************************************************************************
// （ajax）xls形式ダウンロード
//**************************************************************************************************
if ($req["view_mode"]=="try_download_xls2") {
  $tsv_data = $req["tsv_data"];

  header("Content-Type: application/vnd.ms-excel");
  header("Content-Disposition: attachment; filename=hnv_bunpu_".$cid."_".date("Ymd_His").".xls");
  header("Expires: 0");
  header("Cache-Control: must-revalidate, post-check=0,pre-check=0");
  header("Pragma: public");
?>
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.percent { mso-style-parent:style0; mso-number-format:"0\.0%"; border:1.0pt solid black; white-space:normal; }
.b { border:thin solid #000 }
.bh { border:thin solid #000; background-color:#eeeeee }
</style>
</head>
<body>
<table cellspacing="0" cellpadding="0" style="border-collapse:collapse">
  <?
    $tsv_data = explode("\n", $req["tsv_data"]);
    foreach ($tsv_data as $rowIdx => $row) {
      echo '<tr>';
      $line = explode("\t", $row);
      foreach ($line as $param) {
        echo '<td class="b">'.$param.'</td>';
      }
      echo '</tr>';
    }
  ?>
</table>
</body>
</html>
<?
  die;
}




//**************************************************************************************************
// （ajax）ランク基準値、調整スコアを保存
//**************************************************************************************************
if ($req["ajax_action"]=="try_save_total_adjust") {
  c2dbBeginTrans();

  $_ttl_rank = explode(",", $revisionRow["ttl_rank"]);
  $ttl_rank = array();
  for ($idx=0; $idx<count($_ttl_rank); $idx++) {
    $param = explode(":", $_ttl_rank[$idx]);
    if ($idx<count($_ttl_rank)-1) $ttl_rank[]= $param[0].":".trim($req["ipt_rank".($idx)]);
    else $ttl_rank[]= $param[0];
  }
  c2dbExec("update ".$cid."_hnv_revisions_mbo set ttl_rank = ".c2dbStr(implode(",", $ttl_rank))." where revid = ".$revid);

  foreach ($req as $k => $adjust) {
    if (substr($k,0,7)!="iptadj_") continue;
    $empid = substr($k,7);
    $sql =
    " update ".$cid."_hnv_casts_mbo set adjust = ".(strlen($adjust) ? (int)$adjust : "null").
    " where revid = ".$revid.
    " and empid = ".c2dbStr($empid);
    c2dbExec($sql);
  }
  $empsRows = c2dbGetRows("select * from ".$cid."_hnv_casts_mbo where revid = ".$revid);
  foreach ($empsRows as $empsRow) {
    $_kojin_hyo_step = ($empsRow["kojin_hyo_step"]) ? $empsRow["kojin_hyo_step"] : $revisionRow["hyo_step"];
    $sql =
    "update ".$cid."_hnv_casts_mbo set".
    " hyo9_ttl = coalesce(cast(adjust as float), 0) + coalesce(cast(hyo".$_kojin_hyo_step."_ttl as float), 0)".
    " where empid = ".c2dbStr($empsRow["empid"])." and revid = ".$revid;
    c2dbExec($sql);
  }
  c2dbCommit();
  $_SESSION["REVISION_MBO_ROW"] = c2dbGetTopRow("select * from ".$cid."_hnv_revisions_mbo where revid = ".$revid);

  echo "ok";
  die;
}




//**************************************************************************************************
// （ajax）評価期間を確定させる・未確定に戻す
//**************************************************************************************************
if ($req["ajax_action"]=="try_save_finish") {
  $_is_finished = ($req["is_finished"] ? "1" : "");
  c2dbExec("update ".$cid."_hnv_revisions_mbo set is_finished = '".$_is_finished."' where revid = ".$revid);
  echo "ok";
  die;
}







//**************************************************************************************************
// （ajax）初期表示のロード（最終判定。評価でない場合）
//**************************************************************************************************
if ($req["ajax_action"]=="load_default") {

  $rlist = explode(",", $_SESSION["REVISION_MBO_ROW"]["ttl_rank"]);

  // 過去データ３回分のリビジョン
  $pastRevisionRows = array();
  $pastRevIds = array();
  $pastEmpsRows = array(); //それぞれの評価期間における対象職員の結果一覧
  $pastTtlRank = array(); //それぞれの評価期間におけるランク基準値
  $pastDefRank = array();
  $_rows = c2dbGetRows("select * from ".$cid."_hnv_revisions_mbo order by rev_fr_ymd desc, rev_to_ymd desc, revnm");
  $revid_existed = 0;
  foreach ($_rows as $_row) {
    $_revid = $_row["revid"];
    if ($_revid==$revid) { $revid_existed = 1; continue; }
    if (!$revid_existed) continue;
    if (count($pastRevisionRows)>=3) break;
    $revid_existed = 1;
    $pastRevisionRows[]= $_row;
    $pastRevIds[]= $_revid;
    $_trank = explode(",", $_row["ttl_rank"]);

    $_def_rank = "";
    $_arank = array();
    $pastTtlRankIndex = 0;
    foreach ($_trank as $_rrow) {
      list($rank, $score) = explode(":",$_rrow);
      if (!$rank) continue;
      if (!strlen($score)) $_def_rank = $rank;
      $_arank[] = array("rank"=>$rank, "score"=>$score, "index"=>$pastTtlRankIndex);
      $pastTtlRankIndex++;
    }
    $pastTtlRank[] = $_arank;
    // 過去３回分の実績
    $_rows2 = c2dbGetRows("select * from ".$cid."_hnv_casts_mbo where revid = ".$_revid." and is_excluded <> '1' order by sort_order, empid");
    foreach ($_rows2 as $_row2) {
      $pastEmpsRows[$_row2["empid"]][$_revid] = $_row2;
    }

  }

  // 登録されている従業員のIDと名前のMAPを作成
  $allemps = c2dbGetRows("select empid , empnm from ".$cid."_hnv_emps order by empid");
  $empmap = array();
  foreach ($allemps as $_emp) {
    $empmap[$_emp["empid"]] = $_emp["empnm"];
  }

  // 関係する全データ取得
  $empsRows = c2dbGetRows("select * from ".$cid."_hnv_casts_mbo where revid = ".$revid." and is_excluded <> '1' order by sort_order, empid");
  $bunpu_toukyu = array();
  $bunpu_syozoku = array();
  $bunpu_syokusyu = array();
  $bunpu_yakusyoku = array();
  $bunpu_sisetu = array();
  $bunpu_bunrui_ext1 = array();
  $bunpu_bunrui_ext2 = array();
  foreach ($empsRows as $_row) {
    $bunpu_toukyu[$_row["toukyu"]] = 1;
    $bunpu_syozoku[$_row["syozoku"]] = 1;
    $bunpu_syokusyu[$_row["syokusyu"]] = 1;
    $bunpu_yakusyoku[$_row["yakusyoku"]] = 1;
    $bunpu_sisetu[$_row["sisetu"]] = 1;
    $bunpu_bunrui_ext1[$_row["bunrui_ext1"]] = 1;
    $bunpu_bunrui_ext2[$_row["bunrui_ext2"]] = 1;
  }
  krsort($bunpu_toukyu);
  ksort($bunpu_syozoku);
  ksort($bunpu_syokusyu);
  ksort($bunpu_yakusyoku);
  ksort($bunpu_sisetu);
  ksort($bunpu_bunrui_ext1);
  ksort($bunpu_bunrui_ext2);
  $hyoukaEmpRows = array();
  for ($idx=1; $idx<=$max_hstep; $idx++) {
    $sql = "select hyouka".$idx."_empid as empid, hyouka".$idx."_empnm as empnm from ".$cid."_hnv_casts_mbo ".
    " where revid = ".$revid."  and hyouka".$idx."_empid != '' group by hyouka".$idx."_empid, hyouka".$idx."_empnm ";
    $hyoukaEmpRows[] = c2dbGetRows($sql);
  }
?>
  <div class="instruction" style="padding-bottom:0">
    <div style=" padding-bottom:10px">
      「ランク基準値」および「調整スコア」の値を調整することで、全体のランクのバランスを検討しながら、最終判定を行います。<br>
    </div>
    ◆各個人に対する最終判定の調整は、「スコア調整」で行います。
    <div style=" padding:5px 20px">
    <span style="color:#58a0ea">最終スコア</span>
    ＝
    <span style="color:#58a0ea">最終ステップ（<?=$max_hstep?>次評価）のスコア</span>
    ＋
    <span style="color:#58a0ea">「調整スコア」の入力値</span><br>
    </div>
    <div style=" padding:0 20px">
      ※調整スコアにはマイナス値も指定できます。<br>
      ※最終ステップが完了しなくとも試算できますが、最終ステップが送信されると、それにあわせて最終スコア/最終ランクも変化します。<br>
    </div>
    <div style=" padding-top:10px">
    ◆全体的なランクのバランスをとりたい場合は、「ランク基準値」で調整します。<br>
    </div>
    <div style=" padding:0 0 5px 20px">
      ※「ランク基準値」の変更は、この評価期間内全評価に適用されます。<br>
    </div>
  </div>

  <div style="padding-top:10px">
  <? $is_auth_exist = 0; ?>
  <? if (!$revid) { ?>
    <span class="red">不正な呼出しです。(revid)</span>
  <? } else if (!$_SESSION["CASTS_MBO_ROW"]["is_hyomaster"] && !$_SESSION["EMPMST_ROW"]["is_admin"]) { ?>
    <span class="red">最終判定者権限がありません。操作を行うことができません。</span>
  <? } else { ?>
    <? $is_auth_exist = 1; ?>
    <? if (!$is_active_span) { ?>
      <div style="padding:3px; background-color:#f7c8f4">
      <span style="color:#df37d7; padding:0 50px 0 5px; letter-spacing:1px"><b>評価可能期間の範囲外です</b></span>
      </div>
    <? } else if ($revisionRow["is_finished"]) {?>
      <div style="padding:3px; background-color:#f7c8f4">
      <span style="color:#df37d7; padding:0 50px 0 5px; letter-spacing:1px"><b>最終確定済</b></span>
      <button type="button" class="btn100" onclick="trySaveFinish(0)"<?=BTN_FOCUS_BLUR?>><div>未確定に戻す</div></button>
      </div>
    <? } else { ?>
      <button type="button" class="btn230 btn_save" onclick="trySaveTotalAdjust()"<?=BTN_FOCUS_BLUR?>><div>ランク基準値／調整スコア保存</div></button>
      <button type="button" class="btn100" onclick="trySaveFinish(1)"<?=BTN_FOCUS_BLUR?>><div>最終確定する</div></button>
    <? } ?>
  <? } ?>
  </div>

  <form id="frm_total_adjust" name="frm_total_adjust" action="jissi.html" method="post" target="dframe">
    <input type="hidden" name="tsv_data" id="tsv_data" value="" />







  <? if ($is_auth_exist) { ?>
  <? //************************************************************************************************************ ?>
  <div class="cate_title" style="padding-top:20px">■ランク基準値</div>
  <? //************************************************************************************************************ ?>
  <table cellspacing="0" cellpadding="0" class="list_table_mbo">
  <tr>
  <?
    for ($idx=count($rlist)-1; $idx>=0; $idx--) {
      $ritem = $rlist[$idx];
      $rank = explode(":", $ritem);
      echo '<td class="gray_hover">'.$rank[0].'</td>';
    }
  ?>
    <td rowspan="2" style="background:0; padding-left:10px; vertical-align:bottom">
    </td>
  </tr>
  <tr>
    <?
      for ($idx=count($rlist)-1; $idx>=0; $idx--) {
        $ritem = $rlist[$idx];
        $rank = explode(":", $ritem);
        if ($idx==count($rlist)-1) echo '<td class="w90 font12"><nobr>（未満/未算出）</nobr></td>';
        else {
          echo '<td>';
          if ($is_active_span) {
            echo '<input type="text" class="text imeoff w40" maxlength="3" value="'.$rank[1].'" onchange="rankChanged(this, '.$idx.')" ';
            echo ' id="ipt_rank'.$idx.'" name="ipt_rank'.$idx.'" /> 点以上';
          } else {
            echo $rank[1]." 点以上";
            echo '<input type="hidden" value="'.$rank[1].'"   id="ipt_rank'.$idx.'" name="ipt_rank'.$idx.'" />';
          }
          echo '</td>';

        }
      }
    ?>
  </tr>
  </table>
  <? } // is_auth_exist ?>



  <? if ($is_auth_exist) { ?>
  <? //************************************************************************************************************ ?>
  <div class="cate_title" style="padding-top:20px">
    ■最終ランク分布状況
    <span style="padding-left:20px">
    <select id="rank_bunpu" name="rank_bunpu" onchange="calcAll()">
      <option value="toukyu">等級</toukyu>
      <option value="syozoku">所属部署</option>
      <option value="syokusyu">職種</option>
      <option value="yakusyoku">役職</option>
      <option value="sisetu">所属施設</option>
      <? if ($bunrui_ext1) { ?><option value="bunrui_ext1"><?=$bunrui_ext1?></option><? } ?>
      <? if ($bunrui_ext2) { ?><option value="bunrui_ext2"><?=$bunrui_ext2?></option><? } ?>
    </select>
    </span>
  </div>
  <? //************************************************************************************************************ ?>
  <div id="bunpu_table"></div>
  <? } // is_auth_exist ?>




  <? if ($is_auth_exist) { ?>
  <? //************************************************************************************************************ ?>
  <div class="cate_title" style="padding-top:20px">■スコア調整</div>
  <? //************************************************************************************************************ ?>


    <div style="width:100%;background-color:#eeeeee; padding:4px;padding-left:5px">
      <div style="line-height:25px; padding-right:5px;font-weight:bold;">[表示範囲]</div>
      <div class="search_box" >
        <select label="職種" id="find_syokusyu" multiple="multiple" style="width:150px;" >
          <? foreach (array_keys($bunpu_syokusyu) as $_v){?><option value="<?=hh($_v)?>"><?=($_v=="" ? "(職種未指定)" : hh($_v))?></option><? } ?>
        </select>
      </div>
      <div class="search_box" >
        <select id="find_syozoku" multiple="multiple" style="width:150px;">
          <? foreach (array_keys($bunpu_syozoku) as $_v){?><option value="<?=hh($_v)?>"><?=($_v=="" ? "(所属部署未指定)" : hh($_v))?></option><? } ?>
        </select>
      </div>
      <div class="search_box" >
        <select id="find_yakusyoku" multiple="multiple" style="width:150px;" >
          <? foreach (array_keys($bunpu_yakusyoku) as $_v){?><option value="<?=hh($_v)?>"><?=($_v=="" ? "(役職未指定)" : hh($_v))?></option><? } ?>
        </select>
      </div>
      <div class="search_box" >
        <select id="find_sisetu" multiple="multiple" style="width:150px;" >
          <? foreach (array_keys($bunpu_sisetu) as $_v){?><option value="<?=hh($_v)?>"><?=($_v=="" ? "(所属施設未指定)" : hh($_v))?></option><? } ?>
        </select>
      </div>
      <? if ($bunrui_ext1) { ?>
      <div class="search_box" >
        <select id="find_bunrui_ext1"  multiple="multiple" style="width:150px;" >
          <? foreach (array_keys($bunpu_bunrui_ext1) as $_v){?><option value="<?=hh($_v)?>"><?=($_v=="" ? "(<?=$bunrui_ext1?>未指定)" : hh($_v))?></option><? } ?>
        </select>
      </div>
      <? } ?>
      <? if ($bunrui_ext2) { ?>
      <div class="search_box" >
        <select id="find_bunrui_ext2"  multiple="multiple" style="width:150px;" >
          <? foreach (array_keys($bunpu_bunrui_ext2) as $_v){?><option value="<?=hh($_v)?>"><?=($_v=="" ? "(<?=$bunrui_ext2?>未指定)" : hh($_v))?></option><? } ?>
        </select>
      </div>
      <? } ?>
      <div class="search_box" >
        <select id="find_toukyu" multiple="multiple" style="width:150px;" >
          <? foreach (array_keys($bunpu_toukyu) as $_v){?><option value="<?=hh($_v)?>"><?=($_v=="" ? "(等級未指定)" : hh($_v))?></option><? } ?>
        </select>
      </div>
      <div class="search_box" >
        <select id="find_feedback"  multiple="multiple" style="width:150px;" >
          <option value="1">実施済</option><option value="">未実施</option>
        </select>
      </div>
      <? for ($idx=1; $idx<=$max_hstep; $idx++) { ?>
        <div class="search_box" >
          <select id="find_hyoka_emp<?=$idx?>"  multiple="multiple" style="width:150px;" >
            <option value="">（未指定）</option>
            <? foreach ($hyoukaEmpRows[$idx-1] as $row) { ?>
              <option value="<?=$row['empid']?>"><?=$row['empnm']?></option>
            <? } ?>
          </select>
        </div>
    	<? } ?>
      <div style="padding:5px;">
        <select id="find_rank_span_a" onchange="showAdjustRows()">
          <option value="">(期間指定なし)</option>
          <option value="4">直近4回</option>
          <option value="3">直近3回</option>
          <option value="2">直近2回</option>
          <option value="1">直近1回</option>
        </select>
        <span>の評価</span>
        <select id="find_rank_a" onchange="showAdjustRows()">
          <option value="">(ランク)</option>
          <?
            foreach ($ttl_rank as $idx => $_rrow) {
              if ($idx && $idx < count($ttl_rank)-1) {
              echo '<option value="'.hh($_rrow["rank"]).' plus">'.hh($_rrow["rank"]).' 以上</option>';
              }
              echo '<option value="'.hh($_rrow["rank"]).' even">'.hh($_rrow["rank"]).'</option>';
              if ($idx && $idx < count($ttl_rank)-1) {
              echo '<option value="'.hh($_rrow["rank"]).' minus ">'.hh($_rrow["rank"]).' 以下</option>';
              }
            }
          ?>
        </select>
        <span style="margin-left:10px;margin-right:10px;">
          <select id="find_rank_condition" onchange="showAdjustRows()">
            <option value="and">AND</option>
            <option value="or">OR</option>
          </select>
        </span>
        <select id="find_rank_span_b" onchange="showAdjustRows()">
          <option value="">(期間指定なし)</option>
          <option value="4">直近4回</option>
          <option value="3">直近3回</option>
          <option value="2">直近2回</option>
          <option value="1">直近1回</option>
        </select>
        <span>の評価</span>
        <select id="find_rank_b" onchange="showAdjustRows()">
          <option value="">(ランクすべて)</option>
          <?
            foreach ($ttl_rank as $idx => $_rrow) {
              if ($idx && $idx < count($ttl_rank)-1) {
              echo '<option value="'.hh($_rrow["rank"]).' plus">'.hh($_rrow["rank"]).' 以上</option>';
              }
              echo '<option value="'.hh($_rrow["rank"]).' even">'.hh($_rrow["rank"]).'</option>';
              if ($idx && $idx < count($ttl_rank)-1) {
              echo '<option value="'.hh($_rrow["rank"]).' minus ">'.hh($_rrow["rank"]).' 以下</option>';
              }
            }
          ?>
        </select>
      </div>
    </div>
  <? } // is_auth_exist ?>

  <? if ($is_auth_exist) { ?>
  <table cellspacing="0" cellpadding="0" class="list_table_mbo hover_row_colored" id="empsTable">
  <tr style="font-size:12px" class="header">
    <th rowspan="2" style="width:70px">職種</th>
    <th rowspan="2" style="width:70px"><nobr>所属部署</nobr></th>
    <th rowspan="2" style="width:70px">役職</th>
    <th rowspan="2" style="width:70px">所属施設</th>
    <? if ($bunrui_ext1) { ?><th rowspan="2" style="width:70px"><nobr><?=$bunrui_ext1?></nobr></th><? } ?>
    <? if ($bunrui_ext2) { ?><th rowspan="2" style="width:70px"><nobr><?=$bunrui_ext2?></nobr></th><? } ?>
    <th rowspan="2">等級<br/>
      <select class="sortKey" id="sort_score_toukyu" onchange="sortTable('toukyu')" style="margin-top:4px;">
        <option value="">-</option><option value="ascend">▲</option><option value="descend">▼</option>
      </select>
    </th>
    <th rowspan="2" class="corner2" style="width:50px">職員ID<br/>
      <select class="sortKey" id="sort_score_empid" onchange="sortTable('empid')" style="margin-top:4px;">
        <option value="">-</option><option value="ascend">▲</option><option value="descend">▼</option>
      </select>
    </th>
    <th rowspan="2" class="corner2" style="width:100px">職員名</th>
    <? if (count($pastRevisionRows)>=3) { ?>
    <th rowspan="2" class="corner4" title="<?=hh($pastRevisionRows[2]["revnm"])?>"><nobr>３<br>回<br>前</nobr></th>
    <? } ?>
    <? if (count($pastRevisionRows)>=2) { ?>
    <th rowspan="2" class="corner4" title="<?=hh($pastRevisionRows[1]["revnm"])?>"><nobr>２<br>回<br>前</nobr></th>
    <? } ?>
    <? if (count($pastRevisionRows)>=1) { ?>
    <th rowspan="2" class="corner4" title="<?=hh($pastRevisionRows[0]["revnm"])?>"><nobr>１<br>回<br>前</nobr></th>
    <? } ?>
    <? for ($idx=1; $idx<=$max_hstep; $idx++) { ?>
      <th colspan="3" style="font-size:11px"><nobr><?=$idx?>次評価</nobr></th>
    <? } ?>
    <th rowspan="2" style="width:50px; font-size:11px" class="corner2"><nobr>調整<br>スコア</nobr></th>
    <th colspan="2" style="font-size:11px" class="corner2"><nobr>最終</nobr></th>
    <th rowspan="2"><nobr>実施<br>状態</nobr></th>
    <th rowspan="2" style="font-size:10px;"><nobr>フ<br>ィ<br>｜<br>ド<br>バ<br>ッ<br>ク</nobr></th>
  </tr>
  <tr class="header">
    <? for ($idx=1; $idx<=$max_hstep; $idx++) { ?>
      <th style="font-size:11px; line-height:1">ス<br>コ<br>ア<br/>
        <select class="sortKey" id="sort_score_<?=$idx?>" onchange="sortTable('<?=$idx?>')" style="margin-top:4px;">
          <option value="">-</option><option value="ascend">▲</option><option value="descend">▼</option>
        </select>
      </th>
      <th style="font-size:11px; line-height:1">ラ<br>ン<br>ク</th>
      <th style="font-size:11px; line-height:1">評<br>価<br>者</th>
    <? } ?>
    <th style="font-size:11px; line-height:1" class="corner2">ス<br>コ<br>ア<br/>
      <select class="sortKey" id="sort_score_saisyu" onchange="sortTable('saisyu')" style="margin-top:4px;">
        <option value="">-</option><option value="ascend">▲</option><option value="descend">▼</option>
      </select>
    </th>
    <th style="font-size:11px; line-height:1" class="corner2">ラ<br>ン<br>ク</th>
  </tr>


  <? $rIdx = 0; ?>
  <? foreach ($empsRows as $empRow) {
      $rIdx++;
      $pastEmpRow = $pastEmpsRows[$empRow["empid"]];

      $progress = (int)$empRow["progress_hyoka"];
      $html_msg = "";
      $kojin_hyo_step = (int)$empRow["kojin_hyo_step"];
      if (!$kojin_hyo_step) $kojin_hyo_step = $max_hstep;
      if ($progress<=$kojin_hyo_step) $html_msg = '<span style="padding:0 2px; color:#ffffff; background-color:#aaaaaa">'.$progress.'次実施中</span>';

      $feedback_msg = $empRow["hyo_feedback"] ? '<span style="padding:0 2px; color:#ffffff; background-color:#aaaaaa">済</span>' : '';

      // 過去について
      $past_hyo_step = array(0, 0, 0);
      for ($tidx=0; $tidx<=2; $tidx++) {
        $past_hyo_step[$tidx] = (int)$pastEmpRow[$pastRevIds[$tidx]]["kojin_hyo_step"];
        if (!$past_hyo_step[$tidx]) $past_hyo_step[$tidx] = (int)$pastRevisionRows[$tidx]["hyo_step"];
      }
  ?>
    <tr class="emp" id="adjtr<?=$rIdx?>" empid="<?=$empRow["empid"]?>">
      <td><nobr><?=hh($empRow["syokusyu"])?></nobr></td>
      <td><nobr><?=hh($empRow["syozoku"])?></nobr></td>
      <td><nobr><?=hh($empRow["yakusyoku"])?></nobr></td>
      <td><nobr><?=hh($empRow["sisetu"])?></nobr></td>
      <? if ($bunrui_ext1) { ?><td><nobr><?=hh($empRow["bunrui_ext1"])?></nobr></td><? } ?>
      <? if ($bunrui_ext2) { ?><td><nobr><?=hh($empRow["bunrui_ext2"])?></nobr></td><? } ?>
      <td><nobr><?=hh($empRow["toukyu"])?></nobr></td>
      <td class="left"><nobr><?=hh($empRow["empid"])?></nobr></td>
      <td class="left"><nobr><a class="block" href="javascript:void(0)"
        onclick="loadEditor('', ee('iptadjid_<?=$rIdx?>').name.substring(7))"><?=hh($empRow["empnm"])?></a></nobr></td>
      <? //==================================================== ?>
      <? // ３回前、２回前、１回前の最終スコア、最終ランク      ?>
      <? //==================================================== ?>
      <?
      $before_rank = ""; // 前の期間のランク
      for ($tidx=count($pastRevisionRows)-1; $tidx>=0; $tidx--) {
        $_ttl = $pastEmpRow[$pastRevIds[$tidx]]["hyo".$past_hyo_step[$tidx]."_ttl"];
        $_adjust = (int)$pastEmpRow[$pastRevIds[$tidx]]["adjust"];
        $_score = (strlen($_ttl) || $_adjust ? $_ttl + $_adjust : ""); // 最終スコア
        $msg = (strlen($_score) ? "最終スコア".$_score : "最終スコアはありません");
        // ランクを求める
        // 今回のゲージにおいて、ひとつ前のランクが今回のランクより大きいか否かも求める
        $past_rank = ""; // この期間のランク
        $uprank = ""; // ランクの変化を示す文字列
        $exist_rank = ""; // 前回ついたランクが今回存在しているかどうかのチェック
        $msg2 = "";
        $ranks = array();
        if (strlen($_score)) { // スコアが存在
          foreach ($pastTtlRank[$tidx] as $_rrow) { // ランク基準値をループ（高いランクから）
            $__rank = $_rrow["rank"];
            $__score = $_rrow["score"]; //基準スコア
            if (!$past_rank && $__score <= $_score) {
              $past_rank = $__rank; // 最初に基準スコアを上回ったら、ランクが決定する
            }
            // 前回のスコアを基準に、今回のランクの決定状況に応じてランク上下を決めていく
            if (!$uprank && $before_rank) {
              if ($past_rank && $before_rank == $past_rank) $uprank = "even";
              else if ($past_rank && $past_rank == $__rank) $uprank = "up";
              else if ($before_rank == $__rank) $uprank = "down";
            }
            if ($before_rank && $before_rank == $__rank ) $exist_rank = 1;
            $ranks[]= $__rank;
          }
          if (!strlen($past_rank)) $past_rank = $pastDefRank[$tidx];
          if (!$exist_rank && $before_rank) {
            $uprank = "odd"; // ランク記号に互換なし
            $msg2 = "\n(前回ランク記号=".$before_rank." / ランク=".implode(",", $ranks).")";
          }
        }
        if ($past_rank) $before_rank = $past_rank;

        // 表示する
        echo '<td style="padding:0 8px 3px 3px;" id="'.($tidx+1).'_rank'.$rIdx.'" rank="'.hh($past_rank).'" >';
        echo getSougouRankTag($past_rank, $uprank,  '評価ステップ数'.$past_hyo_step[$tidx].' / '.$msg, $msg2);
        echo '</td>';
      }
      ?>
      <? for ($_step=1; $_step<=$max_hstep; $_step++) { ?>
        <? $is_blank = ((int)$empRow["kojin_hyo_step"] && (int)$empRow["kojin_hyo_step"] < $_step ? 1 : 0); ?>
        <? if ($is_blank) { ?>
          <td class="gray_hover gray2">―</td>
          <td class="gray_hover gray2">―</td>
          <td class="gray_hover gray2">―</td>
        <? } else { ?>
          <? //============================ ?>
          <? // スコア（ステップ別）        ?>
          <? //============================ ?>
          <td style="color:#58a0ea"><?=$empRow["hyo".$_step."_ttl"]?></td>
          <? //============================ ?>
          <? // ランク（ステップ別）        ?>
          <? //============================ ?>
          <td id="tdrank<?=$rIdx?>_<?=$_step?>"
            <?
            $score = $empRow["hyo".$_step."_ttl"];
            if (strlen($score)) {
              $rank = "";
              foreach ($ttl_rank as $_rrow) {
                $_rank = $_rrow["rank"];
                $_score = $_rrow["score"];
                if ($_score <= $score) { $rank = $_rank; break; }
              }
              if (!strlen($rank)) $rank = $def_rank;
              echo $rank;
            }
          ?>
          </td>
          <td>
            <?=$empRow["hyouka".$_step."_empnm"]?>
          </td>
        <? } ?>
      <? } ?>
      <? //============================ ?>
      <? // 調整スコア                  ?>
      <? //============================ ?>
      <td style="padding-top:0; padding-bottom:3px">
        <? if ($is_active_span) { ?>
        <input type="text" class="text imeoff w40" defval="<?=hh($empRow["adjust"])?>" value="<?=hh($empRow["adjust"])?>"
          id="iptadjid_<?=$rIdx?>" name="iptadj_<?=hh($empRow["empid"])?>" onchange="adjChanged(<?=$rIdx?>, this)" />
        <? } else { ?>
          <?=hh($empRow["adjust"])?>
        <? } ?>
      </td>
      <? //============================ ?>
      <? // 最終スコア                  ?>
      <? //============================ ?>
      <td id="ttl_score<?=$rIdx?>" style="color:#58a0ea"><?=$empRow["hyo".$kojin_hyo_step."_ttl"]?></td>
      <? //============================ ?>
      <? // 最終ランク                  ?>
      <? //============================ ?>
      <td id="ttl_rank<?=$rIdx?>" before_rank="<?=hh($before_rank)?>">
        <?
        $score = $empRow["hyo".$kojin_hyo_step."_ttl"];
        $last_rank = "";
        $uprank = "";
        $exist_rank = "";
        $ranks = array();
        if (strlen($score)) {
          foreach ($ttl_rank as $_rrow) {
            $__rank = $_rrow["rank"];
            $__score = $_rrow["score"];

            if (!$past_rank && $__score <= $score) { $past_rank = $__rank; }
            if (!$uprank && $before_rank) {
              if ($past_rank && $before_rank == $past_rank) $uprank = "even";
              else if ($past_rank && $past_rank == $__rank) $uprank = "up";
              else if ($before_rank == $__rank) $uprank = "down";
              if ($before_rank && $before_rank == $__rank ) $exist_rank = 1;
            }
            $ranks[]= $__rank;
            if ($__score <= $score) { $last_rank = $__rank; break; }
          }
          if (!strlen($last_rank)) $last_rank = $def_rank;
          if (!$exist_rank && $before_rank) {
            $uprank = "odd"; // ランク記号に互換なし
            $msg2 = "\n（前回=".$before_rank."/ランク=".implode(",", $ranks)."）";
          }
          echo getSougouRankTag($last_rank, $uprank, "", $msg2);
        }
        ?>
      </td>
      <? //============================ ?>
      <? // 実施状態                    ?>
      <? //============================ ?>
      <td style="padding-top:0; padding-bottom:3px">
        <div style="height:23px; padding-top:4px; padding-bottom:0"><nobr><?=$html_msg?></nobr></div>
      </td>
      <? //============================ ?>
      <? // フィードバック                 ?>
      <? //============================ ?>
      <td style="padding-top:0; padding-bottom:3px"
        title="<?=($empRow["hyo_feedback"] ? $empRow["hyo_feedback_name"]."\n".$empRow["hyo_feedback_datetime"] : "")?>" >
        <div style="height:23px; padding-top:4px; padding-bottom:0"><nobr><?=$feedback_msg?></nobr></div>
      </td>
    </tr>
  <? } ?>
  </table>
  <? } // is_auth_exist ?>

  </form>
<?
  die;
} // end of load_default





//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
echoStaticHtml();
?>
<link href="./lib/css/multiple-select.css" rel="stylesheet"/>
<script src="./lib/js/multiple-select.js"></script>
</head>
<body onload="loadInit()">
<script type="text/javascript">
  //**********************************************************************************************
  // 変数・定数
  //**********************************************************************************************
  <?
    // 関係する全データ取得
    $sql =
    " select empid, empnm, syozoku, syokusyu, yakusyoku, sisetu, bunrui_ext1, bunrui_ext2, toukyu,hyo_feedback, 0 as is_hidden".
    ",jiko_ttl,hyo1_ttl as ht1, hyo2_ttl as ht2, hyo3_ttl as ht3, hyo4_ttl as ht4, hyo5_ttl as ht5, hyo6_ttl as ht6".
    ",adjust, adjust as def_adjust, '' as rank, kojin_hyo_step".
    ",hyouka1_empid, hyouka2_empid, hyouka3_empid, hyouka4_empid, hyouka5_empid, hyouka6_empid".
    " from ".$cid."_hnv_casts_mbo".
    " where revid = ".$revid.
    " and is_excluded <> '1'".
    " order by sort_order, empid";
    $_empsRows = c2dbGetRows($sql);
    $bunpu_toukyu = array();
    $bunpu_syozoku = array();
    $bunpu_syokusyu = array();
    $bunpu_yakusyoku = array();
    $bunpu_sisetu = array();
    $bunpu_bunrui_ext1 = array();
    $bunpu_bunrui_ext2 = array();
    foreach ($_empsRows as $_row) {
      $bunpu_toukyu[$_row["toukyu"]] = 1;
      $bunpu_syozoku[$_row["syozoku"]] = 1;
      $bunpu_syokusyu[$_row["syokusyu"]] = 1;
      $bunpu_yakusyoku[$_row["yakusyoku"]] = 1;
      $bunpu_sisetu[$_row["sisetu"]] = 1;
      $bunpu_bunrui_ext1[$_row["bunrui_ext1"]] = 1;
      $bunpu_bunrui_ext2[$_row["bunrui_ext2"]] = 1;
    }
    krsort($bunpu_toukyu);
    ksort($bunpu_syozoku);
    ksort($bunpu_syokusyu);
    ksort($bunpu_yakusyoku);
    ksort($bunpu_sisetu);
    ksort($bunpu_bunrui_ext1);
    ksort($bunpu_bunrui_ext2);
  ?>
  var empsRows = <?=c2ToJson($_empsRows)?>;
  var bunpuMaster = {
    toukyu:<?=c2ToJson(array_keys($bunpu_toukyu))?>,
    syozoku:<?=c2ToJson(array_keys($bunpu_syozoku))?>,
    syokusyu:<?=c2ToJson(array_keys($bunpu_syokusyu))?>,
    yakusyoku:<?=c2ToJson(array_keys($bunpu_yakusyoku))?>,
    sisetu:<?=c2ToJson(array_keys($bunpu_sisetu))?>,
    bunrui_ext1:<?=c2ToJson(array_keys($bunpu_bunrui_ext1))?>,
    bunrui_ext2:<?=c2ToJson(array_keys($bunpu_bunrui_ext2))?>
  };
  var scTop = 0;
  var levels = <?=c2ToJson($hyo_level)?>;
  levels[0] = "&nbsp;";
  var ttl_rank = <?=c2ToJson($ttl_rank)?>;
  var def_rank = ttl_rank[ttl_rank.length-1].rank;
  for (var idx=0; idx<ttl_rank.length-1; idx++) {
    ttl_rank[idx].int_score = int(ttl_rank[idx].score);
    ttl_rank[idx].def_int_score = int(ttl_rank[idx].score);
  }
  var revisionRow = <?=c2ToJson($revisionRow)?>;
  var pastRevisions = <?=c2ToJson($pastRevisionRows)?>;
  pastRevisions.unshift(revisionRow);

  //**********************************************************************************************
  //
  //**********************************************************************************************
  function loadInit() {
    $.ajax({url:"saisyuMbo.html?ajax_action=load_default", success:function(msg) {
      var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
      ee("div_list").innerHTML = msg;
      calcAll();
      setCombo();
    }});
  }
  function setCombo () {
    $('#find_syokusyu').multipleSelect({placeholder:"(職種)",selectAll: true ,selectAllText:'全部を選択',allSelected:'(職種：全選択)', onClick:showAdjustRows , onCheckAll:showAdjustRows });
    $('#find_syozoku').multipleSelect({placeholder:"(所属部署)",selectAll: true ,selectAllText:'全部を選択',allSelected:'(所属部署：全選択)', onClick:showAdjustRows , onCheckAll:showAdjustRows});
    $('#find_yakusyoku').multipleSelect({placeholder:"(役職)",selectAll: true ,selectAllText:'全部を選択',allSelected:'(役職：全選択)', onClick:showAdjustRows , onCheckAll:showAdjustRows});
    $('#find_sisetu').multipleSelect({placeholder:"(所属施設)",selectAll: true ,selectAllText:'全部を選択',allSelected:'(所属施設：全選択)', onClick:showAdjustRows , onCheckAll:showAdjustRows});
    if ($('#find_bunrui_ext1')) {$('#find_bunrui_ext1').multipleSelect({placeholder:"(<?=$bunrui_ext1?>)",selectAll: true ,selectAllText:'全部を選択',allSelected:'(<?=$bunrui_ext1?>：全選択)', onClick:showAdjustRows , onCheckAll:showAdjustRows});}
    if ($('#find_bunrui_ext2')) {$('#find_bunrui_ext2').multipleSelect({placeholder:"(<?=$bunrui_ext2?>)",selectAll: true ,selectAllText:'全部を選択',allSelected:'(<?=$bunrui_ext2?>：全選択)', onClick:showAdjustRows , onCheckAll:showAdjustRows});}
    $('#find_toukyu').multipleSelect({placeholder:"(等級)",selectAll: true ,selectAllText:'全部を選択',allSelected:'(等級：全選択)', onClick:showAdjustRows , onCheckAll:showAdjustRows});
    $('#find_feedback').multipleSelect({placeholder:"(フィードバック)",selectAll: true,selectAllText:'全部を選択',allSelected:'(フィードバック：全選択)' , onClick:showAdjustRows , onCheckAll:showAdjustRows});
    for (var i = 1 ; i <= 6 ; i++) {
      if ($('#find_hyoka_emp'+i)) {$('#find_hyoka_emp'+i).multipleSelect({placeholder:"("+i+"次評価者)",selectAll: true,selectAllText:'全部を選択',allSelected:'('+i+'次評価者：全選択)' , onClick:showAdjustRows , onCheckAll:showAdjustRows});}
    }
  }
  //**********************************************************************************************
  //
  //**********************************************************************************************
  function getRank(score, beforeRank) {
    var existRank = "";
    var retRank = ttl_rank[ttl_rank.length-1];
    var uprank = "";
    var aaa = "";
    if ((""+score).length) {
      retRank = "";
      for (var idx=ttl_rank.length-2; idx>=0; idx--) {
        var _ttl_score = parseInt(ttl_rank[idx].int_score,10);
        var _ttl_rank = ttl_rank[idx+1].rank;
        if (!retRank && _ttl_score > parseInt(score,10)) retRank = _ttl_rank;
        if (!uprank && retRank && beforeRank) uprank = "down";
        if (!uprank && beforeRank && beforeRank == _ttl_rank) uprank = "up";
        if (beforeRank && beforeRank == _ttl_rank ) existRank = 1;
        aaa += _ttl_rank;
      }
      if (!retRank) {
        retRank = ttl_rank[0].rank;
        if (beforeRank && beforeRank==retRank) existRank = 1;
      }
      if (!existRank && beforeRank && beforeRank!=ttl_rank[0].rank) uprank = "odd"; // ランク記号に互換なし
    }
//    if (uprank=="odd") alert(retRank+"@"+beforeRank+"@"+aaa);
    if (beforeRank && beforeRank==retRank) uprank = "even";
    return {rank:retRank, uprank:uprank};
  }
  //**********************************************************************************************
  //
  //**********************************************************************************************
  function adjChanged(rIdx, tbox) {
    if (tbox.value.length) {
      if (tbox.value != ""+(int(tbox.value))) tbox.value = int(tbox.value);
      empsRows[rIdx-1]["adjust"] = int(tbox.value);
    } else {
      empsRows[rIdx-1]["adjust"] = "";
    }
    if (tbox.value==empsRows[rIdx-1]["def_adjust"]) $(tbox).removeClass("is_diff");
    else $(tbox).addClass("is_diff");
    calcAll();
  }
  //**********************************************************************************************
  //
  //**********************************************************************************************
  function rankChanged(tbox, idx) {
    ee("ipt_rank"+idx).value = int(ee("ipt_rank"+idx).value);
    if (ttl_rank[idx].def_int_score != int(ee("ipt_rank"+idx).value)) $(tbox).addClass("is_diff");
    else $(tbox).removeClass("is_diff");
    calcAll();
  }
  //**********************************************************************************************
  //
  //**********************************************************************************************

  function jsGetSougouRankTag(rank, uprank, msg) {
    if (msg) msg += "\n";
    var html = '<div style="padding-left:0px; line-height:13px; padding-top:1px; ';
    if (uprank=="up")   return html +'no-repeat 0 1px" title="'+msg+'前回よりランクUPしています">'+rank+'</div>';
    if (uprank=="down") return html +'no-repeat 0 10px" title="'+msg+'前回よりランクDOWNしています">'+rank+'</div>';
    if (uprank=="even") return html +'no-repeat 0 5px" title="'+msg+'前回と比較して、ランクに変更ありません">'+rank+'</div>';
    if (uprank=="odd")  return html +'no-repeat 0 6px" title="'+msg+'前回ランクの記号が、この回には存在しないため、比較できません">'+rank+'</div>';
    return '<div style="padding-left:0px; line-height:26px;" title="'+msg+'比較できる前回データはありません。３回前までにランクが決定されていません">'+rank+'</div>';
  }
  //**********************************************************************************************
  //
  //**********************************************************************************************
  function calcAll() {
    for (var idx=ttl_rank.length-2; idx>=0; idx--) {
      ee("ipt_rank"+idx).value = int(ee("ipt_rank"+idx).value);
      ttl_rank[idx].int_score = ee("ipt_rank"+idx).value;
    }
    // 個人ごとのランクを求める
    var bunpuType = getComboValue(ee("rank_bunpu"));
    var ranks = [];
    var bunpuData = {};
    for (var cIdx=0; cIdx<bunpuMaster[bunpuType].length; cIdx++) {
      var cate = bunpuMaster[bunpuType][cIdx];
      bunpuData[cate] = {};
      for (var idx=ttl_rank.length-1; idx>=0; idx--) {
        bunpuData[cate][ttl_rank[idx].rank] = 0;
      }
    }

    var revMaxStep = <?=$revisionRow["hyo_step"]?>;
    var totalCount = empsRows.length;
    for (var rIdx=1; rIdx<=totalCount; rIdx++) {
      var empsRow = empsRows[rIdx-1];
      var maxStep = int(empsRow["kojin_hyo_step"]);
      if (maxStep==0) maxStep = revMaxStep;
      var lastScore = "";
      var beforeRank = str(ee("ttl_rank"+rIdx).getAttribute("before_rank"));
      for (var step = 1; step <= maxStep; step++) {
        var score = empsRow["ht"+step];
        if (step==maxStep && (score.length || str(empsRow["adjust"]).length)) {
          lastScore = "" + Math.round( (float(score) + int(empsRow["adjust"])) *10 )/10;
        }
        if ((""+score).length) {
          var rankObj = getRank(float(score), beforeRank);
          ee("tdrank"+rIdx+"_"+step).innerHTML = rankObj.rank;
        }
      }
      var rankObj = getRank(lastScore, beforeRank);
      var rank = rankObj.rank;
      empsRows[rIdx-1].rank = rank;
      empsRows[rIdx-1].uprank = rankObj.uprank;
      empsRows[rIdx-1].hyo9_ttl = (lastScore.length ? lastScore : "");
      ee("ttl_score"+rIdx).innerHTML = (lastScore.length ? lastScore : "");

      ee("ttl_rank"+rIdx).innerHTML = (lastScore.length ? ""+jsGetSougouRankTag(rank, rankObj.uprank, "") : "");

      var cate = empsRow[bunpuType];
      bunpuData[cate][rank]++;
    }
    var jp = ee("rank_bunpu").options[ee("rank_bunpu").selectedIndex].text;

    var html = [];
    var rankCount = {};
    html.push('<table cellspacing="0" cellpadding="0" class="list_table_mbo"><tbody>');
    html.push('<tr><th id="trb_0_0">'+jp+'</th>');
    var ccnt = 1;
    for (var idx=ttl_rank.length-1; idx>=0; idx--) {
      html.push('<td id="trb_0_'+ccnt+'" class="gray_hover w60">'+ttl_rank[idx].rank+'</td>');
      rankCount[ttl_rank[idx].rank] = 0;
      ccnt++;
    }
    html.push('<td id="trb_0_'+ccnt+'" class="gray_hover w50">合計</td>');
    html.push('<th class="corner2">Excel形式ダウンロード</th>');
    html.push('</tr>');
    var rcnt = 1;
    for (var mIdx=0; mIdx<bunpuMaster[bunpuType].length; mIdx++) {
      var cate = bunpuMaster[bunpuType][mIdx];
      html.push('<tr>');
      html.push('<td id="trb_'+rcnt+'_0">');
      html.push(cate=="" ? "（未指定）" : cate);
      html.push('</td>');
      var subCount = 0;
      for (var idx=ttl_rank.length-1; idx>=0; idx--) {
        var empCount = bunpuData[cate][ttl_rank[idx].rank];
        subCount+= empCount;
      }
      var ccnt = 1;
      for (var idx=ttl_rank.length-1; idx>=0; idx--) {
        html.push('<td>');
        var empCount = bunpuData[cate][ttl_rank[idx].rank];
        rankCount[ttl_rank[idx].rank] += empCount;
        if (empCount>0) {
          html.push('<div id="trb_'+rcnt+'_'+ccnt+'">'+empCount+"人</div>");
          html.push('<div style="color:#58a0ea">'+Math.round(empCount*1000/subCount)/10+'%</div>');
        } else {
          html.push('<div id="trb_'+rcnt+'_'+ccnt+'"></div>');
        }
        html.push('</td>');
        ccnt++;
      }
      html.push('<td>');
      html.push('<div id="trb_'+rcnt+'_'+ccnt+'">'+subCount+"人</div>");
//      html.push('<div style="color:#58a0ea">'+Math.round(subCount*1000/totalCount)/10+'%</div>');
      html.push('<div style="color:#58a0ea">100%</div>');
      html.push('</td>');
      html.push('<td class="left">');
      html.push('<button type="button" class="btn100 btn_dl" onclick="tryDownloadXls1(\''+cate+'\', 0)" <?=BTN_FOCUS_BLUR_JS?>><div>職員一覧</div></button>');
      html.push('</td>');
      html.push('</tr>');
      rcnt++;
    }

    html.push('<tr>');
    html.push('<td id="trb_'+rcnt+'_0">合計</td>');
    ccnt = 1;
    for (var idx=ttl_rank.length-1; idx>=0; idx--) {
      html.push('<td>');
      var empCount = rankCount[ttl_rank[idx].rank];
      html.push('<div id="trb_'+rcnt+'_'+ccnt+'">'+empCount+"人</div>");
      html.push('<div style="color:#58a0ea">'+Math.round(empCount*1000/totalCount)/10+'%</div>');
      html.push('</td>');
      ccnt++;
    }
    html.push('<td>');
    html.push('<div id="trb_'+rcnt+'_'+ccnt+'">'+totalCount+"人</div>");
    html.push('<div style="color:#58a0ea">100%</div>');
    html.push('</td>');
    html.push('<td class="left">');
    html.push('<button type="button" class="btn100 btn_dl" onclick="tryDownloadXls1(\'\', 1)" <?=BTN_FOCUS_BLUR_JS?>><div>全職員一覧</div></button>&nbsp;');
    html.push('<button type="button" class="btn100 btn_dl" onclick="tryDownloadXls2()" <?=BTN_FOCUS_BLUR_JS?>><div>分布状況</div></button>');
    html.push('</td>');
    html.push('</tr>');
    html.push('</tbody>');
    html.push('</table>');
    html.push('<input type="hidden" id="rank_bunpu_max_row" value="'+rcnt+'" />');
    html.push('<input type="hidden" id="rank_bunpu_max_col" value="'+ccnt+'" >');

    ee("bunpu_table").innerHTML = html.join("");
  }
  //**********************************************************************************************
  //
  //**********************************************************************************************
  function numSorter (sortKey,order) {
    return (order === "descend")
      ?  _.sortBy(empsRows,function(e){return Number(e[sortKey]||-1) })
      :  _.sortBy(empsRows,function(e){return Number(e[sortKey]||-1)*-1 });
  }
  function strSorter (sortKey,order) {
    function fill0 (str) { return ('0000000000'+str).slice(-10) }
    var arr = JSON.parse(JSON.stringify(empsRows))
    arr.sort(function(a, b){
      a = fill0(a[sortKey]).toString().toLowerCase();
      b = fill0(b[sortKey]).toString().toLowerCase();
      if(a < b){
        return (order === "descend") ? -1 : 1;
      }else if(a > b){
        return (order === "descend") ? 1 : -1;
      }
      return 0;
    });
    return arr;
  }
  function sortTable(target) {
    var scoreSort = ee("sort_score_"+target)[ee("sort_score_"+target).selectedIndex].value;
    var sortKey = (['empid','toukyu'].indexOf(target) !== -1 ) ? target : (target === 'saisyu') ? 'hyo9_ttl' : (target === 'jiko') ? 'jiko_ttl' : 'ht'+target;
    var empsRowsSorted = (scoreSort === "") ? empsRows :
                         ( ['empid','toukyu'].indexOf(sortKey) !== -1 ) ? strSorter(sortKey,scoreSort) : numSorter(sortKey,scoreSort) ;
    var $header = $("#empsTable").find('tr.header').clone();
    for (var i = 0 ; i < empsRowsSorted.length ; i++) {
      var $row = $("#empsTable").find('tr.emp[empid='+empsRowsSorted[i].empid+']');
      var $clone = $row.clone();
      $row.remove();
      $("#empsTable").prepend($clone);
    }
    var $header = $("#empsTable").find('tr.header').remove();
    $("#empsTable").prepend($header);
    $('select.sortKey').val('');
    $("#sort_score_"+target).val(scoreSort);
  }
  //**********************************************************************************************
  //
  //**********************************************************************************************
  function showAdjustRows() {
    var ignores = {};

    var sSyokusyu = $('#find_syokusyu').multipleSelect("getSelects");
    if (sSyokusyu.length===0) ignores["syokusyu"] = 1;
    var sToukyu = $('#find_toukyu').multipleSelect("getSelects");
    if (sToukyu.length===0) ignores["toukyu"] = 1;
    var sSyozoku = $('#find_syozoku').multipleSelect("getSelects");
    if (sSyozoku.length===0) ignores["syozoku"] = 1;
    var sYakusyoku = $('#find_yakusyoku').multipleSelect("getSelects");
    if (sYakusyoku.length===0) ignores["yakusyoku"] = 1;
    var sSisetu = $('#find_sisetu').multipleSelect("getSelects");
    if (sSisetu.length===0) ignores["sisetu"] = 1;
    var sBunruiExt1 = $('#find_bunrui_ext1').multipleSelect("getSelects");
    if (sBunruiExt1.length===0) ignores["bunrui_ext1"] = 1;
    var sBunruiExt2 = $('#find_bunrui_ext2').multipleSelect("getSelects");
    if (sBunruiExt2.length===0) ignores["bunrui_ext2"] = 1;
    var sFeedback = $('#find_feedback').multipleSelect("getSelects");
    if (sFeedback.length===0) ignores["feedback"] = 1;

    var sHyokaEmps = [];
    ignores["hyoka_emps"] = [];
    for (var i = 1 ; i <= 6 ; i++) {
      if ($('#find_hyoka_emp'+i)) {
        var sEmps = $('#find_hyoka_emp'+i).multipleSelect("getSelects");
        ignores["hyoka_emps"].push( (sEmps.length>0) ? null : '1' );
        sHyokaEmps.push(sEmps);
      }
    }

    var cmbRankSpans = [ee("find_rank_span_a"),ee("find_rank_span_b")];
    var cmbRanks = [ee("find_rank_a"),ee("find_rank_b")];
    var cmbRankCondition = ee("find_rank_condition");
    if ((cmbRankSpans[0].selectedIndex==0 || cmbRanks[0].selectedIndex==0 ) && (cmbRankSpans[1].selectedIndex==0 || cmbRanks[1].selectedIndex==0 )  ) ignores["ranks"] = 1;
    var sRankSpans = [cmbRankSpans[0][cmbRankSpans[0].selectedIndex].value,cmbRankSpans[1][cmbRankSpans[1].selectedIndex].value];
    var sRanks = [cmbRanks[0][cmbRanks[0].selectedIndex].value.split(" "),cmbRanks[1][cmbRanks[1].selectedIndex].value.split(" ")];
    var sRankCondition = cmbRankCondition[cmbRankCondition.selectedIndex].value;

    var totalCount = empsRows.length;
    for (var rIdx=1; rIdx<=totalCount; rIdx++) {
      var empsRow = empsRows[rIdx-1];
      var hidden = 0; // 0は表示 / 1は非表示
      if (!ignores["toukyu"] && sToukyu.indexOf(empsRow["toukyu"])===-1) hidden = 1;
      else if (!ignores["syokusyu"] && sSyokusyu.indexOf(empsRow["syokusyu"])===-1) hidden = 1;
      else if (!ignores["syozoku"] && sSyozoku.indexOf(empsRow["syozoku"])===-1) hidden = 1;
      else if (!ignores["yakusyoku"] && sYakusyoku.indexOf(empsRow["yakusyoku"])===-1) hidden = 1;
      else if (!ignores["sisetu"] && sSisetu.indexOf(empsRow["sisetu"])===-1) hidden = 1;
      else if (!ignores["bunrui_ext1"] && sBunruiExt1.indexOf(empsRow["bunrui_ext1"])===-1) hidden = 1;
      else if (!ignores["bunrui_ext2"] && sBunruiExt2.indexOf(empsRow["bunrui_ext2"])===-1) hidden = 1;
      else if (!ignores["feedback"] && sFeedback.indexOf(empsRow["hyo_feedback"])===-1) hidden = 1;
      else if (!ignores["hyoka_emps"][0] && sHyokaEmps[0].indexOf(empsRow["hyouka1_empid"])===-1) hidden = 1;
      else if (!ignores["hyoka_emps"][1] && sHyokaEmps[1].indexOf(empsRow["hyouka2_empid"])===-1) hidden = 1;
      else if (!ignores["hyoka_emps"][2] && sHyokaEmps[2].indexOf(empsRow["hyouka3_empid"])===-1) hidden = 1;
      else if (!ignores["hyoka_emps"][3] && sHyokaEmps[3].indexOf(empsRow["hyouka4_empid"])===-1) hidden = 1;
      else if (!ignores["hyoka_emps"][4] && sHyokaEmps[4].indexOf(empsRow["hyouka5_empid"])===-1) hidden = 1;
      else if (!ignores["hyoka_emps"][5] && sHyokaEmps[5].indexOf(empsRow["hyouka6_empid"])===-1) hidden = 1;
      else if (!ignores["ranks"]){
        rankResults = [];
        for (var rsIdx = 0 ; rsIdx < 2 ; rsIdx++ ) {
          var hidden_tmp = 0;
          if ( sRankSpans[rsIdx] !== "" && sRanks[rsIdx].length > 1 ) { // 抽出条件が設定されているか
            var conditionRank = sRanks[rsIdx]; // 指定したランク条件 [ランク,（以上or以下or同じ）]
            // 指定した期間の分だけ、今回から順に過去に遡って検証していく
            var span = parseInt(sRankSpans[rsIdx]);
            for (var pastIndex = 0 ; pastIndex < span ; pastIndex++ ) {
              // その回のランク基準値リストを持ってくる
              var pastTtlRank = (pastRevisions[pastIndex].ttl_rank) ? pastRevisions[pastIndex].ttl_rank.split(',') : [];
              var pastTtlRankNameOnly = _.map(pastTtlRank,function(ttl_rank){
                return ttl_rank.split(':')[0];
              });
              // その回の職員のランクを取得する
              if (pastIndex === 0) {
                var compareRank = empsRow['rank'];
              } else {
                var compareRank = ( ee(pastIndex+'_rank'+rIdx) ) ? $('#'+pastIndex+'_rank'+rIdx).attr('rank') : '';
              }
              // 比較抽出を実施する
              if (conditionRank[1] === "even") { // 条件がイコール
                hidden_tmp = (conditionRank[0] !== compareRank) ? 1 : hidden_tmp; // イコールでなければ非表示に上書き
              } else {
                var conditionIndex = pastTtlRankNameOnly.indexOf(conditionRank[0]); // その回での条件値ランクとイコールのindexを取得
                var resultIndex = pastTtlRankNameOnly.indexOf(compareRank); // その回の実績ランクがどのindexに属するか
                if (conditionRank[1]=="plus") {
                  hidden_tmp = ( conditionIndex !== -1 && resultIndex !== -1 && resultIndex <= conditionIndex ) ? hidden_tmp : 1 ; // 存在しており、resultIndexの方が小さければ表示。
                } else if (conditionRank[1]=="minus") {
                  hidden_tmp = ( conditionIndex !== -1 && resultIndex !== -1 && resultIndex >= conditionIndex ) ? hidden_tmp : 1 ; // 存在しており、resultIndexの方が大きかれば表示。
                }
              }
            }
          } else {
            hidden_tmp = ( sRankCondition === "or" ) ? 1 : 0; //or条件かつ条件未設定への対応
          }
          rankResults.push(hidden_tmp);
        }
        hidden = ( sRankCondition === "and" ) ? ( (rankResults[0] === 0 && rankResults[1] === 0 ) ? 0 : 1 ) : ( (rankResults[0] === 1 && rankResults[1] === 1 ) ? 1 : 0 );
      }
      if (hidden!=empsRow["is_hidden"]) {
        empsRows[rIdx-1]["is_hidden"] = hidden;
        ee("adjtr"+rIdx).style.display = (hidden ? "none":"");
      }
    }
  }

  //**********************************************************************************************
  //
  //**********************************************************************************************
  function popupArchive(ajax_mode, empid) {
    var param = "&hstep=9&empid="+encodeURIComponent(empid)+"&arch_revid=<?=$revid?>";
    window.open("hyokaEmpsMbo.html?arch_load="+ajax_mode+param, "hnv_archive_window", "width=930,height=600,scrollbars=yes");
  }
  //**********************************************************************************************
  //
  //**********************************************************************************************
  function loadEditor(reason, empid, arch_load, arch_revid) {
    scTop = getWindowScrollTop(window);
    if (!arch_load) arch_load = "";
    if (!arch_revid) arch_revid = "";
    var param = "&hstep=9&arch_load="+arch_load+"&arch_revid="+arch_revid+"&empid="+encodeURIComponent(empid);
    $.ajax({url:"hyokaMbo.html?ajax_action=load_editor"+param, success:function(msg) {
      var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
      ee("div_list").style.display = "none";
      ee("div_editor").innerHTML = msg;
      if (ee("div_msg_save")) {
        ee("div_msg_save").innerHTML = reason;
        if (reason) ee("div_msg_save").style.display = (reason ? "block" : "none");
        if (ee("div_btn_save1")) ee("div_btn_save1").style.display = (reason ? "none": "");
      }
      if (ee("head_jissi_cancel")) ee("head_jissi_cancel").style.display = "";
      window.scrollTo(0, 0);
    }});
  }
  //**********************************************************************************************
  //
  //**********************************************************************************************
  function closeEditor() {
    ee("div_editor").innerHTML = "";
    ee("div_list").style.display = "";
    ee("head_jissi_cancel").style.display = "none";
    window.scrollTo(0, scTop);
  }
  //**********************************************************************************************
  //
  //**********************************************************************************************
  function trySaveTotalAdjust() {
    if (!confirm("ランク基準値、調整スコアを保存します。よろしいですか？")) return;
    $.ajax({url:"saisyuMbo.html?ajax_action=try_save_total_adjust", data:$(document.frm_total_adjust).serialize(), success:function(msg) {
      var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
      loadInit();
    }});
  }
  //**********************************************************************************************
  //
  //**********************************************************************************************
  function tryDownloadXls1(cate, dlType) {
    console.info('??')
    var action = "saisyuMbo.html?view_mode=try_download_xls1&cate="+encodeURIComponent(cate)+"&dltype="+dlType;
    ee("frm_total_adjust").setAttribute("action", action);
    document.frm_total_adjust.submit();
  }
  //**********************************************************************************************
  //
  //**********************************************************************************************
  function tryDownloadXls2(cate, dlType) {
    var tsv = [];
    var maxRow = int(ee("rank_bunpu_max_row").value);
    var maxCol = int(ee("rank_bunpu_max_col").value);

    for (var rIdx=0; rIdx<=maxRow; rIdx++) {
      var line = [];
      for (var cIdx=0; cIdx<=maxCol; cIdx++) {
        line.push(ee("trb_"+rIdx+"_"+cIdx).innerHTML);
      }
      tsv.push(line.join("\t"));
    }
    ee("tsv_data").value = tsv.join("\n");
    var action = "saisyuMbo.html?view_mode=try_download_xls2";
    ee("frm_total_adjust").setAttribute("action", action);
    document.frm_total_adjust.submit();
  }
  //**********************************************************************************************
  //
  //**********************************************************************************************
  function tryClearPrev(progress, empid) {
    if (!confirm(progress+"次評価を未送信に戻します。\n"+progress+"次評価結果と"+progress+"次コメントはクリアされません。\n\n差戻しを実行してよろしいですか？")) return;
    $.ajax({url:"hyokaMbo.html?ajax_action=try_clear_prev&hstep=9&empid="+encodeURIComponent(empid), success:function(msg) {
      var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
      loadInit();
      closeEditor();
    }});
  }
  //**********************************************************************************************
  //
  //**********************************************************************************************
  function trySaveFinish(is_finished) {
    if (is_finished) {
      if (!confirm("この評価期間を確定させます。\n\n確定後は編集できなくなりますが、未確定に戻すことができます。\n\nよろしいですか？")) return;
    } else {
      if (!confirm("この評価期間を未確定に戻します。よろしいですか？")) return;
    }
    $.ajax({url:"saisyuMbo.html?ajax_action=try_save_finish&is_finished="+is_finished, data:$(document.frm_total_adjust).serialize(), success:function(msg) {
      var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
      loadInit();
    }});
  }

</script>
<? echoMenuLinks(0); ?>

  <div id="content_all">

    <table cellspacing="0" cellpadding="0"><tr>
    <td>
      <div id="main_title2" title="＠最終判定" style="width:250px;"><h2 class="main_title">＠最終判定</h2></div>
    </td>
    </tr></table>

    <div>
      <div id="div_list"></div>
      <div id="div_editor"></div>
    </div>
  </div><!-- // content_all -->
</body>
</html>
