<?
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// テンプレート画面
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
require_once("common.php");

//******************************************************************************
// セッション・リクエスト判定
//******************************************************************************
if (!$_SESSION["CID"]) c2SessionErrorAndDie(); // 未ログインなら、ログインページへ
$cid = $_SESSION["CID"]; // 顧客ID

function make_file_url($row) {
	return "./templates/".$row["tmplid"]."/".$row["file_md5"]."/".hh($row["filenm"]);
}
function make_client_file_url($row) {
	return "./templates/c/".$row["tmplid"]."/".$row["file_md5"]."/".hh($row["filenm"]);
}

//**************************************************************************************************
// テンプレートのダウンロード
//**************************************************************************************************
if ($req["try_download"]) {
	$row = c2dbGetTopRow("select filenm, file_md5 from hnv_templates where tmplid = ".c2dbStr($req["tmplid"]));
	$filenm = $row["filenm"];
	if (!$filenm) alertDownloadErrorAndDie("不正なURLです。(1)(".$req["tmplid"].")");
	if ($row["file_md5"]!=$req["filehash"]) alertDownloadErrorAndDie("不正なURLです。(2)(".$req["file_md5"].")");
	$pos = strrpos($filenm, ".");
	$ext = "octet-stream";
	if ($pos!==FALSE) $ext = substr($filenm, $pos+1);
	header("Content-Disposition: attachment");
	header("Content-Type: application/".$ext);
	echo base64_decode(c2dbGetOne("select file_base64 from hnv_templates where tmplid = ".c2dbStr($req["tmplid"])));
	echo "ok";
	die;
}



//**************************************************************************************************
// （ajax）通常画面用 初期表示のロード
//**************************************************************************************************
if ($req["ajax_action"]=="load_publish") {
?>
	<div id="main_title2" title="＠お役立ち資料集" style="width:250px;"><h2 class="main_title">＠お役立ち資料集</h2></div>
	<div style="position:absolute; left:250px; top:13px">
		<? if ($_SESSION["SUPER_CID"]) { ?>
			<a href="templates.html?view_mode=admin"<?=BTN_FOCUS_BLUR?>>→ スーパークライアントメンテナンス</a>
		<? } ?>
		<? if ($_SESSION["EMPMST_ROW"]["is_admin"]) { ?>
			<a href="templates.html?view_mode=client_admin"<?=BTN_FOCUS_BLUR?>>→ 管理者メンテナンス</a>
		<? } ?>
	</div>
	<div class="instruction" style="padding:10px 0 0 20px">
		サイトで作成されたデータの独自集計・グラフ化などを行うための帳票テンプレート等のお役立ち資料集です。ご自由にダウンロードできます。<br>
		評価形式によって、適している帳票テンプレートが異なります。くわしくはお問い合わせください。
	</div>
	<div style="padding:10px;" class="left">
		<input id="search_word" class="text" type="text" placeholder="調べたいキーワードを入力してください" value="<?=$req["search_word"]?>" />
		<button type="button" class="btn100" onclick="loadSearch()"><div>検索</div></button>
		<br/><span style="color:#900;font-size:11px;"><?=$req["search_word"] ? "「".$req["search_word"]."」で絞り込み中" : "" ?></span>
	</div>
	<div style="padding-top:20px; padding-left:20px">
<?
	$search_word = $req["search_word"];
	$where = ($search_word) ? " and ( filenm like '%".$search_word."%' or tmpl_title like '%".$search_word."%' or tmpl_info like '%".$search_word."%' )" : "";
	$sql =
	" select * from hnv_templates".
	" where ( publish_mode = 'GLOBAL'".
	" ".($_SESSION["SUPER_CID"] ? " or publish_mode = 'TESTING'" : "").
	" ".(($_SESSION["EMPMST_ROW"]["is_admin"]||$_SESSION["SUPER_CID"]) ? " or publish_mode = 'ADMIN'" : "").
	" ) ".$where.
	" order by sort_order, tmplid desc";
	$templatesRows = c2dbGetRows($sql);
	$sql =
	" select * from ".$cid."_hnv_templates".
	" where ( publish_mode = 'GLOBAL'".
	" ".($_SESSION["EMPMST_ROW"]["is_admin"] ? " or publish_mode = 'TESTING'" : "").
	" ) ".$where.
	" order by sort_order, tmplid desc";
	$templatesClientRows = c2dbGetRows($sql);
	$rows = array();
	foreach ($templatesClientRows as $row) {
		$row['type'] = 'client';
		$rows[] = $row;
	}
	foreach ($templatesRows as $row) {
		$row['type'] = 'nk';
		$rows[] = $row;
	}
	$rownum = 0;
	if (count($rows)) {
		foreach ($rows as $row) {
			$rownum++;
			$file_url = ($row['type'] == 'nk') ? make_file_url($row) : make_client_file_url($row) ;
			$tmpl_type = ($row['type'] == 'nk') ? "評価Naviユーザー共通" : "当法人独自" ;
	?>
			<div style="font-size:14px">
				<a class="icon_template" href="<?=$file_url?>" target="dframe">
					<span class="num">No.<?=$rownum?></span>
					<span class="link"><?=hh($row["tmpl_title"])?> [<?=hh($tmpl_type)?>]</span>
				</a>
			</div>
			<div style="padding:5px 0 16px 40px; line-height:1.5"><?=str_replace("\n", "<br>", $row["tmpl_info"])?></div>
	<?
		}
  } else if ($search_word) { ?>
    <div style="font-size:14px">該当するお役立ち資料は見つかりませんでした。</div>
<?} else { ?>
		<div style="font-size:14px">お役立ち資料はまだアップロードされていません。</div>
<?}
	echo '</div>';
	die;
} // end of load_admin







//**************************************************************************************************
// ファイルのアップロードを行う。新規レコードを作成する。
//**************************************************************************************************
$uploadError = "";
if ($req["view_mode"]=="try_upload") {
	if (!$_SESSION["SUPER_CID"]) c2AuthErrorAndDie(); // スーパークライアントでない。インデックスページへ。
	$new_tmplid = 1 + (int)c2dbGetOne("select max(tmplid) from hnv_templates");
	$base64 = base64_encode(file_get_contents($_FILES['tmpl_file']['tmp_name']));
	$sql =
	" insert into hnv_templates (tmplid, filenm, tmpl_title, file_base64, file_md5, tmpl_info, publish_mode, sort_order)".
	" values (".$new_tmplid.", ".c2dbStr($_FILES['tmpl_file']['name']).", '', ".
	c2dbStr($base64).
	",".c2dbStr(substr(md5($new_tmplid.$base64), 0, 16)).
	", '', '', '')";
	c2dbExec($sql);
	header("Location: templates.html?view_mode=admin");
}




//**************************************************************************************************
// （ajax）テンプレートの削除
//**************************************************************************************************
if ($req["ajax_action"]=="try_delete") {
	if (!$_SESSION["SUPER_CID"]) c2AuthErrorAndDie(); // スーパークライアントでない。インデックスページへ。
	c2dbExec("delete from hnv_templates where tmplid = ".c2dbStr($req["tmplid"]));
	echo "ok";
	die;
}




//**************************************************************************************************
// （ajax）ファイルにまつわる内容を更新する
//**************************************************************************************************
if ($req["ajax_action"]=="try_save") {
	if (!$_SESSION["SUPER_CID"]) c2AuthErrorAndDie(); // スーパークライアントでない。インデックスページへ。
	$_tmplid = (int)$req["tmplid"];
	$err = array();
	if (!trim($req["tmpl_title"])) $err[]= "タイトルを指定してください。";
	if (!trim($req["tmpl_info"])) $err[]= "説明文HTMLを指定してください。";
	if (count($err)) { echo implode("\n", $err); die; }
	$sql =
	" update hnv_templates set".
	" tmpl_title = ".c2dbStr($req["tmpl_title"]).
	",tmpl_info = ".c2dbStr($req["tmpl_info"]).
	",publish_mode = ".c2dbStr($req["publish_mode"]).
	",sort_order = ".c2dbStr($req["sort_order"]).
	" where tmplid = ".$_tmplid;
	c2dbExec($sql);
	echo "ok";
	die;
}




//**************************************************************************************************
// （ajax）編集パネルのロード
//**************************************************************************************************
if ($req["ajax_action"]=="load_editor") {
	if (!$_SESSION["SUPER_CID"]) c2AuthErrorAndDie(); // スーパークライアントでない。インデックスページへ。
	$templatesRow = c2dbGetTopRow("select * from hnv_templates where tmplid = ".c2dbStr($req["tmplid"]));
	$file_url = make_file_url($templatesRow);
?>
<div style="padding:4px">
	<button type="button" class="btn130 btn_cancel" onclick="closeEditor()"<?=BTN_FOCUS_BLUR?>><div>編集一覧へ戻る</div></button>
	<button type="button" class="btn70 btn_save" onclick="trySave()"<?=BTN_FOCUS_BLUR?>><div>保存</div></button>
	<? if ($req["tmplid"]) { ?>
	<button type="button" class="btn70 btn_delete" style="margin-left:50px" onclick="tryDelete('<?=hh($templatesRow["tmplid"])?>')"<?=BTN_FOCUS_BLUR?>><div>削除</div></button>
	<? } ?>
</div>
<div>
	<form id="frm" name="frm">
		<input type="hidden" name="tmplid" value="<?=hh($templatesRow["tmplid"])?>" />
		<div><?=hh($errormsg)?></div>
		<table cellspacing="0" cellpadding="0" class="list_table prop_table">
		<tr>
			<th>テンプレートID</th>
			<td>
				<div style="border:1px solid #cccccc; width:60px; padding:4px"><?=$templatesRow["tmplid"]?></div>
				<div style="padding-top:2px">
				<span class="instruction">内部管理IDです。クライアントには見えません。</span>
				</div>
			</td>
		</tr>
		<tr>
			<th>ファイル名</th>
			<td style="height:25px">
				<a href="<?=$file_url?>" target="dframe"><?=hh($templatesRow["filenm"])?></a>
				<div style="padding-top:5px">
				リンク <input type="text" class="text w700" value="<?=$file_url?>" readonly />
				</div>
				<div style="padding-top:5px">
				<span class="instruction">ファイルを交換する場合は、いったん削除し、改めて新規登録を行う必要があります。</span><br>
				<span class="instruction">他の資料の説明HTMLに、このファイルへのリンクを用いることができます。</span><br>
				</div>
			</td>
		</tr>
		<tr>
			<th>タイトル</th>
			<td>
				<input type="text" class="text w800" name="tmpl_title" maxlength="100" value="<?=hh($templatesRow["tmpl_title"])?>" />
				<div style="padding-top:2px">
				<span class="instruction">必須入力です。HTMLは指定できません。公開時はファイルダウンロードのためのリンクになります。</span>
				</div>
			</td>
		</tr>
		<tr>
			<th>説明文HTML</th>
			<td>
				<textarea name="tmpl_info" class="w800" cols="70" rows="5" style="height:100px"><?=hh($templatesRow["tmpl_info"])?></textarea>
				<div style="padding-top:2px">
				<span class="instruction">必須入力です。複数行可能です。HTML形式です。リンクなども記述できます。</span>
				</div>
			</td>
		</tr>
		<tr>
			<th>公開範囲</th>
			<td>
				<select name="publish_mode">
					<option value="">非公開</option>
					<option value="TESTING"<?=($templatesRow["publish_mode"]=="TESTING"?" selected":"")?>>スーパークライアント</option>
					<option value="ADMIN"<?=($templatesRow["publish_mode"]=="ADMIN"?" selected":"")?>>スーパークライアント・管理者</option>
					<option value="GLOBAL"<?=($templatesRow["publish_mode"]=="GLOBAL"?" selected":"")?>>スーパークライアント・管理者・評価者</option>
				</select>
				<div style="padding-top:2px">
				<span class="instruction">「スーパークライアント」は、試験的に公開したい場合に利用してください。</span>
				</div>
			 </td>
		</tr>
		<tr>
			<th>表示順</th>
			<td>
				<input type="text" class="text w100 imeoff" name="sort_order" maxlength="10" value="<?=hh($templatesRow["sort_order"])?>" />
				<div style="padding-top:2px">
				<span class="instruction">自由かつ適当なコードを指定可能です。</span><br>
				<span class="instruction">文字コード順で画面に並べられます。例えば「B01」より「A04」が先に表示され、「9」より「10」（イチゼロ）が先に表示されることになります。</span>
				</div>
			</td>
		</tr>
		</table>
	</form>
</div>

<?
	die;
} // end of load_editor



//**************************************************************************************************
// （ajax）管理画面用 初期表示のロード
//**************************************************************************************************
if ($req["ajax_action"]=="load_admin") {
  if (!$_SESSION["SUPER_CID"]) c2AuthErrorAndDie(); // スーパークライアントでない。インデックスページへ
	$templatesRows = c2dbGetRows("select * from hnv_templates order by sort_order, tmplid desc");
?>
	<div style="padding:4px">
		<button type="button" class="btn100 btn_new" onclick="loadUploader()"<?=BTN_FOCUS_BLUR?>><div>新規作成</div></button>
	</div>
	<? if (count($templatesRows)) { ?>
		<table cellspacing="0" cellpadding="0" class="list_table">
		<tr>
			<th class="corner2">編集</th>
			<th>テンプレートID</th>
			<th>公開範囲</th>
			<th>ファイル名</th>
			<th>タイトル</th>
			<th>表示順</th>
		</tr>
		<? foreach ($templatesRows as $row) { ?>
		<tr>
			<td><button type="button btn_edit" onclick="loadEditor('<?=$row["tmplid"]?>')" class="btn60"<?=BTN_FOCUS_BLUR?>>編集</button></td>
			<td><?=$row["tmplid"]?></td>
			<td class="left">
				<?
					if ($row["publish_mode"]=="GLOBAL") echo "スーパークライアント・管理者・評価者";
					else if ($row["publish_mode"]=="ADMIN")  echo "スーパークライアント・管理者";
					else if ($row["publish_mode"]=="TESTING")  echo "スーパークライアント";
					else echo "非公開";
				?>
			</td>
			<td class="left"><?=hh($row["filenm"])?></td>
			<td class="left"><?=hh($row["tmpl_title"])?></td>
			<td><?=hh($row["sort_order"])?></td>
		</tr>
		<? } ?>
		</table>
	<? } ?>
<?
	die;
} // end of load_admin



//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
echoStaticHtml();
?>
</head>
<body onload="loadInit()" spellcheck="false">
<script type="text/javascript">
	var scTop = 0;
	var viewMode = "<?=($req["view_mode"]=="admin" ? 'admin' : ( $req["view_mode"]=="client_admin" ? 'client_admin' : 'publish') )?>";
	var divName = "<?=($req["view_mode"]=="admin" ? 'div_admin' : 'div_publish')?>";
	function loadInit() {
		<? if ($uploadError) { ?>
			ee(divName).style.display = "none";
			ee("div_uploader").style.display = "";
		<? } ?>
		ee("div_admin_header").style.display = (viewMode=="admin"?"":"none");
		if (viewMode == 'client_admin') {
			$.ajax({url:"templatesClient.html?ajax_action=load_admin", success:function(msg) {
				var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
				ee(divName).innerHTML = msg;
			}});
		} else {
			$.ajax({url:"templates.html?ajax_action=load_"+viewMode, success:function(msg) {
				var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
				ee(divName).innerHTML = msg;
			}});
		}
	}
	function loadSearch() {
		var search_word = ee("search_word").value;
		$.ajax({url:"templates.html?ajax_action=load_publish&search_word="+encodeURIComponent(search_word), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
			ee(divName).innerHTML = msg;
		}});
	}
	function loadEditor(tmplid) {
		scTop = getWindowScrollTop(window);
		$.ajax({url:"templates.html?ajax_action=load_editor&tmplid="+encodeURIComponent(tmplid), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
			ee(divName).style.display = "none";
			ee("div_editor").innerHTML = msg;
			tryFocus('tmplnm');
			window.scrollTo(0, 0);
		}});
	}
	function loadUploader() {
		scTop = getWindowScrollTop(window);
		ee(divName).style.display = "none";
		ee("div_uploader").style.display = "";
		window.scrollTo(0, 0);
	}
	function closeEditor() {
		ee("div_editor").innerHTML = "";
		ee(divName).style.display = "";
		ee("div_uploader").style.display = "none";
		window.scrollTo(0, scTop);
	}
	function tryDelete(tmplid) {
		if (!confirm("削除します。よろしいですか？")) return;
		$.ajax({url:"templates.html?ajax_action=try_delete&tmplid="+encodeURIComponent(tmplid), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
			loadInit();
			closeEditor();
		}});
	}
	function trySave() {
		if (!confirm("保存します。よろしいですか？")) return;
		$.ajax({url:"templates.html?ajax_action=try_save", data:$(document.frm).serialize(), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
			loadInit();
			closeEditor();
		}});
	}
	function loadUploaderClient() {
		scTop = getWindowScrollTop(window);
		ee(divName).style.display = "none";
		ee("div_uploader_client").style.display = "";
		window.scrollTo(0, 0);
	}
	function closeEditorClient() {
		ee("div_editor").innerHTML = "";
		ee(divName).style.display = "";
		ee("div_uploader_client").style.display = "none";
		window.scrollTo(0, scTop);
	}
	function loadEditorClient(tmplid) {
		scTop = getWindowScrollTop(window);
		$.ajax({url:"templatesClient.html?ajax_action=load_editor&tmplid="+encodeURIComponent(tmplid), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
			ee(divName).style.display = "none";
			ee("div_editor").innerHTML = msg;
			tryFocus('tmplnm');
			window.scrollTo(0, 0);
		}});
	}
	function tryDeleteClient(tmplid) {
		if (!confirm("削除します。よろしいですか？")) return;
		$.ajax({url:"templatesClient.html?ajax_action=try_delete&tmplid="+encodeURIComponent(tmplid), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
			loadInit();
			closeEditor();
		}});
	}
	function trySaveClient() {
		if (!confirm("保存します。よろしいですか？")) return;
		$.ajax({url:"templatesClient.html?ajax_action=try_save", data:$(document.frm).serialize(), success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg); if (ret==AJAX_ERROR) return;
			loadInit();
			closeEditor();
		}});
	}
  function validate() {
    var file = ee('tmpl_file').value;
    if (file === '') {
      alert('ファイルを指定してください。')
      return false;
    } else {
      return true;
    }
  }
  function validate2() {
    var file = ee('tmpl_file2').value;
    if (file === '') {
      alert('ファイルを指定してください。')
      return false;
    } else {
      return true;
    }
  }

</script>
<? echoMenuLinks(0); ?>
<div id="content_all">
	<div>
		<div id="div_publish"></div>
		<div id="div_admin_header" style="display:none">
			<div id="main_title2" title="＠お役立ち資料集" style="width:250px;"><h2 class="main_title">＠お役立ち資料集</h2></div>
			<div style="position:absolute; left:250px; top:8px">
				<button type="button" class="btn130 btn_cancel" onclick="window.location.href='templates.html';"<?=BTN_FOCUS_BLUR?>><div>公開一覧へ戻る</div></button>
			</div>
			<div class="instruction" style="padding-top:10px">
				ここからお役立ち資料集の登録・編集・削除が行えます。<br>
				お役立ち資料集は、全クライアントに対し、一律提供されます。<br>
				「全クライアントへ公開」がひとつ以上指定されると、クライアントへの公開が行われます。<br>
				<span style="color:red">この機能へは、mssログインまたはnkログイン（スーパークライアント）でのみアクセス可能です。</span>
			</div>
		</div>
		<div id="div_admin"></div>
		<div id="div_editor"></div>
		<div id="div_uploader" style="display:none">
			<div style="padding:0 0 5px 20px" class="instruction">
				<span class="instruction">最初に公開するファイルをアップロードしてください。アップロードのち、各種設定を行います。</span>
			</div>
			<div style="padding:4px">
				<button type="button" onclick="closeEditor()" class="btn180 btn_cancel"<?=BTN_FOCUS_BLUR?>><div>アップロードをやめる</div></button>
			</div>
			<form id="frm_uploader" name="frm_uploader" method="post" enctype="multipart/form-data" action="templates.html?view_mode=try_upload" onSubmit="return validate();">
				<div class="error"><?=hh($uploadError)?></div>
				<table cellspacing="0" cellpadding="0" class="list_table">
				<tr>
					<th>ファイル</th>
					<td>
						<input type="file" name="tmpl_file" id="tmpl_file" />
					</td>
					<td>
						<button type="submit" class="btn130"<?=BTN_FOCUS_BLUR?>>アップロード</button>
					</td>
				</tr>
				</table>
			</form>
		</div>
		<div id="div_uploader_client" style="display:none">
			<div style="padding:0 0 5px 20px" class="instruction">
				<span class="instruction">最初に公開するファイルをアップロードしてください。アップロードのち、各種設定を行います。</span>
			</div>
			<div style="padding:4px">
				<button type="button" onclick="closeEditorClient()" class="btn180 btn_cancel"<?=BTN_FOCUS_BLUR?>><div>アップロードをやめる</div></button>
			</div>
			<form id="frm_uploader" name="frm_uploader" method="post" enctype="multipart/form-data" action="templatesClient.html?view_mode=try_upload" onSubmit="return validate2();">
				<div class="error"><?=hh($uploadError)?></div>
				<table cellspacing="0" cellpadding="0" class="list_table">
				<tr>
					<th>ファイル</th>
					<td>
						<input type="file" name="tmpl_file" name="tmpl_file" id="tmpl_file2" />
					</td>
					<td>
						<button type="submit" class="btn130"<?=BTN_FOCUS_BLUR?>>アップロード</button>
					</td>
				</tr>
				</table>
			</form>
		</div>
	</div>
</div><!-- // content_all -->
</body>
</html>
