<?
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
// テンプレート画面
//―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
require_once("common.php");

//******************************************************************************
// セッション・リクエスト判定
//******************************************************************************
if (!$_SESSION["CID"]) c2SessionErrorAndDie(); // 未ログインなら、ログインページへ
$cid = $_SESSION["CID"]; // 顧客ID

function make_file_url($row) {
	return "./templates/c/".$row["tmplid"]."/".$row["file_md5"]."/".hh($row["filenm"]);
}


//**************************************************************************************************
// テンプレートのダウンロード
//**************************************************************************************************
if ($req["try_download"]) {
	$row = c2dbGetTopRow("select filenm, file_md5 from ".$cid."_hnv_templates where tmplid = ".c2dbStr($req["tmplid"]));
	$filenm = $row["filenm"];
	if (!$filenm) alertDownloadErrorAndDie("不正なURLです。(1)(".$req["tmplid"].")");
	if ($row["file_md5"]!=$req["filehash"]) alertDownloadErrorAndDie("不正なURLです。(2)(".$req["file_md5"].")");
	$pos = strrpos($filenm, ".");
	$ext = "octet-stream";
	if ($pos!==FALSE) $ext = substr($filenm, $pos+1);
	header("Content-Disposition: attachment");
	header("Content-Type: application/".$ext);
	echo base64_decode(c2dbGetOne("select file_base64 from ".$cid."_hnv_templates where tmplid = ".c2dbStr($req["tmplid"])));
	echo "ok";
	die;
}


//**************************************************************************************************
// ファイルのアップロードを行う。新規レコードを作成する。
//**************************************************************************************************
$uploadError = "";
if ($req["view_mode"]=="try_upload") {
	if (!$_SESSION["EMPMST_ROW"]["is_admin"]) c2AuthErrorAndDie(); // 管理者でない。インデックスページへ。
	$new_tmplid = 1 + (int)c2dbGetOne("select max(tmplid) from ".$cid."_hnv_templates");
	$base64 = base64_encode(file_get_contents($_FILES['tmpl_file']['tmp_name']));
	$sql =
	" insert into ".$cid."_hnv_templates (tmplid, filenm, tmpl_title, file_base64, file_md5, tmpl_info, publish_mode, sort_order)".
	" values (".$new_tmplid.", ".c2dbStr($_FILES['tmpl_file']['name']).", '', ".
	c2dbStr($base64).
	",".c2dbStr(substr(md5($new_tmplid.$base64), 0, 16)).
	", '', '', '')";
	c2dbExec($sql);
	header("Location: templates.html?view_mode=client_admin");
}




//**************************************************************************************************
// （ajax）テンプレートの削除
//**************************************************************************************************
if ($req["ajax_action"]=="try_delete") {
	if (!$_SESSION["EMPMST_ROW"]["is_admin"]) c2AuthErrorAndDie(); // 管理者でない。インデックスページへ。
	c2dbExec("delete from ".$cid."_hnv_templates where tmplid = ".c2dbStr($req["tmplid"]));
	echo "ok";
	die;
}




//**************************************************************************************************
// （ajax）ファイルにまつわる内容を更新する
//**************************************************************************************************
if ($req["ajax_action"]=="try_save") {
	if (!$_SESSION["EMPMST_ROW"]["is_admin"]) c2AuthErrorAndDie(); // 管理者でない。インデックスページへ。
	$_tmplid = (int)$req["tmplid"];
	$err = array();
	if (!trim($req["tmpl_title"])) $err[]= "タイトルを指定してください。";
	if (!trim($req["tmpl_info"])) $err[]= "説明文HTMLを指定してください。";
	if (count($err)) { echo implode("\n", $err); die; }
	$sql =
	" update ".$cid."_hnv_templates set".
	" tmpl_title = ".c2dbStr($req["tmpl_title"]).
	",tmpl_info = ".c2dbStr($req["tmpl_info"]).
	",publish_mode = ".c2dbStr($req["publish_mode"]).
	",sort_order = ".c2dbStr($req["sort_order"]).
	" where tmplid = ".$_tmplid;
	c2dbExec($sql);
	echo "ok";
	die;
}




//**************************************************************************************************
// （ajax）編集パネルのロード
//**************************************************************************************************
if ($req["ajax_action"]=="load_editor") {
	if (!$_SESSION["EMPMST_ROW"]["is_admin"]) c2AuthErrorAndDie(); // 管理者でない。インデックスページへ。
	$templatesRow = c2dbGetTopRow("select * from ".$cid."_hnv_templates where tmplid = ".c2dbStr($req["tmplid"]));
	$file_url = make_file_url($templatesRow);
?>
<div style="padding:4px">
	<button type="button" class="btn130 btn_cancel" onclick="closeEditor()"<?=BTN_FOCUS_BLUR?>><div>編集一覧へ戻る</div></button>
	<button type="button" class="btn70 btn_save" onclick="trySaveClient()"<?=BTN_FOCUS_BLUR?>><div>保存</div></button>
	<? if ($req["tmplid"]) { ?>
	<button type="button" class="btn70 btn_delete" style="margin-left:50px" onclick="tryDeleteClient('<?=hh($templatesRow["tmplid"])?>')"<?=BTN_FOCUS_BLUR?>><div>削除</div></button>
	<? } ?>
</div>
<div>
	<form id="frm" name="frm">
		<input type="hidden" name="tmplid" value="<?=hh($templatesRow["tmplid"])?>" />
		<div><?=hh($errormsg)?></div>
		<table cellspacing="0" cellpadding="0" class="list_table prop_table">
		<tr>
			<th>テンプレートID</th>
			<td>
				<div style="border:1px solid #cccccc; width:60px; padding:4px"><?=$templatesRow["tmplid"]?></div>
				<div style="padding-top:2px">
				<span class="instruction">内部管理IDです。</span>
				</div>
			</td>
		</tr>
		<tr>
			<th>ファイル名</th>
			<td style="height:25px">
				<a href="<?=$file_url?>" target="dframe"><?=hh($templatesRow["filenm"])?></a>
				<div style="padding-top:5px">
				リンク <input type="text" class="text w700" value="<?=$file_url?>" readonly />
				</div>
				<div style="padding-top:5px">
				<span class="instruction">ファイルを交換する場合は、いったん削除し、改めて新規登録を行う必要があります。</span><br>
				<span class="instruction">他の資料の説明HTMLに、このファイルへのリンクを用いることができます。</span><br>
				</div>
			</td>
		</tr>
		<tr>
			<th>タイトル</th>
			<td>
				<input type="text" class="text w800" name="tmpl_title" maxlength="100" value="<?=hh($templatesRow["tmpl_title"])?>" />
				<div style="padding-top:2px">
				<span class="instruction">必須入力です。HTMLは指定できません。公開時はファイルダウンロードのためのリンクになります。</span>
				</div>
			</td>
		</tr>
		<tr>
			<th>説明文HTML</th>
			<td>
				<textarea name="tmpl_info" class="w800" cols="70" rows="5" style="height:100px"><?=hh($templatesRow["tmpl_info"])?></textarea>
				<div style="padding-top:2px">
				<span class="instruction">必須入力です。複数行可能です。HTML形式です。リンクなども記述できます。</span>
				</div>
			</td>
		</tr>
		<tr>
			<th>公開範囲</th>
			<td>
				<select name="publish_mode">
					<option value="">非公開</option>
					<option value="TESTING"<?=($templatesRow["publish_mode"]=="TESTING"?" selected":"")?>>管理者</option>
					<option value="GLOBAL"<?=($templatesRow["publish_mode"]=="GLOBAL"?" selected":"")?>>管理者・評価者</option>
				</select>
				<div style="padding-top:2px">
				<span class="instruction">「管理者」は、試験的に公開したい場合に利用してください。</span>
				</div>
			 </td>
		</tr>
		<tr>
			<th>表示順</th>
			<td>
				<input type="text" class="text w100 imeoff" name="sort_order" maxlength="10" value="<?=hh($templatesRow["sort_order"])?>" />
				<div style="padding-top:2px">
				<span class="instruction">自由かつ適当なコードを指定可能です。</span><br>
				<span class="instruction">文字コード順で画面に並べられます。例えば「B01」より「A04」が先に表示され、「9」より「10」（イチゼロ）が先に表示されることになります。</span>
				</div>
			</td>
		</tr>
		</table>
	</form>
</div>

<?
	die;
} // end of load_editor



//**************************************************************************************************
// （ajax）管理画面用 初期表示のロード
//**************************************************************************************************
if ($req["ajax_action"]=="load_admin") {
	$templatesRows = c2dbGetRows("select * from ".$cid."_hnv_templates order by sort_order, tmplid desc");
?>
	<div style="padding:4px">
		<button type="button" class="btn100 btn_new" onclick="loadUploaderClient()"<?=BTN_FOCUS_BLUR?>><div>新規作成</div></button>
	</div>
	<? if (count($templatesRows)) { ?>
		<table cellspacing="0" cellpadding="0" class="list_table">
		<tr>
			<th class="corner2">編集</th>
			<th>テンプレートID</th>
			<th>公開範囲</th>
			<th>ファイル名</th>
			<th>タイトル</th>
			<th>表示順</th>
		</tr>
		<? foreach ($templatesRows as $row) { ?>
		<tr>
			<td><button type="button btn_edit" onclick="loadEditorClient('<?=$row["tmplid"]?>')" class="btn60"<?=BTN_FOCUS_BLUR?>>編集</button></td>
			<td><?=$row["tmplid"]?></td>
			<td class="left">
				<?
					if ($row["publish_mode"]=="GLOBAL") echo "管理者・評価者";
					else if ($row["publish_mode"]=="TESTING")  echo "管理者";
					else echo "非公開";
				?>
			</td>
			<td class="left"><?=hh($row["filenm"])?></td>
			<td class="left"><?=hh($row["tmpl_title"])?></td>
			<td><?=hh($row["sort_order"])?></td>
		</tr>
		<? } ?>
		</table>
	<? } ?>
<?
	die;
} // end of load_admin



//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
echoStaticHtml();
?>
</head>
<body onload="loadInit()" spellcheck="false">
<script type="text/javascript">
	var scTop = 0;
	var viewMode = "<?=($req["view_mode"]=="admin" ? 'admin' : 'publish')?>";
	var divName = "<?=($req["view_mode"]=="admin" ? 'div_admin' : 'div_publish')?>";
	function loadInit() {
		<? if ($uploadError) { ?>
			ee(divName).style.display = "none";
			ee("div_uploader_client").style.display = "";
		<? } ?>
		ee("div_admin_header").style.display = (viewMode=="admin"?"":"none");
		$.ajax({url:"templatesClient.html?ajax_action=load_"+viewMode, success:function(msg) {
			var ret = getCustomTrueAjaxResult(msg, '', 1); if (ret==AJAX_ERROR) return;
			ee(divName).innerHTML = msg;
		}});
	}
</script>
<? echoMenuLinks(0); ?>
</body>
</html>
